<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top"><th align="left">Location</th><th align="left">Size</th><th align="left">MD5&nbsp;Sum</th></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.0.4/src/kdeaccessibility-4.0.4.tar.bz2">kdeaccessibility-4.0.4</a></td><td align="right">6.1MB</td><td><tt>d7441d57f0d13f051d2520c7564a9210</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.0.4/src/kdeadmin-4.0.4.tar.bz2">kdeadmin-4.0.4</a></td><td align="right">1.3MB</td><td><tt>e0ed4220ca171311fa98e5edeb838214</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.0.4/src/kdeartwork-4.0.4.tar.bz2">kdeartwork-4.0.4</a></td><td align="right">41MB</td><td><tt>db07596da98058cde44a15a1e22e4752</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.0.4/src/kdebase-4.0.4.tar.bz2">kdebase-4.0.4</a></td><td align="right">4.2MB</td><td><tt>ba701b133d8ad080f8cf1a38e0cce6d9</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.0.4/src/kdebase-runtime-4.0.4.tar.bz2">kdebase-runtime-4.0.4</a></td><td align="right">47MB</td><td><tt>fa5d1a0fb2156cf0889b0f037878e912</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.0.4/src/kdebase-workspace-4.0.4.tar.bz2">kdebase-workspace-4.0.4</a></td><td align="right">29MB</td><td><tt>362f493e491101fe71af8ad5903d1dc0</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.0.4/src/kdebindings-4.0.4.tar.bz2">kdebindings-4.0.4</a></td><td align="right">3.8MB</td><td><tt>43dc6a420252829ec6ceadb182f12f6a</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.0.4/src/kdeedu-4.0.4.tar.bz2">kdeedu-4.0.4</a></td><td align="right">41MB</td><td><tt>5d996126e3606f858442399c5e58e59e</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.0.4/src/kdegames-4.0.4.tar.bz2">kdegames-4.0.4</a></td><td align="right">23MB</td><td><tt>b5e29b4fdd3b93d6530b079e9ba6b1c1</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.0.4/src/kdegraphics-4.0.4.tar.bz2">kdegraphics-4.0.4</a></td><td align="right">2.4MB</td><td><tt>65b6816da2db65f0326a34cdc2115326</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.0.4/src/kdelibs-4.0.4.tar.bz2">kdelibs-4.0.4</a></td><td align="right">8.7MB</td><td><tt>4b0ee355652e8ef90d454d605222a714</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.0.4/src/kdemultimedia-4.0.4.tar.bz2">kdemultimedia-4.0.4</a></td><td align="right">1.1MB</td><td><tt>4b9a44f423f2f0577f06cd69672e9de2</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.0.4/src/kdenetwork-4.0.4.tar.bz2">kdenetwork-4.0.4</a></td><td align="right">6.1MB</td><td><tt>139c1f7fbe747baacf31c086b4a6827c</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.0.4/src/kdepimlibs-4.0.4.tar.bz2">kdepimlibs-4.0.4</a></td><td align="right">1.7MB</td><td><tt>cde9246343fb82e6cbb577eec389cc05</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.0.4/src/kdesdk-4.0.4.tar.bz2">kdesdk-4.0.4</a></td><td align="right">4.1MB</td><td><tt>7c030cef51040ff99b4bcea6cfab8756</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.0.4/src/kdetoys-4.0.4.tar.bz2">kdetoys-4.0.4</a></td><td align="right">2.2MB</td><td><tt>b0ab4ec1cf89d4c325d196b37fdf8e17</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.0.4/src/kdeutils-4.0.4.tar.bz2">kdeutils-4.0.4</a></td><td align="right">2.3MB</td><td><tt>0f662710159801722435bd0121ac448e</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.0.4/src/kdewebdev-4.0.4.tar.bz2">kdewebdev-4.0.4</a></td><td align="right">1.2MB</td><td><tt>bcdd37555bfe12cb780c7ab4e266f27a</tt></td></tr>
</table>
