<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">MD5&nbsp;Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/3.4.1/src/arts-1.4.1.tar.bz2">arts-1.4.1</a></td>
   <td align="right">952kB</td>
   <td><tt>f632984ddc976a1e4243718af54559ee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/3.4.1/src/kdeaccessibility-3.4.1.tar.bz2">kdeaccessibility-3.4.1</a></td>
   <td align="right">7.1MB</td>
   <td><tt>a8f51420c214bbf36efa54c99e24fdd9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/3.4.1/src/kdeaddons-3.4.1.tar.bz2">kdeaddons-3.4.1</a></td>
   <td align="right">1.5MB</td>
   <td><tt>596c3a7f4ef43e2f0bd760196a6b119b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/3.4.1/src/kdeadmin-3.4.1.tar.bz2">kdeadmin-3.4.1</a></td>
   <td align="right">1.4MB</td>
   <td><tt>ee02e3caf664d825838698b44557b0ef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/3.4.1/src/kdeartwork-3.4.1.tar.bz2">kdeartwork-3.4.1</a></td>
   <td align="right">17MB</td>
   <td><tt>0f58245c2fa3c58dbe139da43037a203</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/3.4.1/src/kdebase-3.4.1.tar.bz2">kdebase-3.4.1</a></td>
   <td align="right">21MB</td>
   <td><tt>8fbe0b943721b79f2549064b580acdde</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/3.4.1/src/kdebindings-3.4.1.tar.bz2">kdebindings-3.4.1</a></td>
   <td align="right">6.8MB</td>
   <td><tt>18a4e2c42d34bb86279e691498482951</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/3.4.1/src/kdeedu-3.4.1.tar.bz2">kdeedu-3.4.1</a></td>
   <td align="right">22MB</td>
   <td><tt>9fa1db1cf500c0fc594b0f5d291bbf69</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/3.4.1/src/kdegames-3.4.1.tar.bz2">kdegames-3.4.1</a></td>
   <td align="right">8.9MB</td>
   <td><tt>6af3f45a1c959324c44d4b08bd552f16</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/3.4.1/src/kdegraphics-3.4.1.tar.bz2">kdegraphics-3.4.1</a></td>
   <td align="right">6.2MB</td>
   <td><tt>d91ef530a416bd8407abb28103bc049c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/3.4.1/src/kdelibs-3.4.1.tar.bz2">kdelibs-3.4.1</a></td>
   <td align="right">16MB</td>
   <td><tt>67224e6b55856c23b0a162cab17dd1b4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/3.4.1/src/kdemultimedia-3.4.1.tar.bz2">kdemultimedia-3.4.1</a></td>
   <td align="right">5.2MB</td>
   <td><tt>db69c9ab845c8295f095dc6394fba047</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/3.4.1/src/kdenetwork-3.4.1.tar.bz2">kdenetwork-3.4.1</a></td>
   <td align="right">7.0MB</td>
   <td><tt>cfdec84537bd20f032b9b27c74bc28ba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/3.4.1/src/kdepim-3.4.1.tar.bz2">kdepim-3.4.1</a></td>
   <td align="right">10MB</td>
   <td><tt>e5515aa230558bac8651e9cd9f8f9673</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/3.4.1/src/kdesdk-3.4.1.tar.bz2">kdesdk-3.4.1</a></td>
   <td align="right">4.3MB</td>
   <td><tt>b7073f0f4ac7efe4d6ff33c1ba527668</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/3.4.1/src/kdetoys-3.4.1.tar.bz2">kdetoys-3.4.1</a></td>
   <td align="right">3.0MB</td>
   <td><tt>8c9ad215fe076942bc9195eca5a9175f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/3.4.1/src/kdeutils-3.4.1.tar.bz2">kdeutils-3.4.1</a></td>
   <td align="right">2.1MB</td>
   <td><tt>0c3ef37a96ce9f5b0b3ee5d0b31ef4e4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/3.4.1/src/kdevelop-3.2.1.tar.bz2">kdevelop-3.2.1</a></td>
   <td align="right">7.9MB</td>
   <td><tt>7a5e9f2fb8a9539a41541dba566a234a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/3.4.1/src/kdewebdev-3.4.1.tar.bz2">kdewebdev-3.4.1</a></td>
   <td align="right">5.6MB</td>
   <td><tt>d5c9e5c72731aead950ab29a4d620af8</tt></td>
</tr>

</table>
