<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/amor-4.12.90.tar.xz">amor-4.12.90</a></td>
   <td align="right">169kB</td>
   <td><tt>6e861443bfb6b0e77c48983763b9f912af960097</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/analitza-4.12.90.tar.xz">analitza-4.12.90</a></td>
   <td align="right">180kB</td>
   <td><tt>fbd3d9f70e993f4c4a9427ae534693796b777f74</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/ark-4.12.90.tar.xz">ark-4.12.90</a></td>
   <td align="right">224kB</td>
   <td><tt>0299d42ab7a7ae110f4ff4d2fd0b2e7668d30246</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/artikulate-4.12.90.tar.xz">artikulate-4.12.90</a></td>
   <td align="right">3.5MB</td>
   <td><tt>788724801abe301e8be6a23504c37ae46fec7f77</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/audiocd-kio-4.12.90.tar.xz">audiocd-kio-4.12.90</a></td>
   <td align="right">50kB</td>
   <td><tt>931f0c2954bfebd3fa33bd695bbe52bc12ebe6de</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/baloo-4.12.90.tar.xz">baloo-4.12.90</a></td>
   <td align="right">115kB</td>
   <td><tt>6e339dc88b4c9e93e5f01392ecd6c8fbfa1c9e94</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/baloo-widgets-4.12.90.tar.xz">baloo-widgets-4.12.90</a></td>
   <td align="right">31kB</td>
   <td><tt>75d6c5a63c868faab736afc582cdd23e843cf50e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/blinken-4.12.90.tar.xz">blinken-4.12.90</a></td>
   <td align="right">546kB</td>
   <td><tt>956f525e077b41002fbcc5ebd2647cbbf87c49e9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/bomber-4.12.90.tar.xz">bomber-4.12.90</a></td>
   <td align="right">377kB</td>
   <td><tt>d3248816dcf5bcfa110d7dcd892f1a40732d9a71</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/bovo-4.12.90.tar.xz">bovo-4.12.90</a></td>
   <td align="right">98kB</td>
   <td><tt>1258a2c14f547db5f7d5285fb672dfd6720d664d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/cantor-4.12.90.tar.xz">cantor-4.12.90</a></td>
   <td align="right">323kB</td>
   <td><tt>9383d6eccf70b634c0a0f75343f163b82f9b3555</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/cervisia-4.12.90.tar.xz">cervisia-4.12.90</a></td>
   <td align="right">359kB</td>
   <td><tt>d786894df599877aa3fb9e0a39b87473aa45a2d0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/dolphin-plugins-4.12.90.tar.xz">dolphin-plugins-4.12.90</a></td>
   <td align="right">56kB</td>
   <td><tt>12438e6a0ebcc8ca5925acbf516c17b23ba0daf7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/dragon-4.12.90.tar.xz">dragon-4.12.90</a></td>
   <td align="right">381kB</td>
   <td><tt>a5f6fcb1b505989c149bc4233f810bd81ecc74fa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/ffmpegthumbs-4.12.90.tar.xz">ffmpegthumbs-4.12.90</a></td>
   <td align="right">19kB</td>
   <td><tt>7526bc607f31f06c4750a3b46e9d89384522d4a8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/filelight-4.12.90.tar.xz">filelight-4.12.90</a></td>
   <td align="right">280kB</td>
   <td><tt>9e9bc623b4658d6586b5252ebc8ea0d5ab7e083c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/granatier-4.12.90.tar.xz">granatier-4.12.90</a></td>
   <td align="right">1.3MB</td>
   <td><tt>aeb4ce022fceb84139b376dad8d10280f898ca8c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/gwenview-4.12.90.tar.xz">gwenview-4.12.90</a></td>
   <td align="right">2.7MB</td>
   <td><tt>4aedd495657efcc9d9bfee8c5761634c3427c369</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/jovie-4.12.90.tar.xz">jovie-4.12.90</a></td>
   <td align="right">370kB</td>
   <td><tt>bc728e393a37d143faf0de4316a0f54dbcc1fc3f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/juk-4.12.90.tar.xz">juk-4.12.90</a></td>
   <td align="right">418kB</td>
   <td><tt>86f81c2e6df4ee230545a5751aba93c46d8619de</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/kaccessible-4.12.90.tar.xz">kaccessible-4.12.90</a></td>
   <td align="right">19kB</td>
   <td><tt>d1229837b384f21a0053a36e2e460e523813a955</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/kactivities-4.12.90.tar.xz">kactivities-4.12.90</a></td>
   <td align="right">85kB</td>
   <td><tt>46b9ffef33e22857ddbfe383d9bea0f88ea947fe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/kajongg-4.12.90.tar.xz">kajongg-4.12.90</a></td>
   <td align="right">2.3MB</td>
   <td><tt>9aa6b11205c88feade2db3ce0bcf6f6dacfaf99d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/kalgebra-4.12.90.tar.xz">kalgebra-4.12.90</a></td>
   <td align="right">264kB</td>
   <td><tt>33755344320974a4e20b2b357addecad2ff81d79</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/kalzium-4.12.90.tar.xz">kalzium-4.12.90</a></td>
   <td align="right">3.7MB</td>
   <td><tt>cbf2beb9224baeae0dcd241b1494509c903d1c28</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/kamera-4.12.90.tar.xz">kamera-4.12.90</a></td>
   <td align="right">34kB</td>
   <td><tt>274babe52dcbce7739d3a074b19b63320ca568d8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/kanagram-4.12.90.tar.xz">kanagram-4.12.90</a></td>
   <td align="right">1.0MB</td>
   <td><tt>59e4d531ec88116e35228772b1ce69d21e67c293</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/kapman-4.12.90.tar.xz">kapman-4.12.90</a></td>
   <td align="right">1.7MB</td>
   <td><tt>4fbf53cb48ee6bd10e0e5d47c2ab7bf44a9b6c67</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/kapptemplate-4.12.90.tar.xz">kapptemplate-4.12.90</a></td>
   <td align="right">682kB</td>
   <td><tt>e7b80f82b2da6d263882b12772cf60c70a6adae9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/kate-4.12.90.tar.xz">kate-4.12.90</a></td>
   <td align="right">2.6MB</td>
   <td><tt>aa2342a2ce5203172bdf10ce6eef27b38f138a4a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/katomic-4.12.90.tar.xz">katomic-4.12.90</a></td>
   <td align="right">642kB</td>
   <td><tt>f21964f70f7751a8f1f72a0881a8e5382f805f0e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/kblackbox-4.12.90.tar.xz">kblackbox-4.12.90</a></td>
   <td align="right">251kB</td>
   <td><tt>5ada40474132181f4df976c5fe12bacf7ad9a49d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/kblocks-4.12.90.tar.xz">kblocks-4.12.90</a></td>
   <td align="right">1.1MB</td>
   <td><tt>2357e91229b62e9d35130da96c4dabe919dc24b0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/kbounce-4.12.90.tar.xz">kbounce-4.12.90</a></td>
   <td align="right">1.5MB</td>
   <td><tt>50ce39999f7c951db8e59cdc1a3e7bb42eb49c6b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/kbreakout-4.12.90.tar.xz">kbreakout-4.12.90</a></td>
   <td align="right">1.3MB</td>
   <td><tt>4a33bfa52a4403c1efd8096736ffda4a9e3c4a60</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/kbruch-4.12.90.tar.xz">kbruch-4.12.90</a></td>
   <td align="right">876kB</td>
   <td><tt>88b48d06e74329203abe9e604dade3e202fa5fc8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/kcachegrind-4.12.90.tar.xz">kcachegrind-4.12.90</a></td>
   <td align="right">229kB</td>
   <td><tt>21a1e0644517d7ba0d3644a14a672ee72f6b2e27</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/kcalc-4.12.90.tar.xz">kcalc-4.12.90</a></td>
   <td align="right">79kB</td>
   <td><tt>6b4ac0e47316f1695f85cec8f753f615aeef5bee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/kcharselect-4.12.90.tar.xz">kcharselect-4.12.90</a></td>
   <td align="right">82kB</td>
   <td><tt>1912b6cbceb587b6315aac9f4772d51c9dd336a6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/kcolorchooser-4.12.90.tar.xz">kcolorchooser-4.12.90</a></td>
   <td align="right">4kB</td>
   <td><tt>e95bf6eaf4025da6af67d0cabd0d5edd7240bda1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/kcron-4.12.90.tar.xz">kcron-4.12.90</a></td>
   <td align="right">170kB</td>
   <td><tt>987bf2d13ad582a4a6dde4fa78e2ea3c17e30ae9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/kdeartwork-4.12.90.tar.xz">kdeartwork-4.12.90</a></td>
   <td align="right">134MB</td>
   <td><tt>2aa6a0db7a8cf063312a7a7e3a33c9a41b7f23f7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/kde-baseapps-4.12.90.tar.xz">kde-baseapps-4.12.90</a></td>
   <td align="right">2.4MB</td>
   <td><tt>abd3c870aaf632a38d715956bff5460e2c9e27d2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/kde-base-artwork-4.12.90.tar.xz">kde-base-artwork-4.12.90</a></td>
   <td align="right">7.0MB</td>
   <td><tt>548eabb0b6208b59943fd18e3177916229172507</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/kde-dev-scripts-4.12.90.tar.xz">kde-dev-scripts-4.12.90</a></td>
   <td align="right">254kB</td>
   <td><tt>ad7d26c729fe7bf27ffa9d12aabf601ae5c4b2e5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/kde-dev-utils-4.12.90.tar.xz">kde-dev-utils-4.12.90</a></td>
   <td align="right">50kB</td>
   <td><tt>b184030a505132f70edc8f8418c7572412fd81c5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/kdegraphics-mobipocket-4.12.90.tar.xz">kdegraphics-mobipocket-4.12.90</a></td>
   <td align="right">14kB</td>
   <td><tt>ef509ae97d72b5284824e7a5a57bfa6ff8310ca3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/kdegraphics-strigi-analyzer-4.12.90.tar.xz">kdegraphics-strigi-analyzer-4.12.90</a></td>
   <td align="right">39kB</td>
   <td><tt>cafffd47df2539fe1ff7c043201bc8c398c0d63e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/kdegraphics-thumbnailers-4.12.90.tar.xz">kdegraphics-thumbnailers-4.12.90</a></td>
   <td align="right">40kB</td>
   <td><tt>e02ad2002bb8e4479b5a63c2b7d167e5c25c226e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/kdelibs-4.12.90.tar.xz">kdelibs-4.12.90</a></td>
   <td align="right">11MB</td>
   <td><tt>54865577d24e99ab724cb017942d1e2c99de9eb4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/kdenetwork-filesharing-4.12.90.tar.xz">kdenetwork-filesharing-4.12.90</a></td>
   <td align="right">26kB</td>
   <td><tt>835f6d9ba6fb9101579c01abd17d20b61056595b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/kdenetwork-strigi-analyzers-4.12.90.tar.xz">kdenetwork-strigi-analyzers-4.12.90</a></td>
   <td align="right">14kB</td>
   <td><tt>682e815ec7001a4a6cc4f36380e14ef5e411e2a0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/kdepim-4.12.90.tar.xz">kdepim-4.12.90</a></td>
   <td align="right">13MB</td>
   <td><tt>07ab28ab5e27d898df3dcfc8f9948432c2b82460</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/kdepimlibs-4.12.90.tar.xz">kdepimlibs-4.12.90</a></td>
   <td align="right">2.6MB</td>
   <td><tt>bea5880908c81da97454d107e58db778d366b0fb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/kdepim-runtime-4.12.90.tar.xz">kdepim-runtime-4.12.90</a></td>
   <td align="right">1.0MB</td>
   <td><tt>945998e38bd08a8db17aa504d4d2e616b1d5a446</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/kdeplasma-addons-4.12.90.tar.xz">kdeplasma-addons-4.12.90</a></td>
   <td align="right">1.6MB</td>
   <td><tt>61b06ab1dcdda2849b4c41dcaba26fae1cca405b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/kde-runtime-4.12.90.tar.xz">kde-runtime-4.12.90</a></td>
   <td align="right">7.4MB</td>
   <td><tt>7657f737088df27bfc713c040aab10275285335c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/kdesdk-kioslaves-4.12.90.tar.xz">kdesdk-kioslaves-4.12.90</a></td>
   <td align="right">352kB</td>
   <td><tt>e51688425dc8a14b3e1ff5692a0a61b0f1963a50</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/kdesdk-strigi-analyzers-4.12.90.tar.xz">kdesdk-strigi-analyzers-4.12.90</a></td>
   <td align="right">17kB</td>
   <td><tt>cbb2d2747662b9c878b692b1fac4932b67bc21fa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/kdesdk-thumbnailers-4.12.90.tar.xz">kdesdk-thumbnailers-4.12.90</a></td>
   <td align="right">11kB</td>
   <td><tt>aa906b7ce7feba3dfc8f577add6f6fce374c0ac6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/kde-wallpapers-4.12.90.tar.xz">kde-wallpapers-4.12.90</a></td>
   <td align="right">86MB</td>
   <td><tt>a98d0573f555f3b74906fa2a561c93e9a7fbb715</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/kdewebdev-4.12.90.tar.xz">kdewebdev-4.12.90</a></td>
   <td align="right">2.4MB</td>
   <td><tt>dfe7b2d1e3e67c5e0f0c4d85c5c6c8be87336207</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/kdf-4.12.90.tar.xz">kdf-4.12.90</a></td>
   <td align="right">145kB</td>
   <td><tt>2a231333c6150182ec79d6c49425478eeef4cbde</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/kdiamond-4.12.90.tar.xz">kdiamond-4.12.90</a></td>
   <td align="right">3.9MB</td>
   <td><tt>c0cae3a4c62c1983d180e83b90b6dbec2c09bc98</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/kdnssd-4.12.90.tar.xz">kdnssd-4.12.90</a></td>
   <td align="right">25kB</td>
   <td><tt>5e4b3ef3a50866a238c28bc37db6e7e0f16e6c95</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/kfilemetadata-4.12.90.tar.xz">kfilemetadata-4.12.90</a></td>
   <td align="right">34kB</td>
   <td><tt>faccc6f601e110861a0a89aeec9363078ed5fa70</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/kfloppy-4.12.90.tar.xz">kfloppy-4.12.90</a></td>
   <td align="right">51kB</td>
   <td><tt>e8df86a182c49c859deca2c7dca12c921231253b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/kfourinline-4.12.90.tar.xz">kfourinline-4.12.90</a></td>
   <td align="right">275kB</td>
   <td><tt>5329e329a635ebd9118912a821e7c6d1f806a60c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/kgamma-4.12.90.tar.xz">kgamma-4.12.90</a></td>
   <td align="right">22kB</td>
   <td><tt>d1c737cc5354ad98e71267d3e68bc0cff6e68dc6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/kgeography-4.12.90.tar.xz">kgeography-4.12.90</a></td>
   <td align="right">6.3MB</td>
   <td><tt>dabb98bc99aabede2c4f756d5c5bc0f9550e4f65</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/kget-4.12.90.tar.xz">kget-4.12.90</a></td>
   <td align="right">1.0MB</td>
   <td><tt>9a14ab6bc4f999fe2b61b47f87400e65342777e9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/kgoldrunner-4.12.90.tar.xz">kgoldrunner-4.12.90</a></td>
   <td align="right">1.9MB</td>
   <td><tt>191e7582d2584c9d57a63faf67f3a0ef084e8ab0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/kgpg-4.12.90.tar.xz">kgpg-4.12.90</a></td>
   <td align="right">784kB</td>
   <td><tt>d29b566132946910981753ff737435f2a75bfcd3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/khangman-4.12.90.tar.xz">khangman-4.12.90</a></td>
   <td align="right">3.7MB</td>
   <td><tt>09b64583fd4d50e9652c54df7e46b5ccce34dc5d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/kig-4.12.90.tar.xz">kig-4.12.90</a></td>
   <td align="right">1.4MB</td>
   <td><tt>df19aefedaea0e11dd529d9ff8441acdbb06a08b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/kigo-4.12.90.tar.xz">kigo-4.12.90</a></td>
   <td align="right">1.2MB</td>
   <td><tt>654bf8f5150c0a25743473a833018164caa06734</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/killbots-4.12.90.tar.xz">killbots-4.12.90</a></td>
   <td align="right">938kB</td>
   <td><tt>a97dbc30cca68d2e103912d418caa836392f677f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/kimono-4.12.90.tar.xz">kimono-4.12.90</a></td>
   <td align="right">910kB</td>
   <td><tt>d5e84b1bd1f6608b5355a8e2e5b1f9bc5fd405e2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/kiriki-4.12.90.tar.xz">kiriki-4.12.90</a></td>
   <td align="right">115kB</td>
   <td><tt>6f80694069a9237b63c02ba67ac116f34e9370d9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/kiten-4.12.90.tar.xz">kiten-4.12.90</a></td>
   <td align="right">11MB</td>
   <td><tt>9131d94ee144052b628b1978fd3bf1f7ee2dd127</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/kjumpingcube-4.12.90.tar.xz">kjumpingcube-4.12.90</a></td>
   <td align="right">160kB</td>
   <td><tt>04a0ba51648073d1698e8793688ee6808186f2e2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/klettres-4.12.90.tar.xz">klettres-4.12.90</a></td>
   <td align="right">2.5MB</td>
   <td><tt>83ae94eedaf381e4e7f8d69af353b55a0953d83a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/klickety-4.12.90.tar.xz">klickety-4.12.90</a></td>
   <td align="right">765kB</td>
   <td><tt>3ee2364a5baeef0f643682880d2d788b630bf3d1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/klines-4.12.90.tar.xz">klines-4.12.90</a></td>
   <td align="right">926kB</td>
   <td><tt>73c0e6e71dd2c8bdb5e1375644aee1d3204c12b7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/kmag-4.12.90.tar.xz">kmag-4.12.90</a></td>
   <td align="right">84kB</td>
   <td><tt>3eeafb7277fe0254248720850ba804569129fe99</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/kmahjongg-4.12.90.tar.xz">kmahjongg-4.12.90</a></td>
   <td align="right">979kB</td>
   <td><tt>9ef61f83658e0bdaf41fe621d6760129725c89fe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/kmines-4.12.90.tar.xz">kmines-4.12.90</a></td>
   <td align="right">613kB</td>
   <td><tt>69d4db650dc9d14d8cd5e6aa27a9e384895c2332</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/kmix-4.12.90.tar.xz">kmix-4.12.90</a></td>
   <td align="right">369kB</td>
   <td><tt>513a5df56cbb06d858e0852266c98e5fa409076b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/kmousetool-4.12.90.tar.xz">kmousetool-4.12.90</a></td>
   <td align="right">35kB</td>
   <td><tt>ff74fa1662fd9dd235207ec9cb6b30ade3e7f73b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/kmouth-4.12.90.tar.xz">kmouth-4.12.90</a></td>
   <td align="right">300kB</td>
   <td><tt>f36250f3ca871d7b0af94ffb6698adcfd1843ceb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/kmplot-4.12.90.tar.xz">kmplot-4.12.90</a></td>
   <td align="right">639kB</td>
   <td><tt>010fc3e883653598ba70bc204744ba9b925949c2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/knavalbattle-4.12.90.tar.xz">knavalbattle-4.12.90</a></td>
   <td align="right">834kB</td>
   <td><tt>890a6d7ec23fb23f928e91efb429bfb47c2841bf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/knetwalk-4.12.90.tar.xz">knetwalk-4.12.90</a></td>
   <td align="right">763kB</td>
   <td><tt>a6c94b8009acb9056dadb04fc5b529b0da503c10</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/kolf-4.12.90.tar.xz">kolf-4.12.90</a></td>
   <td align="right">747kB</td>
   <td><tt>ad7ade151bffa70ec51b66c0783c9f3a22709409</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/kollision-4.12.90.tar.xz">kollision-4.12.90</a></td>
   <td align="right">202kB</td>
   <td><tt>795cc9ea09ca8bf8522c04584a440a13be2c8c28</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/kolourpaint-4.12.90.tar.xz">kolourpaint-4.12.90</a></td>
   <td align="right">1.1MB</td>
   <td><tt>138f238bc4a595931f8bd76241fe114a9f200c8a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/kompare-4.12.90.tar.xz">kompare-4.12.90</a></td>
   <td align="right">336kB</td>
   <td><tt>9374862c1354b438da8806f44db8cdf4989da2cf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/konquest-4.12.90.tar.xz">konquest-4.12.90</a></td>
   <td align="right">395kB</td>
   <td><tt>02b634af48d7b5ee5f8daf75cca11fd996d2f6c2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/konsole-4.12.90.tar.xz">konsole-4.12.90</a></td>
   <td align="right">444kB</td>
   <td><tt>0e9a8c040802b87d8986d56b1fab75c61cb7983e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/kopete-4.12.90.tar.xz">kopete-4.12.90</a></td>
   <td align="right">6.0MB</td>
   <td><tt>618715e92a908614f27a05258d0c962a2545aaa9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/korundum-4.12.90.tar.xz">korundum-4.12.90</a></td>
   <td align="right">156kB</td>
   <td><tt>b1b9a40c8b4bd25fca26f563f8c012cab56069dc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/kpat-4.12.90.tar.xz">kpat-4.12.90</a></td>
   <td align="right">2.9MB</td>
   <td><tt>95f1fe1b7b9b8c6c95f9a2094c79cdcdd9cdbd08</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/kppp-4.12.90.tar.xz">kppp-4.12.90</a></td>
   <td align="right">680kB</td>
   <td><tt>63434f330c5085a49690bced8d593e78591ad774</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/kqtquickcharts-4.12.90.tar.xz">kqtquickcharts-4.12.90</a></td>
   <td align="right">16kB</td>
   <td><tt>da404d20c421f5f910766e3acd989a4348a5b295</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/krdc-4.12.90.tar.xz">krdc-4.12.90</a></td>
   <td align="right">388kB</td>
   <td><tt>92ffe616ae08caa354a56bd4312e736beb88cfa5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/kremotecontrol-4.12.90.tar.xz">kremotecontrol-4.12.90</a></td>
   <td align="right">1.0MB</td>
   <td><tt>0f44b90cbe49fe826c4ed527c210780af760f467</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/kreversi-4.12.90.tar.xz">kreversi-4.12.90</a></td>
   <td align="right">463kB</td>
   <td><tt>fae6a1986dda555197d25ce1a833ba6f71fc818d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/krfb-4.12.90.tar.xz">krfb-4.12.90</a></td>
   <td align="right">456kB</td>
   <td><tt>79324f10d1582c0847251e355f3f86563e39e51e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/kross-interpreters-4.12.90.tar.xz">kross-interpreters-4.12.90</a></td>
   <td align="right">127kB</td>
   <td><tt>874cc6e782f3e502ee5ab9735d7ff00233dd3f04</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/kruler-4.12.90.tar.xz">kruler-4.12.90</a></td>
   <td align="right">125kB</td>
   <td><tt>3e608258053d795abdf828dd186601f4ba037ca3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/ksaneplugin-4.12.90.tar.xz">ksaneplugin-4.12.90</a></td>
   <td align="right">12kB</td>
   <td><tt>845f2dafaba9776f372f6c61e87f323fab63556f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/kscd-4.12.90.tar.xz">kscd-4.12.90</a></td>
   <td align="right">90kB</td>
   <td><tt>5bddd0c6db76be93980f300389453c1be9e5db4e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/kshisen-4.12.90.tar.xz">kshisen-4.12.90</a></td>
   <td align="right">132kB</td>
   <td><tt>48549dda385a1420f8a7592f1ecbeb80812f3f84</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/ksirk-4.12.90.tar.xz">ksirk-4.12.90</a></td>
   <td align="right">4.7MB</td>
   <td><tt>15104829a95ced809e5edcd5c14334c788c36a3e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/ksnakeduel-4.12.90.tar.xz">ksnakeduel-4.12.90</a></td>
   <td align="right">312kB</td>
   <td><tt>deb1bda3cc3117a00c657c8066c073e1e68f9872</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/ksnapshot-4.12.90.tar.xz">ksnapshot-4.12.90</a></td>
   <td align="right">251kB</td>
   <td><tt>415d3b8d8a022b321f00320ba3ad61e50052f488</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/kspaceduel-4.12.90.tar.xz">kspaceduel-4.12.90</a></td>
   <td align="right">246kB</td>
   <td><tt>6513f46527c061582c9ef9e489d6e917dc5aeed3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/ksquares-4.12.90.tar.xz">ksquares-4.12.90</a></td>
   <td align="right">77kB</td>
   <td><tt>78f92677368f1f7b93a49230853e98fd685e01ca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/kstars-4.12.90.tar.xz">kstars-4.12.90</a></td>
   <td align="right">11MB</td>
   <td><tt>1d52b448e464e7dcb6081a30a91fc2a163765777</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/ksudoku-4.12.90.tar.xz">ksudoku-4.12.90</a></td>
   <td align="right">1.3MB</td>
   <td><tt>8ccbf5c6557a8e8046ad0a7b3a84321c8879295a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/ksystemlog-4.12.90.tar.xz">ksystemlog-4.12.90</a></td>
   <td align="right">373kB</td>
   <td><tt>e95bdee3bdbf29426e14dc06e34317e6ef5e8bf2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/kteatime-4.12.90.tar.xz">kteatime-4.12.90</a></td>
   <td align="right">98kB</td>
   <td><tt>113ea28b16bde2125f4a1fd9df980c3495264675</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/ktimer-4.12.90.tar.xz">ktimer-4.12.90</a></td>
   <td align="right">143kB</td>
   <td><tt>a73b2bfeb42d2d38b41fb1bc5c9056a74ffa92a5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/ktouch-4.12.90.tar.xz">ktouch-4.12.90</a></td>
   <td align="right">2.3MB</td>
   <td><tt>23653578a2c8c840cb29318412b4becd1b30c969</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/ktuberling-4.12.90.tar.xz">ktuberling-4.12.90</a></td>
   <td align="right">4.0MB</td>
   <td><tt>647efa4ed48b5451654854ecacdc57f5d1a6e836</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/kturtle-4.12.90.tar.xz">kturtle-4.12.90</a></td>
   <td align="right">183kB</td>
   <td><tt>0208b398507e32cbda2faa1c9cf1e344b509a410</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/ktux-4.12.90.tar.xz">ktux-4.12.90</a></td>
   <td align="right">106kB</td>
   <td><tt>5a0f0794db22b13513f123fcf138d579895f7085</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/kubrick-4.12.90.tar.xz">kubrick-4.12.90</a></td>
   <td align="right">104kB</td>
   <td><tt>2d5e432ef464dcc3336681170a9c378b0fe92354</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/kuser-4.12.90.tar.xz">kuser-4.12.90</a></td>
   <td align="right">131kB</td>
   <td><tt>15e00ac13af2f2ff0d7f752ef13506d1a761c498</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/kwalletmanager-4.12.90.tar.xz">kwalletmanager-4.12.90</a></td>
   <td align="right">445kB</td>
   <td><tt>1e924fdeac3e1d6ae054f7618ea33b826a9b509c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/kwordquiz-4.12.90.tar.xz">kwordquiz-4.12.90</a></td>
   <td align="right">1.1MB</td>
   <td><tt>40fe78b36e30c2adbfe4e62defa44eff701cdf4b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/libkcddb-4.12.90.tar.xz">libkcddb-4.12.90</a></td>
   <td align="right">154kB</td>
   <td><tt>692d4d7e7976dbd9639a1b6f63a218d14cfdef6c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/libkcompactdisc-4.12.90.tar.xz">libkcompactdisc-4.12.90</a></td>
   <td align="right">73kB</td>
   <td><tt>e6f21848d4d81adc1fe2c975c212fa0e4a401c87</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/libkdcraw-4.12.90.tar.xz">libkdcraw-4.12.90</a></td>
   <td align="right">97kB</td>
   <td><tt>1d3637b508573047030865c6a3a4b52d41bc79e2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/libkdeedu-4.12.90.tar.xz">libkdeedu-4.12.90</a></td>
   <td align="right">204kB</td>
   <td><tt>ef0ed77b857152c641fd3db5e697c1e25fd2b17f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/libkdegames-4.12.90.tar.xz">libkdegames-4.12.90</a></td>
   <td align="right">5.5MB</td>
   <td><tt>53d07a697c3195772ec6b60e2b2d8e3bcebe80cd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/libkexiv2-4.12.90.tar.xz">libkexiv2-4.12.90</a></td>
   <td align="right">132kB</td>
   <td><tt>44ed0129bce526c095b81f0034f2c3eb9b08478c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/libkipi-4.12.90.tar.xz">libkipi-4.12.90</a></td>
   <td align="right">92kB</td>
   <td><tt>46e1579758c2fdc2aaf3fb52660c4595a47f3265</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/libkmahjongg-4.12.90.tar.xz">libkmahjongg-4.12.90</a></td>
   <td align="right">1.5MB</td>
   <td><tt>372ceac623be60f309818ebb7c89dde2bac59e1f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/libkomparediff2-4.12.90.tar.xz">libkomparediff2-4.12.90</a></td>
   <td align="right">54kB</td>
   <td><tt>602da0f4491708daa389a3139c7a8b8e6fd6477d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/libksane-4.12.90.tar.xz">libksane-4.12.90</a></td>
   <td align="right">78kB</td>
   <td><tt>7ee732e088c546336a33d7b58330e689c341578b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/lokalize-4.12.90.tar.xz">lokalize-4.12.90</a></td>
   <td align="right">826kB</td>
   <td><tt>745a55a5d50ddcad760ee01995b216747499c874</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/lskat-4.12.90.tar.xz">lskat-4.12.90</a></td>
   <td align="right">907kB</td>
   <td><tt>b44e075169970b0c76bbcc7a57fa6cc70b50d604</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/marble-4.12.90.tar.xz">marble-4.12.90</a></td>
   <td align="right">18MB</td>
   <td><tt>3bb3bb89119e6dfe98fec51b63c964356b8cdda9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/mplayerthumbs-4.12.90.tar.xz">mplayerthumbs-4.12.90</a></td>
   <td align="right">26kB</td>
   <td><tt>cc0a32f105461d29b13e7fd75224c473ac8b0c56</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/nepomuk-core-4.12.90.tar.xz">nepomuk-core-4.12.90</a></td>
   <td align="right">372kB</td>
   <td><tt>ea516340ee42e6ab6b9a8b1926086c9872a917dd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/nepomuk-widgets-4.12.90.tar.xz">nepomuk-widgets-4.12.90</a></td>
   <td align="right">47kB</td>
   <td><tt>2d5efcbffb1ed24624e395a9c3b3332afa1551bc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/okteta-4.12.90.tar.xz">okteta-4.12.90</a></td>
   <td align="right">481kB</td>
   <td><tt>8a458d78371a432ea879649b500d1c71f8a5a072</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/okular-4.12.90.tar.xz">okular-4.12.90</a></td>
   <td align="right">1.4MB</td>
   <td><tt>b59e336389085bee478748b5ebf1b78ab57f44a8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/oxygen-icons-4.12.90.tar.xz">oxygen-icons-4.12.90</a></td>
   <td align="right">219MB</td>
   <td><tt>cd3dca8d0171e2fd7067ecacce08f641ffe4d69c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/pairs-4.12.90.tar.xz">pairs-4.12.90</a></td>
   <td align="right">2.6MB</td>
   <td><tt>cbef4703a207221f100e33817df396a7daac5c91</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/palapeli-4.12.90.tar.xz">palapeli-4.12.90</a></td>
   <td align="right">1.6MB</td>
   <td><tt>d19a37f63c32f9524590996f74ac273ec429c21c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/parley-4.12.90.tar.xz">parley-4.12.90</a></td>
   <td align="right">7.8MB</td>
   <td><tt>79540a1ae03b45c4add831e152b0ebb9984c10eb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/perlkde-4.12.90.tar.xz">perlkde-4.12.90</a></td>
   <td align="right">39kB</td>
   <td><tt>be3f327f9810a06e7d9ec984eb7f27f43452f66c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/perlqt-4.12.90.tar.xz">perlqt-4.12.90</a></td>
   <td align="right">1.7MB</td>
   <td><tt>8ff3b5912eef9a4b73285d9c6f63375c70f51e17</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/picmi-4.12.90.tar.xz">picmi-4.12.90</a></td>
   <td align="right">714kB</td>
   <td><tt>561181deb19a34944641d89bc87a46353c714f0a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/poxml-4.12.90.tar.xz">poxml-4.12.90</a></td>
   <td align="right">30kB</td>
   <td><tt>873e9119da09de4c225204351c627a6de9c8d95a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/print-manager-4.12.90.tar.xz">print-manager-4.12.90</a></td>
   <td align="right">90kB</td>
   <td><tt>549c900af49ca3f8737156d0bf839054682d97cf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/pykde4-4.12.90.tar.xz">pykde4-4.12.90</a></td>
   <td align="right">1.9MB</td>
   <td><tt>a775350405acffd32911a86baced9b6a8eabb27b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/qtruby-4.12.90.tar.xz">qtruby-4.12.90</a></td>
   <td align="right">517kB</td>
   <td><tt>0fe27e2528f614520b304a63784aaa7965c34809</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/qyoto-4.12.90.tar.xz">qyoto-4.12.90</a></td>
   <td align="right">495kB</td>
   <td><tt>3696946a087653efeb1ddb3bbe4e8ae668d9bb7b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/rocs-4.12.90.tar.xz">rocs-4.12.90</a></td>
   <td align="right">1.0MB</td>
   <td><tt>1a410acc092465f1ddcd45ea92a83160d54eb07b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/smokegen-4.12.90.tar.xz">smokegen-4.12.90</a></td>
   <td align="right">143kB</td>
   <td><tt>95b7d07704b0eab93daf9b53ab13e1be3f3d35b8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/smokekde-4.12.90.tar.xz">smokekde-4.12.90</a></td>
   <td align="right">35kB</td>
   <td><tt>5b27fae802ad3bcd0555d1b01402cc2be0d52f9f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/smokeqt-4.12.90.tar.xz">smokeqt-4.12.90</a></td>
   <td align="right">29kB</td>
   <td><tt>c683bb13f4cf0a4a8982884a6504abcc5558c506</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/step-4.12.90.tar.xz">step-4.12.90</a></td>
   <td align="right">353kB</td>
   <td><tt>6655702d61fd5a23f8064189cbe31f6ffe250798</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/superkaramba-4.12.90.tar.xz">superkaramba-4.12.90</a></td>
   <td align="right">374kB</td>
   <td><tt>c1ca820dee4583c9d18069fc2a3569cdade4ca5e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/svgpart-4.12.90.tar.xz">svgpart-4.12.90</a></td>
   <td align="right">8kB</td>
   <td><tt>be39ed0948163a386ff03f26a27162c31dfdd787</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/sweeper-4.12.90.tar.xz">sweeper-4.12.90</a></td>
   <td align="right">80kB</td>
   <td><tt>f85b2b6d482960ae3ad5b3e905139c2475fdd005</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/umbrello-4.12.90.tar.xz">umbrello-4.12.90</a></td>
   <td align="right">1.4MB</td>
   <td><tt>1b8727d1b9efefdbc975588471dcae638a5df66d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/kde-l10n/kde-l10n-ar-4.12.90.tar.xz">kde-l10n-ar-4.12.90</a></td>
   <td align="right">3.1MB</td>
   <td><tt>cba388ca09e5c07115fe92009213e268f47e5c55</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/kde-l10n/kde-l10n-bg-4.12.90.tar.xz">kde-l10n-bg-4.12.90</a></td>
   <td align="right">2.0MB</td>
   <td><tt>a9da1ea1f4240c3654b7fbec13c9bcbe7eaae76e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/kde-l10n/kde-l10n-bs-4.12.90.tar.xz">kde-l10n-bs-4.12.90</a></td>
   <td align="right">2.2MB</td>
   <td><tt>02715c1423c4d0313fa34ead02d87f1d94270d0e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/kde-l10n/kde-l10n-ca-4.12.90.tar.xz">kde-l10n-ca-4.12.90</a></td>
   <td align="right">11MB</td>
   <td><tt>74ec5b0521f19ce48c128cf729fedee809f33f56</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/kde-l10n/kde-l10n-ca@valencia-4.12.90.tar.xz">kde-l10n-ca@valencia-4.12.90</a></td>
   <td align="right">2.2MB</td>
   <td><tt>5b483150694ba40dd952d1d53b3e04fcbab0a416</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/kde-l10n/kde-l10n-cs-4.12.90.tar.xz">kde-l10n-cs-4.12.90</a></td>
   <td align="right">2.8MB</td>
   <td><tt>256cc1552aa261a951589bd0e4cf0b475280f8fa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/kde-l10n/kde-l10n-da-4.12.90.tar.xz">kde-l10n-da-4.12.90</a></td>
   <td align="right">12MB</td>
   <td><tt>90d64897c33050952070006395c5cfd5f15ea1b5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/kde-l10n/kde-l10n-de-4.12.90.tar.xz">kde-l10n-de-4.12.90</a></td>
   <td align="right">34MB</td>
   <td><tt>1c3759ed7858a3bc5e8b1ffd14296451a90a27b6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/kde-l10n/kde-l10n-el-4.12.90.tar.xz">kde-l10n-el-4.12.90</a></td>
   <td align="right">4.6MB</td>
   <td><tt>9383c94976caa35a1612eb9d6e6eeaefcbdec41b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/kde-l10n/kde-l10n-en_GB-4.12.90.tar.xz">kde-l10n-en_GB-4.12.90</a></td>
   <td align="right">2.9MB</td>
   <td><tt>ccbb6fbb7cdc619453483783a35e5238d2fa2040</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/kde-l10n/kde-l10n-es-4.12.90.tar.xz">kde-l10n-es-4.12.90</a></td>
   <td align="right">20MB</td>
   <td><tt>ee72c86eb4650754a16ec259b4923ae97e44f573</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/kde-l10n/kde-l10n-et-4.12.90.tar.xz">kde-l10n-et-4.12.90</a></td>
   <td align="right">5.2MB</td>
   <td><tt>f6a87325ef0097d57d355f5d9391d64f107119d8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/kde-l10n/kde-l10n-eu-4.12.90.tar.xz">kde-l10n-eu-4.12.90</a></td>
   <td align="right">2.0MB</td>
   <td><tt>c92cc4f9b6e70124c8cf6eaa34dc2c410687eab0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/kde-l10n/kde-l10n-fi-4.12.90.tar.xz">kde-l10n-fi-4.12.90</a></td>
   <td align="right">2.6MB</td>
   <td><tt>8c108c2b5180729a96f19f1ba281392af304afa3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/kde-l10n/kde-l10n-fr-4.12.90.tar.xz">kde-l10n-fr-4.12.90</a></td>
   <td align="right">44MB</td>
   <td><tt>04eba33266eb68a79f6e092546ee21c833117376</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/kde-l10n/kde-l10n-ga-4.12.90.tar.xz">kde-l10n-ga-4.12.90</a></td>
   <td align="right">2.8MB</td>
   <td><tt>e514f8c5dbe9f0f77d7d89d41b2c34987f0b952e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/kde-l10n/kde-l10n-gl-4.12.90.tar.xz">kde-l10n-gl-4.12.90</a></td>
   <td align="right">3.5MB</td>
   <td><tt>14a5e36003e8df9c0fa51321e3f45f701e92977e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/kde-l10n/kde-l10n-he-4.12.90.tar.xz">kde-l10n-he-4.12.90</a></td>
   <td align="right">2.1MB</td>
   <td><tt>85add87526db59243ab59b985a5d817b11d8d2f3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/kde-l10n/kde-l10n-hi-4.12.90.tar.xz">kde-l10n-hi-4.12.90</a></td>
   <td align="right">1.8MB</td>
   <td><tt>55db5d005e1d04f45926485e862603d07b464895</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/kde-l10n/kde-l10n-hr-4.12.90.tar.xz">kde-l10n-hr-4.12.90</a></td>
   <td align="right">1.9MB</td>
   <td><tt>1a545a15f147eea32236294697545d0a1570a299</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/kde-l10n/kde-l10n-hu-4.12.90.tar.xz">kde-l10n-hu-4.12.90</a></td>
   <td align="right">4.1MB</td>
   <td><tt>4918d34f4ab571944ce00f6bc5f13358ceeed120</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/kde-l10n/kde-l10n-ia-4.12.90.tar.xz">kde-l10n-ia-4.12.90</a></td>
   <td align="right">1.4MB</td>
   <td><tt>e389f03d141c20fe8601e4569282e8aa3a304fbd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/kde-l10n/kde-l10n-is-4.12.90.tar.xz">kde-l10n-is-4.12.90</a></td>
   <td align="right">1.8MB</td>
   <td><tt>8c8a651639ab0acd612cbf1a0fd85810e61f78f0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/kde-l10n/kde-l10n-it-4.12.90.tar.xz">kde-l10n-it-4.12.90</a></td>
   <td align="right">8.4MB</td>
   <td><tt>d7c22397fea6bb869bcec5f462962afd3553a7c4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/kde-l10n/kde-l10n-ja-4.12.90.tar.xz">kde-l10n-ja-4.12.90</a></td>
   <td align="right">2.2MB</td>
   <td><tt>0b6a1d58d4f35a96ece42b170c48453fa095e10d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/kde-l10n/kde-l10n-kk-4.12.90.tar.xz">kde-l10n-kk-4.12.90</a></td>
   <td align="right">2.6MB</td>
   <td><tt>4c809ae9c12d8ee30ec6a818a5b618fa3dbec6ca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/kde-l10n/kde-l10n-km-4.12.90.tar.xz">kde-l10n-km-4.12.90</a></td>
   <td align="right">2.1MB</td>
   <td><tt>1dfd15af4287bc728bb7828ab14960069631ddd5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/kde-l10n/kde-l10n-ko-4.12.90.tar.xz">kde-l10n-ko-4.12.90</a></td>
   <td align="right">1.8MB</td>
   <td><tt>3b290660508ac0211c85b982a1b0b642e4aa1e84</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/kde-l10n/kde-l10n-lt-4.12.90.tar.xz">kde-l10n-lt-4.12.90</a></td>
   <td align="right">12MB</td>
   <td><tt>979f400e025aabfdb4565941877403c86589aff2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/kde-l10n/kde-l10n-lv-4.12.90.tar.xz">kde-l10n-lv-4.12.90</a></td>
   <td align="right">2.1MB</td>
   <td><tt>243519baa9d86669508d65f1f8900ff1f8f34589</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/kde-l10n/kde-l10n-mr-4.12.90.tar.xz">kde-l10n-mr-4.12.90</a></td>
   <td align="right">1.7MB</td>
   <td><tt>0902da8aa554c0ad1a3da2f28b0c55f23540149b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/kde-l10n/kde-l10n-nb-4.12.90.tar.xz">kde-l10n-nb-4.12.90</a></td>
   <td align="right">2.4MB</td>
   <td><tt>7fb2eb9de737082be3d318ec29076934dee19716</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/kde-l10n/kde-l10n-nds-4.12.90.tar.xz">kde-l10n-nds-4.12.90</a></td>
   <td align="right">3.1MB</td>
   <td><tt>208025aa0e49635689bae91f9223c8c4d9986888</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/kde-l10n/kde-l10n-nl-4.12.90.tar.xz">kde-l10n-nl-4.12.90</a></td>
   <td align="right">13MB</td>
   <td><tt>8e6ef53553d09aa3b8f8b3e74803ad37d8e246d9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/kde-l10n/kde-l10n-nn-4.12.90.tar.xz">kde-l10n-nn-4.12.90</a></td>
   <td align="right">1.8MB</td>
   <td><tt>31565e5716fcd7bee0e710fd56e62c5b89b886c2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/kde-l10n/kde-l10n-pa-4.12.90.tar.xz">kde-l10n-pa-4.12.90</a></td>
   <td align="right">1.8MB</td>
   <td><tt>3df4caa239a4639fe6e5f0fe4ad2330b7c549194</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/kde-l10n/kde-l10n-pl-4.12.90.tar.xz">kde-l10n-pl-4.12.90</a></td>
   <td align="right">16MB</td>
   <td><tt>3b1fb3c83d603b67f78645e9fdd9e0efbd354f10</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/kde-l10n/kde-l10n-pt-4.12.90.tar.xz">kde-l10n-pt-4.12.90</a></td>
   <td align="right">3.5MB</td>
   <td><tt>ddf25e5bcfca14ebe98ed0cb5a682deeaa4155f4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/kde-l10n/kde-l10n-pt_BR-4.12.90.tar.xz">kde-l10n-pt_BR-4.12.90</a></td>
   <td align="right">23MB</td>
   <td><tt>61f35c981a1ac1f065fe9b13e9fad5193f864915</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/kde-l10n/kde-l10n-ro-4.12.90.tar.xz">kde-l10n-ro-4.12.90</a></td>
   <td align="right">2.9MB</td>
   <td><tt>53b3e74e80beae092bfd6da8f6bf09c3f3587895</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/kde-l10n/kde-l10n-ru-4.12.90.tar.xz">kde-l10n-ru-4.12.90</a></td>
   <td align="right">22MB</td>
   <td><tt>33b961ecfe3978ca07aff5a9e06b36572b798a4f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/kde-l10n/kde-l10n-sk-4.12.90.tar.xz">kde-l10n-sk-4.12.90</a></td>
   <td align="right">4.2MB</td>
   <td><tt>77c12a80fc2a884cfdd09dbb52e472ed7521ca49</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/kde-l10n/kde-l10n-sl-4.12.90.tar.xz">kde-l10n-sl-4.12.90</a></td>
   <td align="right">3.0MB</td>
   <td><tt>94bec7820d1bfe7b8291397e236900d17050bd18</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/kde-l10n/kde-l10n-sr-4.12.90.tar.xz">kde-l10n-sr-4.12.90</a></td>
   <td align="right">4.5MB</td>
   <td><tt>b95fa5388f8473a4689bd4cc426f2c4a1b7ed3a6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/kde-l10n/kde-l10n-sv-4.12.90.tar.xz">kde-l10n-sv-4.12.90</a></td>
   <td align="right">13MB</td>
   <td><tt>6aff9d798ae7ea42603b7e6f25544b750722bba1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/kde-l10n/kde-l10n-tr-4.12.90.tar.xz">kde-l10n-tr-4.12.90</a></td>
   <td align="right">3.9MB</td>
   <td><tt>8badfbcab26fff6bcb78da71796d84215067a6ba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/kde-l10n/kde-l10n-ug-4.12.90.tar.xz">kde-l10n-ug-4.12.90</a></td>
   <td align="right">1.7MB</td>
   <td><tt>3dac3068930787e1f38026f9d009a2aad0da6792</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/kde-l10n/kde-l10n-uk-4.12.90.tar.xz">kde-l10n-uk-4.12.90</a></td>
   <td align="right">24MB</td>
   <td><tt>a15e30d58ed977c28cb86d26645a513cae2aed8a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/kde-l10n/kde-l10n-vi-4.12.90.tar.xz">kde-l10n-vi-4.12.90</a></td>
   <td align="right">946kB</td>
   <td><tt>f14c28d59206a2f492cb3fec2f996f728fb88ab9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/kde-l10n/kde-l10n-wa-4.12.90.tar.xz">kde-l10n-wa-4.12.90</a></td>
   <td align="right">1.6MB</td>
   <td><tt>011b6881b3ec9516e501ad15900f3d67d213ab4c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/kde-l10n/kde-l10n-zh_CN-4.12.90.tar.xz">kde-l10n-zh_CN-4.12.90</a></td>
   <td align="right">3.4MB</td>
   <td><tt>765f32d56a64f955e8390b3bd43c8d0dbc3a6267</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.90/src/kde-l10n/kde-l10n-zh_TW-4.12.90.tar.xz">kde-l10n-zh_TW-4.12.90</a></td>
   <td align="right">2.5MB</td>
   <td><tt>8be84ad4ce1d6ea9bdc8be459e77fb651f6044ac</tt></td>
</tr>

</table>
