
<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.32/attica-5.32.0.tar.xz">attica-5.32.0</a></td>
   <td align="right">58kB</td>
   <td><tt>0bcd7e4433622f85418db5a6becc7118a5105e78</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.32/baloo-5.32.0.tar.xz">baloo-5.32.0</a></td>
   <td align="right">187kB</td>
   <td><tt>c99840e4df4e453d2411774e6431619c133b178b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.32/bluez-qt-5.32.0.tar.xz">bluez-qt-5.32.0</a></td>
   <td align="right">72kB</td>
   <td><tt>672c7dc5cdc6bef36cae613812fcfa382bc786e7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.32/breeze-icons-5.32.0.tar.xz">breeze-icons-5.32.0</a></td>
   <td align="right">1.4MB</td>
   <td><tt>1aeb9067ebe6c9c0d33a3823c94052ec1b18c195</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.32/extra-cmake-modules-5.32.0.tar.xz">extra-cmake-modules-5.32.0</a></td>
   <td align="right">303kB</td>
   <td><tt>c585d384214cc470e5dbb0c7ea2e85af2fac019e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.32/frameworkintegration-5.32.0.tar.xz">frameworkintegration-5.32.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>8195a9107c1177e285f1183afe0f43be6dec4fe6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.32/kactivities-5.32.0.tar.xz">kactivities-5.32.0</a></td>
   <td align="right">59kB</td>
   <td><tt>61b1d85fd51e2ad73695f01d9045f1986dc5e69e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.32/kactivities-stats-5.32.0.tar.xz">kactivities-stats-5.32.0</a></td>
   <td align="right">57kB</td>
   <td><tt>54d9cb4cbd585c8ef8e972bc2270447b51e31ba1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.32/kapidox-5.32.0.tar.xz">kapidox-5.32.0</a></td>
   <td align="right">386kB</td>
   <td><tt>e358b98b1d906e897ddce548a9f3b63cafd866f2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.32/karchive-5.32.0.tar.xz">karchive-5.32.0</a></td>
   <td align="right">109kB</td>
   <td><tt>94aa5d455eb7a313dfabcc78791d03c82e7cf9eb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.32/kauth-5.32.0.tar.xz">kauth-5.32.0</a></td>
   <td align="right">81kB</td>
   <td><tt>0b66176e86a1308189bed506104288c6a1980d00</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.32/kbookmarks-5.32.0.tar.xz">kbookmarks-5.32.0</a></td>
   <td align="right">113kB</td>
   <td><tt>54c6dda2292eb16e27fb57ccb550e668e5166ba6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.32/kcmutils-5.32.0.tar.xz">kcmutils-5.32.0</a></td>
   <td align="right">230kB</td>
   <td><tt>c726c66a682ef143cd0afa15a28bd9358aaf3a0a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.32/kcodecs-5.32.0.tar.xz">kcodecs-5.32.0</a></td>
   <td align="right">216kB</td>
   <td><tt>7bad22641706fc3189ff44e2393bf788fe05f5f6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.32/kcompletion-5.32.0.tar.xz">kcompletion-5.32.0</a></td>
   <td align="right">114kB</td>
   <td><tt>aeaf694fa4d19f546b40fabac040e4a2b5297681</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.32/kconfig-5.32.0.tar.xz">kconfig-5.32.0</a></td>
   <td align="right">226kB</td>
   <td><tt>e379de0cfb0ef61e916c6da1c1a583cd12dff9b0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.32/kconfigwidgets-5.32.0.tar.xz">kconfigwidgets-5.32.0</a></td>
   <td align="right">366kB</td>
   <td><tt>f9894ab3d568f4e1ced6d126b0b87f3c66aa0cf4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.32/kcoreaddons-5.32.0.tar.xz">kcoreaddons-5.32.0</a></td>
   <td align="right">334kB</td>
   <td><tt>e6b74bf4b5d32642be67bc204640d07802f98b2c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.32/kcrash-5.32.0.tar.xz">kcrash-5.32.0</a></td>
   <td align="right">20kB</td>
   <td><tt>644d7439e9ab604bc15fca970f5d26f5e3d61028</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.32/kdbusaddons-5.32.0.tar.xz">kdbusaddons-5.32.0</a></td>
   <td align="right">34kB</td>
   <td><tt>c7c81b1108233aab9250cd916b748e42277ca821</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.32/kdeclarative-5.32.0.tar.xz">kdeclarative-5.32.0</a></td>
   <td align="right">165kB</td>
   <td><tt>48ab3994779656bec4c2f5a7d62ebda9b7e67d2e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.32/kded-5.32.0.tar.xz">kded-5.32.0</a></td>
   <td align="right">36kB</td>
   <td><tt>02fbdf06203fcf00ec1728a341ae7b02a0931aa9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.32/kdesignerplugin-5.32.0.tar.xz">kdesignerplugin-5.32.0</a></td>
   <td align="right">87kB</td>
   <td><tt>74fb101d9caa00e4779487278e8d7189de18d297</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.32/kdesu-5.32.0.tar.xz">kdesu-5.32.0</a></td>
   <td align="right">43kB</td>
   <td><tt>431aabb24160496c0da2f756a23ec4c2e65b0227</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.32/kdewebkit-5.32.0.tar.xz">kdewebkit-5.32.0</a></td>
   <td align="right">28kB</td>
   <td><tt>6648c9ae0b97724db09cc1aea47d11278afc9e94</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.32/kdnssd-5.32.0.tar.xz">kdnssd-5.32.0</a></td>
   <td align="right">55kB</td>
   <td><tt>24cf54799e0eb7fee0e39d345fcb8d411eb0b55b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.32/kdoctools-5.32.0.tar.xz">kdoctools-5.32.0</a></td>
   <td align="right">405kB</td>
   <td><tt>9bd7898d81d93e8e60d8464b3499d23dcff98938</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.32/kemoticons-5.32.0.tar.xz">kemoticons-5.32.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>19a6acb9d6f104032b16731841d27fdc0f29d033</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.32/kfilemetadata-5.32.0.tar.xz">kfilemetadata-5.32.0</a></td>
   <td align="right">211kB</td>
   <td><tt>72f07239d74a2974ba12c35b4d4e13cd03256ab5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.32/kglobalaccel-5.32.0.tar.xz">kglobalaccel-5.32.0</a></td>
   <td align="right">81kB</td>
   <td><tt>a29b9729e6cbebd386692866f850188c00d8cd10</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.32/kguiaddons-5.32.0.tar.xz">kguiaddons-5.32.0</a></td>
   <td align="right">38kB</td>
   <td><tt>2dd8f00f4b2c9c1dd9491f1d3a69733e019e747a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.32/ki18n-5.32.0.tar.xz">ki18n-5.32.0</a></td>
   <td align="right">591kB</td>
   <td><tt>bddac13d9da0015be40ef1a5f50af6d6a5f9a2b2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.32/kiconthemes-5.32.0.tar.xz">kiconthemes-5.32.0</a></td>
   <td align="right">199kB</td>
   <td><tt>55132fff59730bd6f8ed9d30aa2854f14ff7422b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.32/kidletime-5.32.0.tar.xz">kidletime-5.32.0</a></td>
   <td align="right">25kB</td>
   <td><tt>f0d0492439a9da9d5032e43419af216b697579e3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.32/kimageformats-5.32.0.tar.xz">kimageformats-5.32.0</a></td>
   <td align="right">199kB</td>
   <td><tt>1f79820f83aaad641a7d2f2b69c21d96259169cf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.32/kinit-5.32.0.tar.xz">kinit-5.32.0</a></td>
   <td align="right">117kB</td>
   <td><tt>b0d1bf856f6411a7f36c26bead024b9111244b75</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.32/kio-5.32.0.tar.xz">kio-5.32.0</a></td>
   <td align="right">2.9MB</td>
   <td><tt>5e5d1a3ce4bd4662e9c637865b6a7fc2f8575196</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.32/kitemmodels-5.32.0.tar.xz">kitemmodels-5.32.0</a></td>
   <td align="right">379kB</td>
   <td><tt>adf54e999aa297692ff57970b4c839f2e7ea780e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.32/kitemviews-5.32.0.tar.xz">kitemviews-5.32.0</a></td>
   <td align="right">72kB</td>
   <td><tt>c4dea66c01fcde01ac6b928186ce4b4ff73996b9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.32/kjobwidgets-5.32.0.tar.xz">kjobwidgets-5.32.0</a></td>
   <td align="right">87kB</td>
   <td><tt>f307ddf66d7cdc77e553738c4736927368b8ddb7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.32/knewstuff-5.32.0.tar.xz">knewstuff-5.32.0</a></td>
   <td align="right">861kB</td>
   <td><tt>6a4fdaaa6db05da8b91d9f48e962a2b6bc402c15</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.32/knotifications-5.32.0.tar.xz">knotifications-5.32.0</a></td>
   <td align="right">96kB</td>
   <td><tt>e9b36430742202c5c720a0eac53c9acdd46af462</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.32/knotifyconfig-5.32.0.tar.xz">knotifyconfig-5.32.0</a></td>
   <td align="right">81kB</td>
   <td><tt>2926ab9001776f6304f35bd455468c03226b0d41</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.32/kpackage-5.32.0.tar.xz">kpackage-5.32.0</a></td>
   <td align="right">117kB</td>
   <td><tt>a18e813273079825b991117ce37c6cc0765c9248</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.32/kparts-5.32.0.tar.xz">kparts-5.32.0</a></td>
   <td align="right">151kB</td>
   <td><tt>9c2a45fcbc89aedf013f355db10b9f0248ebcc40</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.32/kpeople-5.32.0.tar.xz">kpeople-5.32.0</a></td>
   <td align="right">57kB</td>
   <td><tt>5fe51c084143d889618d7df0aa0735b37dfa947e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.32/kplotting-5.32.0.tar.xz">kplotting-5.32.0</a></td>
   <td align="right">28kB</td>
   <td><tt>6890c9ce65113666491a80d28617cb3a07efefd1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.32/kpty-5.32.0.tar.xz">kpty-5.32.0</a></td>
   <td align="right">56kB</td>
   <td><tt>557b833d5c054415a75b9e88e09c513bdda6bd40</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.32/krunner-5.32.0.tar.xz">krunner-5.32.0</a></td>
   <td align="right">65kB</td>
   <td><tt>d4f3ee55d913ed7ded5f83e1917f7b3921a282c1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.32/kservice-5.32.0.tar.xz">kservice-5.32.0</a></td>
   <td align="right">242kB</td>
   <td><tt>bee8538a98223c65732af2a4ebb6359974dfb0aa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.32/ktexteditor-5.32.0.tar.xz">ktexteditor-5.32.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>b2f1324fbef7b696dd810decb87ef93b9e27b2b1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.32/ktextwidgets-5.32.0.tar.xz">ktextwidgets-5.32.0</a></td>
   <td align="right">300kB</td>
   <td><tt>3662833de48eacb60c2c23cf762d134628a818c1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.32/kunitconversion-5.32.0.tar.xz">kunitconversion-5.32.0</a></td>
   <td align="right">757kB</td>
   <td><tt>a6540f094a9cf8a2560b273d32408d2209473a83</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.32/kwallet-5.32.0.tar.xz">kwallet-5.32.0</a></td>
   <td align="right">295kB</td>
   <td><tt>acc6e3b7ab831f7c2af16686fee24342ee8f2507</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.32/kwayland-5.32.0.tar.xz">kwayland-5.32.0</a></td>
   <td align="right">253kB</td>
   <td><tt>49afecee2d646ca46bf7fc9d4fff2386d387a04a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.32/kwidgetsaddons-5.32.0.tar.xz">kwidgetsaddons-5.32.0</a></td>
   <td align="right">2.0MB</td>
   <td><tt>374c490a27f26cbcebd094eaa6db4520991037d3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.32/kwindowsystem-5.32.0.tar.xz">kwindowsystem-5.32.0</a></td>
   <td align="right">163kB</td>
   <td><tt>dda873da279c0c04c327c844b92b66ff04a6f790</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.32/kxmlgui-5.32.0.tar.xz">kxmlgui-5.32.0</a></td>
   <td align="right">861kB</td>
   <td><tt>6bd4faa687edf192893a2c4ffca72c026701e77c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.32/kxmlrpcclient-5.32.0.tar.xz">kxmlrpcclient-5.32.0</a></td>
   <td align="right">27kB</td>
   <td><tt>aaaeeadbd12efbb82b43054383afb6359fb04166</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.32/modemmanager-qt-5.32.0.tar.xz">modemmanager-qt-5.32.0</a></td>
   <td align="right">95kB</td>
   <td><tt>658226b1f5b92748c638b7bf184b32b0fddfe7fd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.32/networkmanager-qt-5.32.0.tar.xz">networkmanager-qt-5.32.0</a></td>
   <td align="right">153kB</td>
   <td><tt>df12e61d7e8eb61ff427f164f763bb8fcc9977de</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.32/oxygen-icons5-5.32.0.tar.xz">oxygen-icons5-5.32.0</a></td>
   <td align="right">223MB</td>
   <td><tt>e67d19112e5980a2e7937a1206eb506d4f9032bc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.32/plasma-framework-5.32.0.tar.xz">plasma-framework-5.32.0</a></td>
   <td align="right">4.3MB</td>
   <td><tt>20f170c4bc9108b3c1e596f7413104e6a431281c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.32/prison-5.32.0.tar.xz">prison-5.32.0</a></td>
   <td align="right">13kB</td>
   <td><tt>72eac9b9424c01ea0064531b0a410f59ff4736a4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.32/solid-5.32.0.tar.xz">solid-5.32.0</a></td>
   <td align="right">240kB</td>
   <td><tt>9b028c6b52088833658dbe333ccff83c5cd360a7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.32/sonnet-5.32.0.tar.xz">sonnet-5.32.0</a></td>
   <td align="right">276kB</td>
   <td><tt>0958bd33647e3b3fbada2065f9d4149904573de3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.32/syntax-highlighting-5.32.0.tar.xz">syntax-highlighting-5.32.0</a></td>
   <td align="right">955kB</td>
   <td><tt>f7f98eaeccb90106b10a63490eecb539127a9bdd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.32/threadweaver-5.32.0.tar.xz">threadweaver-5.32.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>be985000f1616077d46cf0257acd6192327d86ea</tt></td>
</tr>

</table>
