<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/analitza-4.10.5.tar.xz">analitza-4.10.5</a></td>
   <td align="right">174kB</td>
   <td><tt>e8f6810516838d94bb66db01c6ef19ebc8680ca7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/ark-4.10.5.tar.xz">ark-4.10.5</a></td>
   <td align="right">232kB</td>
   <td><tt>8c50a864af0dbf62e3df46414c7bf9cd1d8c8620</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/audiocd-kio-4.10.5.tar.xz">audiocd-kio-4.10.5</a></td>
   <td align="right">55kB</td>
   <td><tt>d215fe1ec68cee0b833ed82ad34c4850400cc081</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/blinken-4.10.5.tar.xz">blinken-4.10.5</a></td>
   <td align="right">553kB</td>
   <td><tt>45c720a6b1566d941cfae8d8354d603331c1e258</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/bomber-4.10.5.tar.xz">bomber-4.10.5</a></td>
   <td align="right">383kB</td>
   <td><tt>9ccd0e60f5ada51aae2fd35b214a2350e7950351</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/bovo-4.10.5.tar.xz">bovo-4.10.5</a></td>
   <td align="right">107kB</td>
   <td><tt>cf6de267949be1900b9a74eb77118ed33f8fe389</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/cantor-4.10.5.tar.xz">cantor-4.10.5</a></td>
   <td align="right">311kB</td>
   <td><tt>b815ec8ceef27436bca46ee80d933912deb7c771</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/dragon-4.10.5.tar.xz">dragon-4.10.5</a></td>
   <td align="right">386kB</td>
   <td><tt>58cf5d6fa420257665032c70cf8a70485af45a97</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/ffmpegthumbs-4.10.5.tar.xz">ffmpegthumbs-4.10.5</a></td>
   <td align="right">20kB</td>
   <td><tt>68fb56a2cb51672f250566baeb36e489cc15909c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/filelight-4.10.5.tar.xz">filelight-4.10.5</a></td>
   <td align="right">284kB</td>
   <td><tt>0028141091901b08b133d338e6c4ce44448b680c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/granatier-4.10.5.tar.xz">granatier-4.10.5</a></td>
   <td align="right">1.3MB</td>
   <td><tt>5ba19a929dd4812ece1c3c1658e5d0457d737cb1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/gwenview-4.10.5.tar.xz">gwenview-4.10.5</a></td>
   <td align="right">2.0MB</td>
   <td><tt>14e8b214ad2aa17a3ce586ca481502a120061912</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/jovie-4.10.5.tar.xz">jovie-4.10.5</a></td>
   <td align="right">361kB</td>
   <td><tt>59d2e627b71e6ffe5c3f1f54a680522a114b74bc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/juk-4.10.5.tar.xz">juk-4.10.5</a></td>
   <td align="right">437kB</td>
   <td><tt>9f3aec6a41e3089c0a97feb48d94cd5d206c252a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/kaccessible-4.10.5.tar.xz">kaccessible-4.10.5</a></td>
   <td align="right">20kB</td>
   <td><tt>b56172555573162636937587436ee30091a16f6f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/kactivities-4.10.5.tar.xz">kactivities-4.10.5</a></td>
   <td align="right">107kB</td>
   <td><tt>6f0a7593ac5f7a4daf231bc403a78a658aae2db2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/kajongg-4.10.5.tar.xz">kajongg-4.10.5</a></td>
   <td align="right">2.3MB</td>
   <td><tt>d13a7b215c9650f536c00d1674e64a2501d24a00</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/kalgebra-4.10.5.tar.xz">kalgebra-4.10.5</a></td>
   <td align="right">436kB</td>
   <td><tt>a762efe6ab7bedb5e5a1f97e7227fc48729c8b62</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/kalzium-4.10.5.tar.xz">kalzium-4.10.5</a></td>
   <td align="right">3.5MB</td>
   <td><tt>b4429f34b85c507474cd33e2a1571de9acd70b5c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/kamera-4.10.5.tar.xz">kamera-4.10.5</a></td>
   <td align="right">36kB</td>
   <td><tt>1ff61bd5f4bc78b947451306aec899c845d0e178</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/kanagram-4.10.5.tar.xz">kanagram-4.10.5</a></td>
   <td align="right">1.0MB</td>
   <td><tt>1db931a1796a090ffefc1d922b9bf689e045581a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/kapman-4.10.5.tar.xz">kapman-4.10.5</a></td>
   <td align="right">1.5MB</td>
   <td><tt>4da9e17243a87108bb55006a8d486d68d57f5e86</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/kate-4.10.5.tar.xz">kate-4.10.5</a></td>
   <td align="right">2.4MB</td>
   <td><tt>39cca1dad490ba9ec36b43967afc0159d7343185</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/katomic-4.10.5.tar.xz">katomic-4.10.5</a></td>
   <td align="right">651kB</td>
   <td><tt>79f8e11671cd67fac0aff8ed5ebf8a845ed0e2b8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/kblackbox-4.10.5.tar.xz">kblackbox-4.10.5</a></td>
   <td align="right">105kB</td>
   <td><tt>3cfb90ce5810df96ab8893fd0c2da984825a3ed0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/kblocks-4.10.5.tar.xz">kblocks-4.10.5</a></td>
   <td align="right">1.1MB</td>
   <td><tt>98965d0f09d072722d8a35a9aee982cb66b0b61e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/kbounce-4.10.5.tar.xz">kbounce-4.10.5</a></td>
   <td align="right">1.5MB</td>
   <td><tt>45ab0f6440933719d70d6f10ad091a7753100832</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/kbreakout-4.10.5.tar.xz">kbreakout-4.10.5</a></td>
   <td align="right">1.3MB</td>
   <td><tt>38c1fb790541c01427e9cb7314e05929a25dc5d5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/kbruch-4.10.5.tar.xz">kbruch-4.10.5</a></td>
   <td align="right">887kB</td>
   <td><tt>f01c2b9f2bf1db8d5c2836fdff04862b311e3eac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/kcalc-4.10.5.tar.xz">kcalc-4.10.5</a></td>
   <td align="right">92kB</td>
   <td><tt>9c9f3219482d5a90e8c90d5fc0a3fa53c947d150</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/kcharselect-4.10.5.tar.xz">kcharselect-4.10.5</a></td>
   <td align="right">84kB</td>
   <td><tt>0d3ff509cd38ba290160575d7456ec17bfe00628</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/kcolorchooser-4.10.5.tar.xz">kcolorchooser-4.10.5</a></td>
   <td align="right">4kB</td>
   <td><tt>0e601ca75d6d237c23a83b10b2597b1ff905ea97</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/kcron-4.10.5.tar.xz">kcron-4.10.5</a></td>
   <td align="right">156kB</td>
   <td><tt>b2f3ac17b2a209948d70d383cd87e5348531e1c5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/kdeadmin-4.10.5.tar.xz">kdeadmin-4.10.5</a></td>
   <td align="right">646kB</td>
   <td><tt>0b809772effe249d1ec581902fcecb73e7761134</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/kdeartwork-4.10.5.tar.xz">kdeartwork-4.10.5</a></td>
   <td align="right">137MB</td>
   <td><tt>a6f9244b473ec01174ba85f9375438050be76daf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/kde-baseapps-4.10.5.tar.xz">kde-baseapps-4.10.5</a></td>
   <td align="right">2.4MB</td>
   <td><tt>3953c441d508408becfbb1177d3a834775b92bf6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/kde-base-artwork-4.10.5.tar.xz">kde-base-artwork-4.10.5</a></td>
   <td align="right">7.0MB</td>
   <td><tt>36172c9e57566f05d81682297f8f2fe7c948ea0e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/kdegraphics-mobipocket-4.10.5.tar.xz">kdegraphics-mobipocket-4.10.5</a></td>
   <td align="right">19kB</td>
   <td><tt>80a5878f2c9f4fa490f22a22fde03003c883c8cb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/kdegraphics-strigi-analyzer-4.10.5.tar.xz">kdegraphics-strigi-analyzer-4.10.5</a></td>
   <td align="right">40kB</td>
   <td><tt>b7db0edf8113faa4796cd585e41e514a7218a720</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/kdegraphics-thumbnailers-4.10.5.tar.xz">kdegraphics-thumbnailers-4.10.5</a></td>
   <td align="right">40kB</td>
   <td><tt>88631de08af153d1c745ba2cd0468e8cb7474217</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/kdelibs-4.10.5.tar.xz">kdelibs-4.10.5</a></td>
   <td align="right">11MB</td>
   <td><tt>6caab0c70ab742dd711b44dd3f9bfdcbf9be31eb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/kdenetwork-4.10.5.tar.xz">kdenetwork-4.10.5</a></td>
   <td align="right">8.6MB</td>
   <td><tt>3ee86a1a227593e9f37881da3c1db1a3c384b2e4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/kdepim-4.10.5.tar.xz">kdepim-4.10.5</a></td>
   <td align="right">13MB</td>
   <td><tt>a7c791e748558a194d020104dc62604ee9f632ae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/kdepimlibs-4.10.5.tar.xz">kdepimlibs-4.10.5</a></td>
   <td align="right">2.8MB</td>
   <td><tt>3e5ab28312cf1f194d8b3c1999102a4de8029146</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/kdepim-runtime-4.10.5.tar.xz">kdepim-runtime-4.10.5</a></td>
   <td align="right">1.1MB</td>
   <td><tt>f0b18cd320973c02d9b52cce9f4f424cb868d7fb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/kdeplasma-addons-4.10.5.tar.xz">kdeplasma-addons-4.10.5</a></td>
   <td align="right">1.7MB</td>
   <td><tt>d2198e25bdde0f9b4ce6ce0024c4662dc97e5fa4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/kde-runtime-4.10.5.tar.xz">kde-runtime-4.10.5</a></td>
   <td align="right">6.8MB</td>
   <td><tt>1d472ceff3a38ff778803817b9c0eeb5b1880db6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/kdesdk-4.10.5.tar.xz">kdesdk-4.10.5</a></td>
   <td align="right">5.0MB</td>
   <td><tt>e14780cfd63f14cc4b5ec2f769af6a5e9b416940</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/kdetoys-4.10.5.tar.xz">kdetoys-4.10.5</a></td>
   <td align="right">371kB</td>
   <td><tt>acecc68284addf327b70a72c787befd2cc0f28d2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/kde-wallpapers-4.10.5.tar.xz">kde-wallpapers-4.10.5</a></td>
   <td align="right">86MB</td>
   <td><tt>a78462d21e314fbfd31f2e81824d0f51d761a88b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/kdewebdev-4.10.5.tar.xz">kdewebdev-4.10.5</a></td>
   <td align="right">2.4MB</td>
   <td><tt>6d81be773a08fe41cbd34ac178107e3ba3a96181</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/kde-workspace-4.10.5.tar.xz">kde-workspace-4.10.5</a></td>
   <td align="right">12MB</td>
   <td><tt>d4986c1b4e3232f74a6348116908a13aee073a93</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/kdf-4.10.5.tar.xz">kdf-4.10.5</a></td>
   <td align="right">153kB</td>
   <td><tt>23c17847fa52849c90920f4a4717d578aedc0cdc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/kdiamond-4.10.5.tar.xz">kdiamond-4.10.5</a></td>
   <td align="right">3.9MB</td>
   <td><tt>eba0692af37410bd1005d0cbb8759420169d2e7b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/kfloppy-4.10.5.tar.xz">kfloppy-4.10.5</a></td>
   <td align="right">59kB</td>
   <td><tt>9758ded1ad5a664d4f22f4de16e3809549495ee5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/kfourinline-4.10.5.tar.xz">kfourinline-4.10.5</a></td>
   <td align="right">265kB</td>
   <td><tt>d923b3477cd7ac2e693a69cf5dcc4f0667b72670</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/kgamma-4.10.5.tar.xz">kgamma-4.10.5</a></td>
   <td align="right">26kB</td>
   <td><tt>31d4f0e2da3475f423a8c9aa77db569d7ea698d6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/kgeography-4.10.5.tar.xz">kgeography-4.10.5</a></td>
   <td align="right">6.4MB</td>
   <td><tt>22beaaada1a55aa5a5b107fa0eef9f3850aff2a1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/kgoldrunner-4.10.5.tar.xz">kgoldrunner-4.10.5</a></td>
   <td align="right">1.9MB</td>
   <td><tt>ade056258864f670d0e9932c07b4bec6c96589cb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/kgpg-4.10.5.tar.xz">kgpg-4.10.5</a></td>
   <td align="right">797kB</td>
   <td><tt>4875e0940e4e18d4be9c428c66aaaf204950ae3c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/khangman-4.10.5.tar.xz">khangman-4.10.5</a></td>
   <td align="right">3.7MB</td>
   <td><tt>b8347034cefa309850ac3099321179cd64ce4d2f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/kig-4.10.5.tar.xz">kig-4.10.5</a></td>
   <td align="right">1.4MB</td>
   <td><tt>8eb3dae04ce6599f911fa29e5109089dd0a5ca56</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/kigo-4.10.5.tar.xz">kigo-4.10.5</a></td>
   <td align="right">1.3MB</td>
   <td><tt>458ceb98d8704d7810539e24be708de089814b28</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/killbots-4.10.5.tar.xz">killbots-4.10.5</a></td>
   <td align="right">952kB</td>
   <td><tt>fedcdb56a0daa244ded949433b591f783f9fe03b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/kimono-4.10.5.tar.xz">kimono-4.10.5</a></td>
   <td align="right">940kB</td>
   <td><tt>b4ecd3d9a95966c7d290b45031da4550a1c71c09</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/kiriki-4.10.5.tar.xz">kiriki-4.10.5</a></td>
   <td align="right">123kB</td>
   <td><tt>459ad2ae8ed5d23f0fa49a512afe5c9100457e0c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/kiten-4.10.5.tar.xz">kiten-4.10.5</a></td>
   <td align="right">11MB</td>
   <td><tt>af9040043e03ef516e582c5a8d1219e358339aac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/kjumpingcube-4.10.5.tar.xz">kjumpingcube-4.10.5</a></td>
   <td align="right">101kB</td>
   <td><tt>82c175cef97149ba079c8b1520d48c60f1785903</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/klettres-4.10.5.tar.xz">klettres-4.10.5</a></td>
   <td align="right">2.5MB</td>
   <td><tt>285ed3b40f7502fe90d319c434946a344b54246d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/klickety-4.10.5.tar.xz">klickety-4.10.5</a></td>
   <td align="right">833kB</td>
   <td><tt>4630f3f31d9ab439475420ccd54707f097630371</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/klines-4.10.5.tar.xz">klines-4.10.5</a></td>
   <td align="right">936kB</td>
   <td><tt>adb8c1c1709b4dbdb733602ef29bcab6a177d494</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/kmag-4.10.5.tar.xz">kmag-4.10.5</a></td>
   <td align="right">91kB</td>
   <td><tt>0054927193647296448329bbdce1438e62fc57da</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/kmahjongg-4.10.5.tar.xz">kmahjongg-4.10.5</a></td>
   <td align="right">1.0MB</td>
   <td><tt>e020846d2252402cf51ae8bd63539774aeb775e9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/kmines-4.10.5.tar.xz">kmines-4.10.5</a></td>
   <td align="right">644kB</td>
   <td><tt>c896f86b96f4fb380c695c0491db6d5fff0836fe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/kmix-4.10.5.tar.xz">kmix-4.10.5</a></td>
   <td align="right">377kB</td>
   <td><tt>80b29d1c360dbebf1516c92de144f823012491ee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/kmousetool-4.10.5.tar.xz">kmousetool-4.10.5</a></td>
   <td align="right">42kB</td>
   <td><tt>ec4aac22da5499a484bd3b45a78c4a10b8ae4632</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/kmouth-4.10.5.tar.xz">kmouth-4.10.5</a></td>
   <td align="right">314kB</td>
   <td><tt>267079c968a59fd878eaff3e2986cfe82426513b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/kmplot-4.10.5.tar.xz">kmplot-4.10.5</a></td>
   <td align="right">665kB</td>
   <td><tt>da01e941e4439223cacc03de29780c27d41455b0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/knavalbattle-4.10.5.tar.xz">knavalbattle-4.10.5</a></td>
   <td align="right">836kB</td>
   <td><tt>e939a5b5d409bf89da3ffa8cd6e4af0d0e7798a0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/knetwalk-4.10.5.tar.xz">knetwalk-4.10.5</a></td>
   <td align="right">773kB</td>
   <td><tt>61fb05ab580785362b1204c8b64badc160284d02</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/kolf-4.10.5.tar.xz">kolf-4.10.5</a></td>
   <td align="right">763kB</td>
   <td><tt>ae1af46f6144adf912b3b9bf99666a178a6f78ac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/kollision-4.10.5.tar.xz">kollision-4.10.5</a></td>
   <td align="right">208kB</td>
   <td><tt>d7850701d8817dac21457ebeef78c18d0f37001f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/kolourpaint-4.10.5.tar.xz">kolourpaint-4.10.5</a></td>
   <td align="right">1.1MB</td>
   <td><tt>976a2093dda115b16f13603c35959b163cc4169e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/konquest-4.10.5.tar.xz">konquest-4.10.5</a></td>
   <td align="right">408kB</td>
   <td><tt>5e5c61bc3823be1dd45c87a77f404f51f5ed9b6e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/konsole-4.10.5.tar.xz">konsole-4.10.5</a></td>
   <td align="right">436kB</td>
   <td><tt>f6c08b19e2154dab6a7e86255ec254d79e305993</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/korundum-4.10.5.tar.xz">korundum-4.10.5</a></td>
   <td align="right">161kB</td>
   <td><tt>fa3e3c8dfdd4a81e49f91aa264d64f700ec4241f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/kpat-4.10.5.tar.xz">kpat-4.10.5</a></td>
   <td align="right">2.9MB</td>
   <td><tt>65be653b7fa41054e3f446441365fbad65b841b0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/kremotecontrol-4.10.5.tar.xz">kremotecontrol-4.10.5</a></td>
   <td align="right">1.0MB</td>
   <td><tt>c87ff44502352ae63120991866c239544d28d3ca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/kreversi-4.10.5.tar.xz">kreversi-4.10.5</a></td>
   <td align="right">390kB</td>
   <td><tt>f3ea6c3c37367ca112146c4b85cb521064f1187c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/kross-interpreters-4.10.5.tar.xz">kross-interpreters-4.10.5</a></td>
   <td align="right">130kB</td>
   <td><tt>58bb1c9fb45d20768c59e1147aa954d14d6dd18e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/kruler-4.10.5.tar.xz">kruler-4.10.5</a></td>
   <td align="right">131kB</td>
   <td><tt>c76fcd0f5fedcfd0017b3f27349e5fab8dd7bb74</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/ksaneplugin-4.10.5.tar.xz">ksaneplugin-4.10.5</a></td>
   <td align="right">13kB</td>
   <td><tt>4bae1e43e55f0aad7626c9a2fe10bca46cba1bd8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/kscd-4.10.5.tar.xz">kscd-4.10.5</a></td>
   <td align="right">92kB</td>
   <td><tt>8573e185d1e3ca05eda2f7a37ff7500859e3d0e3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/kshisen-4.10.5.tar.xz">kshisen-4.10.5</a></td>
   <td align="right">142kB</td>
   <td><tt>28cfe402f4a39d0902a85e8e316f40d26af17e1b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/ksirk-4.10.5.tar.xz">ksirk-4.10.5</a></td>
   <td align="right">5.6MB</td>
   <td><tt>dc43176fc71a7ca45976f79eb383aa1922a8adf8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/ksnakeduel-4.10.5.tar.xz">ksnakeduel-4.10.5</a></td>
   <td align="right">314kB</td>
   <td><tt>a7c5416dadf66a4148e4e30c12a6dc1528793524</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/ksnapshot-4.10.5.tar.xz">ksnapshot-4.10.5</a></td>
   <td align="right">258kB</td>
   <td><tt>2a5dcb4cc7ed0f290a857d4b7a1418f31c39a25f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/kspaceduel-4.10.5.tar.xz">kspaceduel-4.10.5</a></td>
   <td align="right">258kB</td>
   <td><tt>1b4146c55498e1223d0cf9209c1cec45d5cb5720</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/ksquares-4.10.5.tar.xz">ksquares-4.10.5</a></td>
   <td align="right">83kB</td>
   <td><tt>ca68405a5344481c1ed81bda0a7e37d78d0300f4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/kstars-4.10.5.tar.xz">kstars-4.10.5</a></td>
   <td align="right">11MB</td>
   <td><tt>724acde654d7d66ec8bf6c088c2f892eaf9d103d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/ksudoku-4.10.5.tar.xz">ksudoku-4.10.5</a></td>
   <td align="right">1.3MB</td>
   <td><tt>65da23cf971d77c563803f8f35794f4ff1ad4d15</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/ktimer-4.10.5.tar.xz">ktimer-4.10.5</a></td>
   <td align="right">147kB</td>
   <td><tt>f34c6b40a9cc581ab03bd79839276fdd9885b356</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/ktouch-4.10.5.tar.xz">ktouch-4.10.5</a></td>
   <td align="right">2.5MB</td>
   <td><tt>87c772a43e164a557e8fed01a5c5064823eb29c9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/ktuberling-4.10.5.tar.xz">ktuberling-4.10.5</a></td>
   <td align="right">4.0MB</td>
   <td><tt>59128492d7f7ecb1dcde1b88f40ddc186590914d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/kturtle-4.10.5.tar.xz">kturtle-4.10.5</a></td>
   <td align="right">207kB</td>
   <td><tt>ca8b46766ea8135978b7e6f3b1f7f21e5a1b6639</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/kubrick-4.10.5.tar.xz">kubrick-4.10.5</a></td>
   <td align="right">119kB</td>
   <td><tt>e1bc6911e549ca39725b2b093b0d33868c6cea52</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/kwallet-4.10.5.tar.xz">kwallet-4.10.5</a></td>
   <td align="right">276kB</td>
   <td><tt>ff945ff2cee1a0e9bcccd3d526dd077028c21308</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/kwordquiz-4.10.5.tar.xz">kwordquiz-4.10.5</a></td>
   <td align="right">1.1MB</td>
   <td><tt>3d92e066adecd77ef4de5b3ab4ecb6e06251dd55</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/libkcddb-4.10.5.tar.xz">libkcddb-4.10.5</a></td>
   <td align="right">161kB</td>
   <td><tt>125568df9a1f8e1f78f29d6e85ac7681100ed9ff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/libkcompactdisc-4.10.5.tar.xz">libkcompactdisc-4.10.5</a></td>
   <td align="right">75kB</td>
   <td><tt>69c63adeaa2d449a36f7cb7b9735321e7f8e3fc2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/libkdcraw-4.10.5.tar.xz">libkdcraw-4.10.5</a></td>
   <td align="right">341kB</td>
   <td><tt>fc124bb21db24dea02233e26f852628e10dd11d4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/libkdeedu-4.10.5.tar.xz">libkdeedu-4.10.5</a></td>
   <td align="right">208kB</td>
   <td><tt>40c7aa6d23f31389bb72ae9f2c25bbdfe54d34f5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/libkdegames-4.10.5.tar.xz">libkdegames-4.10.5</a></td>
   <td align="right">5.5MB</td>
   <td><tt>d4f343d27fbc83e8b31b6bf2cb626e893b9ac515</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/libkexiv2-4.10.5.tar.xz">libkexiv2-4.10.5</a></td>
   <td align="right">131kB</td>
   <td><tt>9521acdb66893006143bffdba81d2dbf140ce27f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/libkipi-4.10.5.tar.xz">libkipi-4.10.5</a></td>
   <td align="right">94kB</td>
   <td><tt>a9ead1c184938ea17b3bc0162dabb4df7ae4673b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/libkmahjongg-4.10.5.tar.xz">libkmahjongg-4.10.5</a></td>
   <td align="right">1.5MB</td>
   <td><tt>5dbed099eea3338088b61173c512dda4c92747a4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/libksane-4.10.5.tar.xz">libksane-4.10.5</a></td>
   <td align="right">80kB</td>
   <td><tt>5142d582390b031751dc410bdef80253dd596dfb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/lskat-4.10.5.tar.xz">lskat-4.10.5</a></td>
   <td align="right">936kB</td>
   <td><tt>48465c69208786a1e642968e5097b4acedb4aba1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/marble-4.10.5.tar.xz">marble-4.10.5</a></td>
   <td align="right">18MB</td>
   <td><tt>15563a5f31bf1c655fe6afc6477bd3f8042e8a6f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/mplayerthumbs-4.10.5.tar.xz">mplayerthumbs-4.10.5</a></td>
   <td align="right">27kB</td>
   <td><tt>dc72e06f6298647635b7490e8acff75a14aa0682</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/nepomuk-core-4.10.5.tar.xz">nepomuk-core-4.10.5</a></td>
   <td align="right">363kB</td>
   <td><tt>416dbcc9e20d463ed8dc009a4cd7d26be6ffa6cc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/nepomuk-widgets-4.10.5.tar.xz">nepomuk-widgets-4.10.5</a></td>
   <td align="right">78kB</td>
   <td><tt>f796178217f69e211786f08ed7c40c39b96d25c9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/okular-4.10.5.tar.xz">okular-4.10.5</a></td>
   <td align="right">1.3MB</td>
   <td><tt>8009cd23f844691c18001dbfe98a8e2f5a9f30b9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/oxygen-icons-4.10.5.tar.xz">oxygen-icons-4.10.5</a></td>
   <td align="right">262MB</td>
   <td><tt>c1a6e0d472f656d11338bcc39338f47af663c6b7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/pairs-4.10.5.tar.xz">pairs-4.10.5</a></td>
   <td align="right">2.0MB</td>
   <td><tt>c42d6a0dab25e28173ab47f1e18dda40204aaf15</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/palapeli-4.10.5.tar.xz">palapeli-4.10.5</a></td>
   <td align="right">1.6MB</td>
   <td><tt>08dfbb9619197597094d1e543825217a9c79c4fd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/parley-4.10.5.tar.xz">parley-4.10.5</a></td>
   <td align="right">7.8MB</td>
   <td><tt>ff4361c225fe4e9530200ca169b1a0fc0f5b5852</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/perlkde-4.10.5.tar.xz">perlkde-4.10.5</a></td>
   <td align="right">44kB</td>
   <td><tt>a0eb27db883b8fd8411041373140f3d6a5bcdbfc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/perlqt-4.10.5.tar.xz">perlqt-4.10.5</a></td>
   <td align="right">1.7MB</td>
   <td><tt>e4349b27791962188e8e56bd717a2ae7aec263c3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/picmi-4.10.5.tar.xz">picmi-4.10.5</a></td>
   <td align="right">719kB</td>
   <td><tt>fd2f95d39f4aeeea694a3b74949a3472783a3719</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/print-manager-4.10.5.tar.xz">print-manager-4.10.5</a></td>
   <td align="right">91kB</td>
   <td><tt>fb8df7bf5f9bd6da2099e9dadf3cdf20f20a9083</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/pykde4-4.10.5.tar.xz">pykde4-4.10.5</a></td>
   <td align="right">1.9MB</td>
   <td><tt>1e474e5d15756a6846902c11d6a7c95c5ca688da</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/qtruby-4.10.5.tar.xz">qtruby-4.10.5</a></td>
   <td align="right">530kB</td>
   <td><tt>6fc117f8d046ae4f026015475792c43f80346d29</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/qyoto-4.10.5.tar.xz">qyoto-4.10.5</a></td>
   <td align="right">517kB</td>
   <td><tt>d79d5d67fe95aecb326edba4cf1200b6a22f394c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/rocs-4.10.5.tar.xz">rocs-4.10.5</a></td>
   <td align="right">1.0MB</td>
   <td><tt>0f9e33b679f528918b682153447a5813d88c57ef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/smokegen-4.10.5.tar.xz">smokegen-4.10.5</a></td>
   <td align="right">146kB</td>
   <td><tt>d9d803c9d66d59ffc8d5a7372ee2176d355d3bb3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/smokekde-4.10.5.tar.xz">smokekde-4.10.5</a></td>
   <td align="right">39kB</td>
   <td><tt>22b2b717a8a81e3b4d52a65afd985044b5e77e3b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/smokeqt-4.10.5.tar.xz">smokeqt-4.10.5</a></td>
   <td align="right">32kB</td>
   <td><tt>af5c3b4cf9bf82de15ddb26a5ab188e800fe7942</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/step-4.10.5.tar.xz">step-4.10.5</a></td>
   <td align="right">367kB</td>
   <td><tt>e218cd5af527a815e222838b32bcffaaaa78e495</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/superkaramba-4.10.5.tar.xz">superkaramba-4.10.5</a></td>
   <td align="right">382kB</td>
   <td><tt>7e41f314431432b1d5b7b51432f6c80b910b3e55</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/svgpart-4.10.5.tar.xz">svgpart-4.10.5</a></td>
   <td align="right">9kB</td>
   <td><tt>fcd7759b4a92217c93188ed82e4cff7817013bb5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/sweeper-4.10.5.tar.xz">sweeper-4.10.5</a></td>
   <td align="right">82kB</td>
   <td><tt>e88a8782c33ba5ca8893c8df4826dc699de1cccb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/kde-l10n/kde-l10n-ar-4.10.5.tar.xz">kde-l10n-ar-4.10.5</a></td>
   <td align="right">3.1MB</td>
   <td><tt>fc0d985d2784a211c47640fa7bd1401cbbe2952a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/kde-l10n/kde-l10n-bg-4.10.5.tar.xz">kde-l10n-bg-4.10.5</a></td>
   <td align="right">1.9MB</td>
   <td><tt>9d2b611e91df2cd8451bcc119ad8d16294dd612b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/kde-l10n/kde-l10n-bs-4.10.5.tar.xz">kde-l10n-bs-4.10.5</a></td>
   <td align="right">2.1MB</td>
   <td><tt>b07123cd4c9be7818b08677b540c9ee8a003d6e9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/kde-l10n/kde-l10n-ca-4.10.5.tar.xz">kde-l10n-ca-4.10.5</a></td>
   <td align="right">12MB</td>
   <td><tt>348b40fc119aac1c2f9f3079fad8410e0d48d6f7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/kde-l10n/kde-l10n-ca@valencia-4.10.5.tar.xz">kde-l10n-ca@valencia-4.10.5</a></td>
   <td align="right">2.1MB</td>
   <td><tt>b0c0551e13dd2f7b8df6efae5a4819db5c9e66a1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/kde-l10n/kde-l10n-cs-4.10.5.tar.xz">kde-l10n-cs-4.10.5</a></td>
   <td align="right">2.9MB</td>
   <td><tt>c5214ff8212a02524e689a407b25ac3d0ede2382</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/kde-l10n/kde-l10n-da-4.10.5.tar.xz">kde-l10n-da-4.10.5</a></td>
   <td align="right">12MB</td>
   <td><tt>28a4f480c4d70558f68edc97a681faf4d4f6d361</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/kde-l10n/kde-l10n-de-4.10.5.tar.xz">kde-l10n-de-4.10.5</a></td>
   <td align="right">36MB</td>
   <td><tt>e00fd775768b4470cdc2f20b9cde827730eb2f59</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/kde-l10n/kde-l10n-el-4.10.5.tar.xz">kde-l10n-el-4.10.5</a></td>
   <td align="right">4.6MB</td>
   <td><tt>ff952ce2a2feaee21bf74dbc797f04bdba150444</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/kde-l10n/kde-l10n-en_GB-4.10.5.tar.xz">kde-l10n-en_GB-4.10.5</a></td>
   <td align="right">3.0MB</td>
   <td><tt>80dd870ad8401dacda38457f8d886f666de6fa97</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/kde-l10n/kde-l10n-es-4.10.5.tar.xz">kde-l10n-es-4.10.5</a></td>
   <td align="right">22MB</td>
   <td><tt>1201a781387a4da49b955b3ba41b374441fff017</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/kde-l10n/kde-l10n-et-4.10.5.tar.xz">kde-l10n-et-4.10.5</a></td>
   <td align="right">7.1MB</td>
   <td><tt>4389dfb580e14bc9ae7ba733511f3afcdeec0bc3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/kde-l10n/kde-l10n-eu-4.10.5.tar.xz">kde-l10n-eu-4.10.5</a></td>
   <td align="right">1.9MB</td>
   <td><tt>836df151a582a817dd492c70c7a91963537d8308</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/kde-l10n/kde-l10n-fa-4.10.5.tar.xz">kde-l10n-fa-4.10.5</a></td>
   <td align="right">1.8MB</td>
   <td><tt>15983e0a0bde17fc0d06b337a61f7c02411e9cfe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/kde-l10n/kde-l10n-fi-4.10.5.tar.xz">kde-l10n-fi-4.10.5</a></td>
   <td align="right">2.5MB</td>
   <td><tt>cc977cd1da2d1b22f0d284ab9fc8c1fd611bb35e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/kde-l10n/kde-l10n-fr-4.10.5.tar.xz">kde-l10n-fr-4.10.5</a></td>
   <td align="right">42MB</td>
   <td><tt>bb48642820e8a77bd10c1df7cb63ca6d4b53e445</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/kde-l10n/kde-l10n-ga-4.10.5.tar.xz">kde-l10n-ga-4.10.5</a></td>
   <td align="right">2.7MB</td>
   <td><tt>acca93a90ead382bc46f58a3bfce7a9a7cd2f7c7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/kde-l10n/kde-l10n-gl-4.10.5.tar.xz">kde-l10n-gl-4.10.5</a></td>
   <td align="right">4.0MB</td>
   <td><tt>df03a1494ba1922924d06b5e5f9e73259fccb0f9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/kde-l10n/kde-l10n-he-4.10.5.tar.xz">kde-l10n-he-4.10.5</a></td>
   <td align="right">2.0MB</td>
   <td><tt>646fd612e3aa7b42ec149c528a05818c38f8dca0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/kde-l10n/kde-l10n-hi-4.10.5.tar.xz">kde-l10n-hi-4.10.5</a></td>
   <td align="right">1.7MB</td>
   <td><tt>8e1e49cbf15c0016d2b1c5102dcd0164188df136</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/kde-l10n/kde-l10n-hr-4.10.5.tar.xz">kde-l10n-hr-4.10.5</a></td>
   <td align="right">1.9MB</td>
   <td><tt>5ba51f3a4aff86ba0e2a643192d6ec5a3e01f602</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/kde-l10n/kde-l10n-hu-4.10.5.tar.xz">kde-l10n-hu-4.10.5</a></td>
   <td align="right">4.0MB</td>
   <td><tt>3dc060f28287035e91f58b4ff2abd0919cfcc7c2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/kde-l10n/kde-l10n-ia-4.10.5.tar.xz">kde-l10n-ia-4.10.5</a></td>
   <td align="right">1.3MB</td>
   <td><tt>0a85463822cf330d9d0a3321922c50b55c9773cc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/kde-l10n/kde-l10n-is-4.10.5.tar.xz">kde-l10n-is-4.10.5</a></td>
   <td align="right">1.7MB</td>
   <td><tt>16ab7e00ac2d6cfd5f990f83c20e25f273e675ae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/kde-l10n/kde-l10n-it-4.10.5.tar.xz">kde-l10n-it-4.10.5</a></td>
   <td align="right">10MB</td>
   <td><tt>0977bee8e7e7da41a8954597a55dac6caf1c4c22</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/kde-l10n/kde-l10n-ja-4.10.5.tar.xz">kde-l10n-ja-4.10.5</a></td>
   <td align="right">2.2MB</td>
   <td><tt>c7c77e8dc29de3c4ca5190ddc697b68bd4f5ef9e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/kde-l10n/kde-l10n-kk-4.10.5.tar.xz">kde-l10n-kk-4.10.5</a></td>
   <td align="right">2.4MB</td>
   <td><tt>54f04d4cef0682bc27eef74d7360c593a63986f2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/kde-l10n/kde-l10n-km-4.10.5.tar.xz">kde-l10n-km-4.10.5</a></td>
   <td align="right">2.1MB</td>
   <td><tt>8d3f98661793b293e9666b4498035b6273a2f6a7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/kde-l10n/kde-l10n-ko-4.10.5.tar.xz">kde-l10n-ko-4.10.5</a></td>
   <td align="right">1.6MB</td>
   <td><tt>2ec28930748fb10bb9e12a1c1c1754f57de99564</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/kde-l10n/kde-l10n-lt-4.10.5.tar.xz">kde-l10n-lt-4.10.5</a></td>
   <td align="right">12MB</td>
   <td><tt>0968544df3537796a6430fc095c0234514670aa5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/kde-l10n/kde-l10n-lv-4.10.5.tar.xz">kde-l10n-lv-4.10.5</a></td>
   <td align="right">2.1MB</td>
   <td><tt>49bd074bee5145448ed356f05d64c6d09dc2bc79</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/kde-l10n/kde-l10n-mr-4.10.5.tar.xz">kde-l10n-mr-4.10.5</a></td>
   <td align="right">1.7MB</td>
   <td><tt>dcfd33c98b431477303ebc798d65f4db8407f27c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/kde-l10n/kde-l10n-nb-4.10.5.tar.xz">kde-l10n-nb-4.10.5</a></td>
   <td align="right">2.4MB</td>
   <td><tt>8ee2733a7be8294c61113c9d79c85f2b9c653527</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/kde-l10n/kde-l10n-nds-4.10.5.tar.xz">kde-l10n-nds-4.10.5</a></td>
   <td align="right">3.0MB</td>
   <td><tt>8b2a816b58288e359ab3bde19439a3efe2c3c608</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/kde-l10n/kde-l10n-nl-4.10.5.tar.xz">kde-l10n-nl-4.10.5</a></td>
   <td align="right">15MB</td>
   <td><tt>8346eb05afcdda8db89434a27e76ab4d35a24526</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/kde-l10n/kde-l10n-nn-4.10.5.tar.xz">kde-l10n-nn-4.10.5</a></td>
   <td align="right">1.8MB</td>
   <td><tt>2ecc0de350f85fa143c0064f826eea5698c7f04d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/kde-l10n/kde-l10n-pa-4.10.5.tar.xz">kde-l10n-pa-4.10.5</a></td>
   <td align="right">1.8MB</td>
   <td><tt>54f441cd0ba82b56710b55ddfc97a6af1b9421f3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/kde-l10n/kde-l10n-pl-4.10.5.tar.xz">kde-l10n-pl-4.10.5</a></td>
   <td align="right">16MB</td>
   <td><tt>4d8215ad5198ab09a38a5571a29bd657e19ef811</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/kde-l10n/kde-l10n-pt-4.10.5.tar.xz">kde-l10n-pt-4.10.5</a></td>
   <td align="right">5.5MB</td>
   <td><tt>640ccf69a0992c219118c7ff9420881fbc83ee19</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/kde-l10n/kde-l10n-pt_BR-4.10.5.tar.xz">kde-l10n-pt_BR-4.10.5</a></td>
   <td align="right">26MB</td>
   <td><tt>423f14a3d41cc5706e7e71b04f79970f5d52f3ab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/kde-l10n/kde-l10n-ro-4.10.5.tar.xz">kde-l10n-ro-4.10.5</a></td>
   <td align="right">2.8MB</td>
   <td><tt>34fe8eb4cb53b155186f179dafc6018fae046ebe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/kde-l10n/kde-l10n-ru-4.10.5.tar.xz">kde-l10n-ru-4.10.5</a></td>
   <td align="right">22MB</td>
   <td><tt>cda653ee0e77fabd30ee4e4b9d67f8c2b04edfff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/kde-l10n/kde-l10n-si-4.10.5.tar.xz">kde-l10n-si-4.10.5</a></td>
   <td align="right">1.0MB</td>
   <td><tt>dec967dba3230a2d6b6fe556a339a7f140894a10</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/kde-l10n/kde-l10n-sk-4.10.5.tar.xz">kde-l10n-sk-4.10.5</a></td>
   <td align="right">4.1MB</td>
   <td><tt>95deaae41fa0341c2dfe068aeb896df4ce07c0ef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/kde-l10n/kde-l10n-sl-4.10.5.tar.xz">kde-l10n-sl-4.10.5</a></td>
   <td align="right">3.3MB</td>
   <td><tt>cad9a7fabee404ddb387ae8a524232c7bb0d7ad8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/kde-l10n/kde-l10n-sr-4.10.5.tar.xz">kde-l10n-sr-4.10.5</a></td>
   <td align="right">5.3MB</td>
   <td><tt>9427cc670bfe00e1de9cae56e6a8c3a93eb8036e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/kde-l10n/kde-l10n-sv-4.10.5.tar.xz">kde-l10n-sv-4.10.5</a></td>
   <td align="right">15MB</td>
   <td><tt>b1eacd2fc274847435ca999fa54c4424f480de73</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/kde-l10n/kde-l10n-tg-4.10.5.tar.xz">kde-l10n-tg-4.10.5</a></td>
   <td align="right">1.9MB</td>
   <td><tt>2c2622fa898dd3c0526dd90e0d33876aa7320591</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/kde-l10n/kde-l10n-th-4.10.5.tar.xz">kde-l10n-th-4.10.5</a></td>
   <td align="right">1.6MB</td>
   <td><tt>8bd8d360e766ed63fcf4748a608c8dda839e6ad3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/kde-l10n/kde-l10n-tr-4.10.5.tar.xz">kde-l10n-tr-4.10.5</a></td>
   <td align="right">3.9MB</td>
   <td><tt>ef4f2f3053510892db4a9af835960c0091cbec81</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/kde-l10n/kde-l10n-ug-4.10.5.tar.xz">kde-l10n-ug-4.10.5</a></td>
   <td align="right">1.6MB</td>
   <td><tt>e4462d3198c281adf47220533dc6112e27e92472</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/kde-l10n/kde-l10n-uk-4.10.5.tar.xz">kde-l10n-uk-4.10.5</a></td>
   <td align="right">26MB</td>
   <td><tt>1e07bae815164606ca21726b7b774c4062b7ab9e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/kde-l10n/kde-l10n-vi-4.10.5.tar.xz">kde-l10n-vi-4.10.5</a></td>
   <td align="right">918kB</td>
   <td><tt>f7788455600f98cf6bc19cd5cb754b353acdf873</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/kde-l10n/kde-l10n-wa-4.10.5.tar.xz">kde-l10n-wa-4.10.5</a></td>
   <td align="right">1.6MB</td>
   <td><tt>e03d06dfb3568f325a9908b584c08252d9a489c5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/kde-l10n/kde-l10n-zh_CN-4.10.5.tar.xz">kde-l10n-zh_CN-4.10.5</a></td>
   <td align="right">3.4MB</td>
   <td><tt>a6123c2a3d65ec3962f39f7fbf19dcac1c921d59</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.5/src/kde-l10n/kde-l10n-zh_TW-4.10.5.tar.xz">kde-l10n-zh_TW-4.10.5</a></td>
   <td align="right">2.4MB</td>
   <td><tt>cbfaf443e2e8e4c6bcad01083c2adaff2541eb59</tt></td>
</tr>

</table>
