<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">SHA-1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/akonadi-21.08.0.tar.xz">akonadi-21.08.0</a></td>
   <td align="right">1570kB</td>
   <td><tt>65fb2e4d86aa29f897b77eae189a7c26748d4263</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/akonadi-calendar-21.08.0.tar.xz">akonadi-calendar-21.08.0</a></td>
   <td align="right">344kB</td>
   <td><tt>2ef28732a07436515b3d9ef4eb7d452c16bcea44</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/akonadi-calendar-tools-21.08.0.tar.xz">akonadi-calendar-tools-21.08.0</a></td>
   <td align="right">230kB</td>
   <td><tt>1b34393fe30bbe1f5830fa01e9a9d122052e37fb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/akonadiconsole-21.08.0.tar.xz">akonadiconsole-21.08.0</a></td>
   <td align="right">196kB</td>
   <td><tt>ee254099332c6ba210c9e06fb6ce29e5e0308287</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/akonadi-contacts-21.08.0.tar.xz">akonadi-contacts-21.08.0</a></td>
   <td align="right">411kB</td>
   <td><tt>478f10d959a4bd06479cd170711adb32ca9a73a4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/akonadi-import-wizard-21.08.0.tar.xz">akonadi-import-wizard-21.08.0</a></td>
   <td align="right">499kB</td>
   <td><tt>ab0d9ef31bd6328272607d7eb01a26e06988b5a8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/akonadi-mime-21.08.0.tar.xz">akonadi-mime-21.08.0</a></td>
   <td align="right">137kB</td>
   <td><tt>c393e92d8c25bd2bcfd83313499061182be0c1d3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/akonadi-notes-21.08.0.tar.xz">akonadi-notes-21.08.0</a></td>
   <td align="right">25kB</td>
   <td><tt>316dbc7df038111d6e246b28ff2b1f0c2488f85d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/akonadi-search-21.08.0.tar.xz">akonadi-search-21.08.0</a></td>
   <td align="right">94kB</td>
   <td><tt>6064cf5bb7c4d2c1e2b462ffc8be6a2959443ade</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/akregator-21.08.0.tar.xz">akregator-21.08.0</a></td>
   <td align="right">2193kB</td>
   <td><tt>d8d5fe1100d05c12e6c2a38143ed14333b3c28af</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/analitza-21.08.0.tar.xz">analitza-21.08.0</a></td>
   <td align="right">338kB</td>
   <td><tt>b225a0f86a9a67ce6750f9b8871186fa8c242632</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/ark-21.08.0.tar.xz">ark-21.08.0</a></td>
   <td align="right">2704kB</td>
   <td><tt>c0982fbd3e60d52586cbf446ddae3e73504b01c6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/artikulate-21.08.0.tar.xz">artikulate-21.08.0</a></td>
   <td align="right">1064kB</td>
   <td><tt>4f0e8efbf410d32312455dbc8d6c4cf4130dcb60</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/audiocd-kio-21.08.0.tar.xz">audiocd-kio-21.08.0</a></td>
   <td align="right">510kB</td>
   <td><tt>54d2ca4cc81bb71335a4e7bc5a049771f7326d11</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/baloo-widgets-21.08.0.tar.xz">baloo-widgets-21.08.0</a></td>
   <td align="right">256kB</td>
   <td><tt>8798e93bb80c83697e4766f353afd45da9dc4065</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/blinken-21.08.0.tar.xz">blinken-21.08.0</a></td>
   <td align="right">2649kB</td>
   <td><tt>7cc5d1c89c79c6aca56bd63bd26c6de9b57f88b3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/bomber-21.08.0.tar.xz">bomber-21.08.0</a></td>
   <td align="right">811kB</td>
   <td><tt>5a39d58774db56ddfdaad69419c024b0936f3189</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/bovo-21.08.0.tar.xz">bovo-21.08.0</a></td>
   <td align="right">203kB</td>
   <td><tt>b055ca9a75e73c3127424ffd9b35526ed6e70778</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/calendarsupport-21.08.0.tar.xz">calendarsupport-21.08.0</a></td>
   <td align="right">750kB</td>
   <td><tt>208f0c376e5b42e2e24dbc1cd247ff0995fedb42</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/cantor-21.08.0.tar.xz">cantor-21.08.0</a></td>
   <td align="right">8967kB</td>
   <td><tt>8efaa7af23d3e496bb1195f09dc5d9bf0f466336</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/cervisia-21.08.0.tar.xz">cervisia-21.08.0</a></td>
   <td align="right">1866kB</td>
   <td><tt>393fff75bdf5c021bddfe34664725248b5c6fdd2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/dolphin-21.08.0.tar.xz">dolphin-21.08.0</a></td>
   <td align="right">5174kB</td>
   <td><tt>b11987da6ef6831e1b28c814d3f8a2628fbb9c10</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/dolphin-plugins-21.08.0.tar.xz">dolphin-plugins-21.08.0</a></td>
   <td align="right">246kB</td>
   <td><tt>6e8c28d1df83e5200dd8c18aa6244f779a1826cb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/dragon-21.08.0.tar.xz">dragon-21.08.0</a></td>
   <td align="right">1626kB</td>
   <td><tt>b60cf91340013fe62bfb24c6e1c33c78ea24b8a3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/elisa-21.08.0.tar.xz">elisa-21.08.0</a></td>
   <td align="right">1697kB</td>
   <td><tt>c7ca64bba9de628d4f4b98eb4f49a81e33454a96</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/eventviews-21.08.0.tar.xz">eventviews-21.08.0</a></td>
   <td align="right">440kB</td>
   <td><tt>560605ded96bc19c18b912388b931fa14dbefb61</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/ffmpegthumbs-21.08.0.tar.xz">ffmpegthumbs-21.08.0</a></td>
   <td align="right">36kB</td>
   <td><tt>ba34d3188e5e77193add9aa63e7d724c599c7f01</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/filelight-21.08.0.tar.xz">filelight-21.08.0</a></td>
   <td align="right">667kB</td>
   <td><tt>efe313b99ec7d8164ff8fb0acacf9ae199b759e6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/granatier-21.08.0.tar.xz">granatier-21.08.0</a></td>
   <td align="right">2047kB</td>
   <td><tt>11e46abea8814036d3c30428ff695c2fc235a0ff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/grantlee-editor-21.08.0.tar.xz">grantlee-editor-21.08.0</a></td>
   <td align="right">108kB</td>
   <td><tt>7621fd10bc0f8596e1c6872a984e6b58f96a3560</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/grantleetheme-21.08.0.tar.xz">grantleetheme-21.08.0</a></td>
   <td align="right">58kB</td>
   <td><tt>c944f7e0a8f85f2a7822cbf96ffb74da6d3dea3d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/gwenview-21.08.0.tar.xz">gwenview-21.08.0</a></td>
   <td align="right">6658kB</td>
   <td><tt>e75b94a12fa633239d243c052f4b956c07b4d187</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/incidenceeditor-21.08.0.tar.xz">incidenceeditor-21.08.0</a></td>
   <td align="right">531kB</td>
   <td><tt>199e05055d73d104157027f03959f0a7af92cb4a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/itinerary-21.08.0.tar.xz">itinerary-21.08.0</a></td>
   <td align="right">404kB</td>
   <td><tt>b963799420c2c56374683dfcbcfd408e02a42cf5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/juk-21.08.0.tar.xz">juk-21.08.0</a></td>
   <td align="right">1966kB</td>
   <td><tt>f898ba30c710b717cec233b6b5ad2ceb4d7b3d7f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/k3b-21.08.0.tar.xz">k3b-21.08.0</a></td>
   <td align="right">10494kB</td>
   <td><tt>3fe51236274c827ce47ddb4f349cbe1f1d2a0bf7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/kaccounts-integration-21.08.0.tar.xz">kaccounts-integration-21.08.0</a></td>
   <td align="right">84kB</td>
   <td><tt>8637f17cec85dbb90e0bc1dba7c33308cf9a0bca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/kaccounts-providers-21.08.0.tar.xz">kaccounts-providers-21.08.0</a></td>
   <td align="right">62kB</td>
   <td><tt>6dd0c0610eb0de9a099e959fa4ef39cda2cf9132</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/kaddressbook-21.08.0.tar.xz">kaddressbook-21.08.0</a></td>
   <td align="right">3247kB</td>
   <td><tt>c29e9c66d0c1de76377feb39984c3e0b97a12612</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/kajongg-21.08.0.tar.xz">kajongg-21.08.0</a></td>
   <td align="right">4453kB</td>
   <td><tt>fca83d3eda2a72e47a3388602a1a54dfc0b52d8f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/kalarm-21.08.0.tar.xz">kalarm-21.08.0</a></td>
   <td align="right">2103kB</td>
   <td><tt>4634c946431d5585b3d6a87b4bf6d5018b3f5f10</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/kalarmcal-21.08.0.tar.xz">kalarmcal-21.08.0</a></td>
   <td align="right">614kB</td>
   <td><tt>d70d440f2af400aebfbc299af4c5135f620415b9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/kalgebra-21.08.0.tar.xz">kalgebra-21.08.0</a></td>
   <td align="right">1002kB</td>
   <td><tt>478123b705d187971d16e193e53b6090defcb746</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/kalzium-21.08.0.tar.xz">kalzium-21.08.0</a></td>
   <td align="right">24016kB</td>
   <td><tt>528a4012e7e00d81ea19b50118b8eca8ca7015e0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/kamera-21.08.0.tar.xz">kamera-21.08.0</a></td>
   <td align="right">113kB</td>
   <td><tt>5e14171afd5ba4d66808c314baba9fa1423e5688</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/kamoso-21.08.0.tar.xz">kamoso-21.08.0</a></td>
   <td align="right">209kB</td>
   <td><tt>3364e83129839925496b5939d52383283e2237a9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/kanagram-21.08.0.tar.xz">kanagram-21.08.0</a></td>
   <td align="right">7850kB</td>
   <td><tt>0df86b8e4f4ce2ca4b6e9779a75b334a969fb59d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/kapman-21.08.0.tar.xz">kapman-21.08.0</a></td>
   <td align="right">2414kB</td>
   <td><tt>23f919273cbc441a14101ea8b9564f76b8d84f1d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/kapptemplate-21.08.0.tar.xz">kapptemplate-21.08.0</a></td>
   <td align="right">326kB</td>
   <td><tt>ba657ca1fbaac779595b2494f10ecef9b7b917b9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/kate-21.08.0.tar.xz">kate-21.08.0</a></td>
   <td align="right">7114kB</td>
   <td><tt>fc624dd153577cf1503044ee972834809733ae15</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/katomic-21.08.0.tar.xz">katomic-21.08.0</a></td>
   <td align="right">1400kB</td>
   <td><tt>408a6aa08c055a5df724f5d79c42c8a193c6ca29</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/kbackup-21.08.0.tar.xz">kbackup-21.08.0</a></td>
   <td align="right">375kB</td>
   <td><tt>0b0aac499622687ae52af1b2d2ff3fe7c40fd23b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/kblackbox-21.08.0.tar.xz">kblackbox-21.08.0</a></td>
   <td align="right">511kB</td>
   <td><tt>f14d2728cfd20a0959cf0f9adcd4643e71ee637e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/kblocks-21.08.0.tar.xz">kblocks-21.08.0</a></td>
   <td align="right">2050kB</td>
   <td><tt>cb3df346e7afe8f48d554aac199248d92e2e0caa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/kbounce-21.08.0.tar.xz">kbounce-21.08.0</a></td>
   <td align="right">3444kB</td>
   <td><tt>7895f2611daa6dbc90692f479143820caef20431</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/kbreakout-21.08.0.tar.xz">kbreakout-21.08.0</a></td>
   <td align="right">2492kB</td>
   <td><tt>4002ad05d4213c8d5656de4ae88ae069cf6c6134</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/kbruch-21.08.0.tar.xz">kbruch-21.08.0</a></td>
   <td align="right">5496kB</td>
   <td><tt>9301e284095691eeb021ce429e006044c81590fd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/kcachegrind-21.08.0.tar.xz">kcachegrind-21.08.0</a></td>
   <td align="right">834kB</td>
   <td><tt>9011a11030cb23ecf2fa0da2605c7f5175db7fb3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/kcalc-21.08.0.tar.xz">kcalc-21.08.0</a></td>
   <td align="right">370kB</td>
   <td><tt>c99e43c89896483f2f8b00afaae17005433bcf19</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/kcalutils-21.08.0.tar.xz">kcalutils-21.08.0</a></td>
   <td align="right">329kB</td>
   <td><tt>a16ce903424ccc2342e05f5d9b0ac76779ded544</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/kcharselect-21.08.0.tar.xz">kcharselect-21.08.0</a></td>
   <td align="right">360kB</td>
   <td><tt>bda456e5daede0e319b55828133c5b47a86854c4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/kcolorchooser-21.08.0.tar.xz">kcolorchooser-21.08.0</a></td>
   <td align="right">28kB</td>
   <td><tt>72a7403233b1afcaa6104dbbcd508d9f5abe59f8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/kcron-21.08.0.tar.xz">kcron-21.08.0</a></td>
   <td align="right">889kB</td>
   <td><tt>58a87030b231c20245af2f403b156fec5202f196</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/kdebugsettings-21.08.0.tar.xz">kdebugsettings-21.08.0</a></td>
   <td align="right">87kB</td>
   <td><tt>b6d12f3beeb7fd50887167e1c1bb396c3f089e6f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/kdeconnect-kde-21.08.0.tar.xz">kdeconnect-kde-21.08.0</a></td>
   <td align="right">575kB</td>
   <td><tt>d69cfa71f45286ff6b40fa00ccaa6be684a3f035</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/kde-dev-scripts-21.08.0.tar.xz">kde-dev-scripts-21.08.0</a></td>
   <td align="right">357kB</td>
   <td><tt>8b431bc72318a6c1ac118c05ac16987539b2e7c1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/kde-dev-utils-21.08.0.tar.xz">kde-dev-utils-21.08.0</a></td>
   <td align="right">66kB</td>
   <td><tt>4af75a4e9149b0650298436a5fc3f6c244b292b2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/kdeedu-data-21.08.0.tar.xz">kdeedu-data-21.08.0</a></td>
   <td align="right">327kB</td>
   <td><tt>5b5cb620bfaca63f7186dbefd5a71e47b8c43102</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/kdegraphics-mobipocket-21.08.0.tar.xz">kdegraphics-mobipocket-21.08.0</a></td>
   <td align="right">16kB</td>
   <td><tt>7af4c83c17422ae6a0cff0924e90065628684d71</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/kdegraphics-thumbnailers-21.08.0.tar.xz">kdegraphics-thumbnailers-21.08.0</a></td>
   <td align="right">46kB</td>
   <td><tt>7d93cf4727e8bf75f61a967aa4d616a673be249a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/kdenetwork-filesharing-21.08.0.tar.xz">kdenetwork-filesharing-21.08.0</a></td>
   <td align="right">369kB</td>
   <td><tt>ce1b75b7f7ea8135085f2946c9b24e9a2ee242db</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/kdenlive-21.08.0.tar.xz">kdenlive-21.08.0</a></td>
   <td align="right">11524kB</td>
   <td><tt>9853b9f7c40b8e42cda979efc03ce61083711820</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/kdepim-addons-21.08.0.tar.xz">kdepim-addons-21.08.0</a></td>
   <td align="right">2224kB</td>
   <td><tt>c8bcf29da784b73999d56280e77e0b51ec0e24df</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/kdepim-runtime-21.08.0.tar.xz">kdepim-runtime-21.08.0</a></td>
   <td align="right">1779kB</td>
   <td><tt>bf147b2d83de1ce2e4cbff65c3c7a97bf65d39ab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/kdesdk-kioslaves-21.08.0.tar.xz">kdesdk-kioslaves-21.08.0</a></td>
   <td align="right">38kB</td>
   <td><tt>eb999bd2582ed035f7169f91152c16a6083cbd2f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/kdesdk-thumbnailers-21.08.0.tar.xz">kdesdk-thumbnailers-21.08.0</a></td>
   <td align="right">25kB</td>
   <td><tt>c73e887c5a99f94c85a4703187086c7d5e5b7f14</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/kdf-21.08.0.tar.xz">kdf-21.08.0</a></td>
   <td align="right">461kB</td>
   <td><tt>cc3f1a7176bd73143742f23ba2031bfa46174a28</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/kdialog-21.08.0.tar.xz">kdialog-21.08.0</a></td>
   <td align="right">112kB</td>
   <td><tt>2ad36f4c612edeb3555b2dd2d51a58a4f6e3e915</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/kdiamond-21.08.0.tar.xz">kdiamond-21.08.0</a></td>
   <td align="right">4589kB</td>
   <td><tt>1d16d49f2134c48848dff6c42a115e6bb98dca38</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/keditbookmarks-21.08.0.tar.xz">keditbookmarks-21.08.0</a></td>
   <td align="right">197kB</td>
   <td><tt>345e936cc2d096390bb56edfdd6f51146cfbc99a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/kfind-21.08.0.tar.xz">kfind-21.08.0</a></td>
   <td align="right">279kB</td>
   <td><tt>21292510d36d26c440552286bade852299282f2e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/kfloppy-21.08.0.tar.xz">kfloppy-21.08.0</a></td>
   <td align="right">205kB</td>
   <td><tt>d4796d74787d0887b976e692a573c16258a9752b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/kfourinline-21.08.0.tar.xz">kfourinline-21.08.0</a></td>
   <td align="right">702kB</td>
   <td><tt>f76a7d5e2b943f57015563ef855d4b62b9d9b65a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/kgeography-21.08.0.tar.xz">kgeography-21.08.0</a></td>
   <td align="right">10744kB</td>
   <td><tt>d91c31856907b0469e322149fe226d425443ab01</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/kget-21.08.0.tar.xz">kget-21.08.0</a></td>
   <td align="right">5502kB</td>
   <td><tt>f5161540cad4af2622200b5097b3a13df38afc2f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/kgoldrunner-21.08.0.tar.xz">kgoldrunner-21.08.0</a></td>
   <td align="right">4649kB</td>
   <td><tt>7399bb4f29889e7916ca7f0005202ffb9bb8a044</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/kgpg-21.08.0.tar.xz">kgpg-21.08.0</a></td>
   <td align="right">2877kB</td>
   <td><tt>fa68b84b07e6b04dc13e4063bd3c50aaac87fa38</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/khangman-21.08.0.tar.xz">khangman-21.08.0</a></td>
   <td align="right">7254kB</td>
   <td><tt>d37eb6fa0e2ab5e93630bcfe751c9892cda2dda4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/khelpcenter-21.08.0.tar.xz">khelpcenter-21.08.0</a></td>
   <td align="right">4190kB</td>
   <td><tt>e05582a50f55de9915f5b67e7d9fea68d21a9c81</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/kidentitymanagement-21.08.0.tar.xz">kidentitymanagement-21.08.0</a></td>
   <td align="right">153kB</td>
   <td><tt>1f3ebfc0cc24977e8b4c09b10ee262a58a0f62a7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/kig-21.08.0.tar.xz">kig-21.08.0</a></td>
   <td align="right">3100kB</td>
   <td><tt>87890619b46ddbeefb34834b7611ba6b4442a552</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/kigo-21.08.0.tar.xz">kigo-21.08.0</a></td>
   <td align="right">5128kB</td>
   <td><tt>ff26ed8a8f962b3e98f0b87134966166d096f589</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/killbots-21.08.0.tar.xz">killbots-21.08.0</a></td>
   <td align="right">1165kB</td>
   <td><tt>c8e5a80aea456c64534a6e239388ee9968f14af6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/kimagemapeditor-21.08.0.tar.xz">kimagemapeditor-21.08.0</a></td>
   <td align="right">1062kB</td>
   <td><tt>8a49f21ad59afad3437722990bfe55549f227a83</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/kimap-21.08.0.tar.xz">kimap-21.08.0</a></td>
   <td align="right">124kB</td>
   <td><tt>09be9a58202aa68682bb78ff5fe889c0cb9f3d29</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/kio-extras-21.08.0.tar.xz">kio-extras-21.08.0</a></td>
   <td align="right">611kB</td>
   <td><tt>a01e2bb497650009a60b5ac3e6ba0f9c71203f4a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/kio-gdrive-21.08.0.tar.xz">kio-gdrive-21.08.0</a></td>
   <td align="right">67kB</td>
   <td><tt>281d8fedfd2f882172f0639170fddbf6250fcd2c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/kipi-plugins-21.08.0.tar.xz">kipi-plugins-21.08.0</a></td>
   <td align="right">1508kB</td>
   <td><tt>53b6aca0a38f9f10a63191b727fc38537c530b71</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/kirigami-gallery-21.08.0.tar.xz">kirigami-gallery-21.08.0</a></td>
   <td align="right">321kB</td>
   <td><tt>8e4794124e3b24bd2802a76543461af9162d07a5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/kiriki-21.08.0.tar.xz">kiriki-21.08.0</a></td>
   <td align="right">356kB</td>
   <td><tt>72374dc46caeeeeb45906c19d87ac80185c25472</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/kiten-21.08.0.tar.xz">kiten-21.08.0</a></td>
   <td align="right">11047kB</td>
   <td><tt>62f19bfa62ba0aeed99e2d9e37c700ec7fd2241e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/kitinerary-21.08.0.tar.xz">kitinerary-21.08.0</a></td>
   <td align="right">1797kB</td>
   <td><tt>388110f3d01ea75314969aea642d43c77cb71ad5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/kjumpingcube-21.08.0.tar.xz">kjumpingcube-21.08.0</a></td>
   <td align="right">315kB</td>
   <td><tt>dfc87bbf57802b3a71ece45b48d0e2da44dbe5ea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/kldap-21.08.0.tar.xz">kldap-21.08.0</a></td>
   <td align="right">167kB</td>
   <td><tt>08f37b2ea1e538aeceafe2cee48e3eb3a2e32198</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/kleopatra-21.08.0.tar.xz">kleopatra-21.08.0</a></td>
   <td align="right">2079kB</td>
   <td><tt>a3df2ad6dd78b92ca67f71e44870e8f33b82ab5a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/klettres-21.08.0.tar.xz">klettres-21.08.0</a></td>
   <td align="right">46034kB</td>
   <td><tt>761b60504c686f4d964881cd9287e3d48520bcff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/klickety-21.08.0.tar.xz">klickety-21.08.0</a></td>
   <td align="right">1456kB</td>
   <td><tt>fa02e6b89dea9d02071c9898ad8d6cad910bfc4b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/klines-21.08.0.tar.xz">klines-21.08.0</a></td>
   <td align="right">1682kB</td>
   <td><tt>322235760fc01dba14f0cb0f46ee98833fcd1238</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/kmag-21.08.0.tar.xz">kmag-21.08.0</a></td>
   <td align="right">689kB</td>
   <td><tt>95ec501665410d189884f095f2ac9d70724322f7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/kmahjongg-21.08.0.tar.xz">kmahjongg-21.08.0</a></td>
   <td align="right">3972kB</td>
   <td><tt>75964aba46fdef0763232b4fc5d66757fb512116</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/kmail-21.08.0.tar.xz">kmail-21.08.0</a></td>
   <td align="right">6758kB</td>
   <td><tt>25d9adbab5dc1b1dcb3ad1318bf53b3c886e701b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/kmail-account-wizard-21.08.0.tar.xz">kmail-account-wizard-21.08.0</a></td>
   <td align="right">161kB</td>
   <td><tt>b7febc24707934b10f65921992d10bef0198a951</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/kmailtransport-21.08.0.tar.xz">kmailtransport-21.08.0</a></td>
   <td align="right">168kB</td>
   <td><tt>becff1a44e53a6210f0f0b097d279a1ae93f5025</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/kmbox-21.08.0.tar.xz">kmbox-21.08.0</a></td>
   <td align="right">27kB</td>
   <td><tt>feab2a59bef4492d6c6c176a6795068806836418</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/kmime-21.08.0.tar.xz">kmime-21.08.0</a></td>
   <td align="right">151kB</td>
   <td><tt>0c1d51907af4dac4beb8e8cd5d0e6abbe83d0b99</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/kmines-21.08.0.tar.xz">kmines-21.08.0</a></td>
   <td align="right">966kB</td>
   <td><tt>b488ebb34b89871170d24488a2af832a6715627e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/kmix-21.08.0.tar.xz">kmix-21.08.0</a></td>
   <td align="right">1136kB</td>
   <td><tt>ce7a4b254c32a382a3ebb677efa18ee15747313b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/kmousetool-21.08.0.tar.xz">kmousetool-21.08.0</a></td>
   <td align="right">118kB</td>
   <td><tt>1c7f6b048447959c8f704a99f98b752747436707</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/kmouth-21.08.0.tar.xz">kmouth-21.08.0</a></td>
   <td align="right">2051kB</td>
   <td><tt>f60803fc9dd42bc361f57188c7d62e1da79baed1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/kmplot-21.08.0.tar.xz">kmplot-21.08.0</a></td>
   <td align="right">2971kB</td>
   <td><tt>04b015b2c85fdf3c3030d125a5f6f4416996b0a3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/knavalbattle-21.08.0.tar.xz">knavalbattle-21.08.0</a></td>
   <td align="right">1343kB</td>
   <td><tt>9f107230556916f879d884d7e78ee193322bb5ef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/knetwalk-21.08.0.tar.xz">knetwalk-21.08.0</a></td>
   <td align="right">1241kB</td>
   <td><tt>a2d7664a2a85f3a0196cdb884990f8c374bc2510</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/knights-21.08.0.tar.xz">knights-21.08.0</a></td>
   <td align="right">3453kB</td>
   <td><tt>b53befdeccc236fc5abb1a141904e5f66e6acc7f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/knotes-21.08.0.tar.xz">knotes-21.08.0</a></td>
   <td align="right">333kB</td>
   <td><tt>9ff4d9930d9d3ba6095695a7aca298407e01772b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/kolf-21.08.0.tar.xz">kolf-21.08.0</a></td>
   <td align="right">1016kB</td>
   <td><tt>63a10d815209e669149f52405a626fa50246107f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/kollision-21.08.0.tar.xz">kollision-21.08.0</a></td>
   <td align="right">284kB</td>
   <td><tt>8e5b45848f1fcc9107f9965b16bcbe0203eec27d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/kolourpaint-21.08.0.tar.xz">kolourpaint-21.08.0</a></td>
   <td align="right">5581kB</td>
   <td><tt>2c66426fac437a1d74fd0511f4823db9f83d457a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/kompare-21.08.0.tar.xz">kompare-21.08.0</a></td>
   <td align="right">920kB</td>
   <td><tt>5aa1fb2cda3216c71fff873c20d4f7bb4521435f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/konqueror-21.08.0.tar.xz">konqueror-21.08.0</a></td>
   <td align="right">7241kB</td>
   <td><tt>df25506f2d45e1860f12404608ba59c091620ceb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/konquest-21.08.0.tar.xz">konquest-21.08.0</a></td>
   <td align="right">655kB</td>
   <td><tt>4e0234e51f6edcd95bd6d6fe3211172cd782e71c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/konsole-21.08.0.tar.xz">konsole-21.08.0</a></td>
   <td align="right">1341kB</td>
   <td><tt>20058fb06422bb161fee19d7d58c24281c8e2c86</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/kontact-21.08.0.tar.xz">kontact-21.08.0</a></td>
   <td align="right">790kB</td>
   <td><tt>4c9872a46f24dbfd4c42ffdabb4aa96c18fbfbba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/kontactinterface-21.08.0.tar.xz">kontactinterface-21.08.0</a></td>
   <td align="right">38kB</td>
   <td><tt>6458474c352a930831e5ce12a65868f6679819b8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/kontrast-21.08.0.tar.xz">kontrast-21.08.0</a></td>
   <td align="right">121kB</td>
   <td><tt>30d0430a1d98e9e1c8c6fbd4c918f020edf81f7f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/konversation-21.08.0.tar.xz">konversation-21.08.0</a></td>
   <td align="right">4150kB</td>
   <td><tt>7a94fce680f9cdf6e55abe74aa5be9818b0b24ae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/kopeninghours-21.08.0.tar.xz">kopeninghours-21.08.0</a></td>
   <td align="right">64kB</td>
   <td><tt>9278a0c618c60d1c2ad1b32bfde838418aabb4c3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/kopete-21.08.0.tar.xz">kopete-21.08.0</a></td>
   <td align="right">9437kB</td>
   <td><tt>e7d7024c42b89b282837f1944d5fd5661b444284</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/korganizer-21.08.0.tar.xz">korganizer-21.08.0</a></td>
   <td align="right">2342kB</td>
   <td><tt>18c455629e56490d782093fe88b1792e53be5e95</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/kosmindoormap-21.08.0.tar.xz">kosmindoormap-21.08.0</a></td>
   <td align="right">331kB</td>
   <td><tt>811f6b208e45e37184600db0116909e5b3519222</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/kpat-21.08.0.tar.xz">kpat-21.08.0</a></td>
   <td align="right">3640kB</td>
   <td><tt>c7de4ea2268e5ae129d68c5cf04b0ab9ff3edc60</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/kpimtextedit-21.08.0.tar.xz">kpimtextedit-21.08.0</a></td>
   <td align="right">199kB</td>
   <td><tt>743773af225f53ed6f1183dcd3c719b86c7511c6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/kpkpass-21.08.0.tar.xz">kpkpass-21.08.0</a></td>
   <td align="right">27kB</td>
   <td><tt>59188fccb1672a45707fa2a0f62a687c2baa84aa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/kpmcore-21.08.0.tar.xz">kpmcore-21.08.0</a></td>
   <td align="right">575kB</td>
   <td><tt>b2560324fad7d97a0c9c6193df1ab40e35402068</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/kpublictransport-21.08.0.tar.xz">kpublictransport-21.08.0</a></td>
   <td align="right">398kB</td>
   <td><tt>5a49833354c1796923acf26b38190ad3304a5933</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/kqtquickcharts-21.08.0.tar.xz">kqtquickcharts-21.08.0</a></td>
   <td align="right">29kB</td>
   <td><tt>b63ed4542aff28c338608c2b5f09d549001eeabb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/krdc-21.08.0.tar.xz">krdc-21.08.0</a></td>
   <td align="right">1545kB</td>
   <td><tt>40388429927f8c5594625bb5786686201b5fbd30</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/kreversi-21.08.0.tar.xz">kreversi-21.08.0</a></td>
   <td align="right">940kB</td>
   <td><tt>536717d989f31c78cd3d212f4f12fb2d3a1b341b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/krfb-21.08.0.tar.xz">krfb-21.08.0</a></td>
   <td align="right">1263kB</td>
   <td><tt>9da0b2dbb014c36286a5ef2ddc4505208411fa7a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/kross-interpreters-21.08.0.tar.xz">kross-interpreters-21.08.0</a></td>
   <td align="right">147kB</td>
   <td><tt>221d164983df8b6066440c25b23d14ca6204fa3c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/kruler-21.08.0.tar.xz">kruler-21.08.0</a></td>
   <td align="right">270kB</td>
   <td><tt>27c7b2dd3ed6c64751097eab7eee383cdfb76507</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/kshisen-21.08.0.tar.xz">kshisen-21.08.0</a></td>
   <td align="right">964kB</td>
   <td><tt>58fcaf33ab3f32c8571a90ed718ba90e7ffa92ce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/ksirk-21.08.0.tar.xz">ksirk-21.08.0</a></td>
   <td align="right">6834kB</td>
   <td><tt>18225531280046793d7e062578d7b4b0a5169a1e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/ksmtp-21.08.0.tar.xz">ksmtp-21.08.0</a></td>
   <td align="right">45kB</td>
   <td><tt>b232c929f17277b3fb9d6345a63035be4ad57fde</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/ksnakeduel-21.08.0.tar.xz">ksnakeduel-21.08.0</a></td>
   <td align="right">532kB</td>
   <td><tt>2dcacd0720dbd56b653ba524fbd89bd9ac8c2c40</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/kspaceduel-21.08.0.tar.xz">kspaceduel-21.08.0</a></td>
   <td align="right">606kB</td>
   <td><tt>2f228ea2b60797f3988632c4df6a7ec79bb23ff7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/ksquares-21.08.0.tar.xz">ksquares-21.08.0</a></td>
   <td align="right">261kB</td>
   <td><tt>d6c4291a834bdefdf4031d4463c7df85b6300149</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/ksudoku-21.08.0.tar.xz">ksudoku-21.08.0</a></td>
   <td align="right">1640kB</td>
   <td><tt>af2a6ed4db09a7f96d1f5db0c3047eb3ba698120</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/ksystemlog-21.08.0.tar.xz">ksystemlog-21.08.0</a></td>
   <td align="right">1918kB</td>
   <td><tt>89af341752a61b8b051d7c961a766e610857dc64</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/kteatime-21.08.0.tar.xz">kteatime-21.08.0</a></td>
   <td align="right">292kB</td>
   <td><tt>6b252c570d2fe04637b4ca815a1ba378ac607d8a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/ktimer-21.08.0.tar.xz">ktimer-21.08.0</a></td>
   <td align="right">379kB</td>
   <td><tt>55c32f4991674bb817ca9e8121eb501b3c8d8fe9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/ktnef-21.08.0.tar.xz">ktnef-21.08.0</a></td>
   <td align="right">298kB</td>
   <td><tt>b01a072100fd6c56854fc1ccf820b32b3ecc1f1f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/ktorrent-21.08.0.tar.xz">ktorrent-21.08.0</a></td>
   <td align="right">2041kB</td>
   <td><tt>9a6929d94ccda986570162b63fa8977af4722834</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/ktouch-21.08.0.tar.xz">ktouch-21.08.0</a></td>
   <td align="right">4848kB</td>
   <td><tt>8651c317c235948f075657a5e81910f420f3fb5a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/ktp-accounts-kcm-21.08.0.tar.xz">ktp-accounts-kcm-21.08.0</a></td>
   <td align="right">260kB</td>
   <td><tt>1dc06f40b6835a9eb3a888af8ac2ee4363663892</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/ktp-approver-21.08.0.tar.xz">ktp-approver-21.08.0</a></td>
   <td align="right">37kB</td>
   <td><tt>35433a09d2d71b008576c4e7803b2ead5e801063</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/ktp-auth-handler-21.08.0.tar.xz">ktp-auth-handler-21.08.0</a></td>
   <td align="right">46kB</td>
   <td><tt>e32fc191302716806199b88ffbd1c8367f59b142</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/ktp-call-ui-21.08.0.tar.xz">ktp-call-ui-21.08.0</a></td>
   <td align="right">96kB</td>
   <td><tt>ca38304a0549a689c74784333c9ed3e48d19eea3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/ktp-common-internals-21.08.0.tar.xz">ktp-common-internals-21.08.0</a></td>
   <td align="right">440kB</td>
   <td><tt>0e5181a0eee020c8adc9f8e72df3108a33a36a38</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/ktp-contact-list-21.08.0.tar.xz">ktp-contact-list-21.08.0</a></td>
   <td align="right">149kB</td>
   <td><tt>5ff1bd5629e82725312afae1086a5b8b4e45235b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/ktp-contact-runner-21.08.0.tar.xz">ktp-contact-runner-21.08.0</a></td>
   <td align="right">42kB</td>
   <td><tt>7c08712724828ee97cfa1a02779f7bf0c755be8d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/ktp-desktop-applets-21.08.0.tar.xz">ktp-desktop-applets-21.08.0</a></td>
   <td align="right">43kB</td>
   <td><tt>396f3e46f8f70913fb48128311632bd4776ca9c5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/ktp-filetransfer-handler-21.08.0.tar.xz">ktp-filetransfer-handler-21.08.0</a></td>
   <td align="right">45kB</td>
   <td><tt>063479c865cb220ad6ffcb7ec19c5b647b766dda</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/ktp-kded-module-21.08.0.tar.xz">ktp-kded-module-21.08.0</a></td>
   <td align="right">96kB</td>
   <td><tt>7b37f3e86da0b73ff7be31e75a3f403d104c89c5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/ktp-send-file-21.08.0.tar.xz">ktp-send-file-21.08.0</a></td>
   <td align="right">28kB</td>
   <td><tt>50e35c38f157681e0b016276a98a8d9e039c33f5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/ktp-text-ui-21.08.0.tar.xz">ktp-text-ui-21.08.0</a></td>
   <td align="right">463kB</td>
   <td><tt>683a505213d4366020ea3eac7e4f45e56b82231c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/ktuberling-21.08.0.tar.xz">ktuberling-21.08.0</a></td>
   <td align="right">69094kB</td>
   <td><tt>fe61235ee2a55509044ea937a4751b5d1be5e651</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/kturtle-21.08.0.tar.xz">kturtle-21.08.0</a></td>
   <td align="right">1925kB</td>
   <td><tt>4b2e87c3aef7a0307d4f41db4e386bd62b5cc909</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/kubrick-21.08.0.tar.xz">kubrick-21.08.0</a></td>
   <td align="right">335kB</td>
   <td><tt>5fa8d1a228fffcd162be361aab6d8fe3eee454e0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/kwalletmanager-21.08.0.tar.xz">kwalletmanager-21.08.0</a></td>
   <td align="right">778kB</td>
   <td><tt>6e6ddfa05449f05cb19c3f78863d198ac0ec0233</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/kwave-21.08.0.tar.xz">kwave-21.08.0</a></td>
   <td align="right">6736kB</td>
   <td><tt>61c8bc12301c61fa8b27cf3bfb567cde864e3a66</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/kwordquiz-21.08.0.tar.xz">kwordquiz-21.08.0</a></td>
   <td align="right">4110kB</td>
   <td><tt>47bc5e325aa7695e318387dbe28832dfc277ac3e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/libgravatar-21.08.0.tar.xz">libgravatar-21.08.0</a></td>
   <td align="right">34kB</td>
   <td><tt>46704118edf3526b781d237868573460c2567197</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/libkcddb-21.08.0.tar.xz">libkcddb-21.08.0</a></td>
   <td align="right">420kB</td>
   <td><tt>97f0f09e0c91bc20e4594699e5616d1bb76526b6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/libkcompactdisc-21.08.0.tar.xz">libkcompactdisc-21.08.0</a></td>
   <td align="right">94kB</td>
   <td><tt>d6a25e46c8f64f38ec863573f65b5a3382b1b0a6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/libkdcraw-21.08.0.tar.xz">libkdcraw-21.08.0</a></td>
   <td align="right">36kB</td>
   <td><tt>c5a555ece06bea92735e5cd70d1f18555f8b1095</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/libkdegames-21.08.0.tar.xz">libkdegames-21.08.0</a></td>
   <td align="right">6253kB</td>
   <td><tt>74abb6f77d3273d512b6d6384cfb582ca320f941</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/libkdepim-21.08.0.tar.xz">libkdepim-21.08.0</a></td>
   <td align="right">247kB</td>
   <td><tt>f174e4a4054cae6a24d26e6775dd5237ec4c7839</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/libkeduvocdocument-21.08.0.tar.xz">libkeduvocdocument-21.08.0</a></td>
   <td align="right">212kB</td>
   <td><tt>71799eb6870a8c1ad03936803e3638ab23586542</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/libkexiv2-21.08.0.tar.xz">libkexiv2-21.08.0</a></td>
   <td align="right">57kB</td>
   <td><tt>ba79895df234b6075e23d97a034cdf2e91473b22</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/libkgapi-21.08.0.tar.xz">libkgapi-21.08.0</a></td>
   <td align="right">241kB</td>
   <td><tt>82893a2ffceed12c767c289cb29274b2e3cd0c1c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/libkipi-21.08.0.tar.xz">libkipi-21.08.0</a></td>
   <td align="right">100kB</td>
   <td><tt>cc5a34eb007ad4e98e0037cba8a9d7444deaf138</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/libkleo-21.08.0.tar.xz">libkleo-21.08.0</a></td>
   <td align="right">425kB</td>
   <td><tt>9307665b2788bc53674c9a8e9bb6dffadbdcba7a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/libkmahjongg-21.08.0.tar.xz">libkmahjongg-21.08.0</a></td>
   <td align="right">1641kB</td>
   <td><tt>90c2efbdf0dbff021fd7285345564cf86c244c59</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/libkomparediff2-21.08.0.tar.xz">libkomparediff2-21.08.0</a></td>
   <td align="right">168kB</td>
   <td><tt>a15ca8cac2defe6e2b5e09a42b63b09bd899b251</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/libksane-21.08.0.tar.xz">libksane-21.08.0</a></td>
   <td align="right">151kB</td>
   <td><tt>a69a81e13be2f811ef6437d5413666570df54b7b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/libksieve-21.08.0.tar.xz">libksieve-21.08.0</a></td>
   <td align="right">554kB</td>
   <td><tt>b333af89c253be25c7bc3614d13fa295e7756705</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/libktorrent-21.08.0.tar.xz">libktorrent-21.08.0</a></td>
   <td align="right">592kB</td>
   <td><tt>4f6762ab620cea397610fa42cef4ebd964e7efa2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/lokalize-21.08.0.tar.xz">lokalize-21.08.0</a></td>
   <td align="right">1987kB</td>
   <td><tt>1f7958a85275452800e0be330251b25362757b9d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/lskat-21.08.0.tar.xz">lskat-21.08.0</a></td>
   <td align="right">1201kB</td>
   <td><tt>7a761fc5236067496bed985d84c36e8f50d1a08c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/mailcommon-21.08.0.tar.xz">mailcommon-21.08.0</a></td>
   <td align="right">712kB</td>
   <td><tt>afc163588b67dd8b769468efaba005bd330c8f3e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/mailimporter-21.08.0.tar.xz">mailimporter-21.08.0</a></td>
   <td align="right">545kB</td>
   <td><tt>f0a0ffbda020a60057d4d1d506c097969c4eb49b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/marble-21.08.0.tar.xz">marble-21.08.0</a></td>
   <td align="right">51168kB</td>
   <td><tt>39b76385cd957df58ab65bfe2beff022ed30dce6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/markdownpart-21.08.0.tar.xz">markdownpart-21.08.0</a></td>
   <td align="right">27kB</td>
   <td><tt>06be12de48daee4552b76a0084ba8926252d525b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/mbox-importer-21.08.0.tar.xz">mbox-importer-21.08.0</a></td>
   <td align="right">27kB</td>
   <td><tt>9f028a4b1a0bc0c907ac64daefdeb96ef20726eb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/messagelib-21.08.0.tar.xz">messagelib-21.08.0</a></td>
   <td align="right">10569kB</td>
   <td><tt>7b3f5e8ca6ca895fac8cffd79b41fecf223e5a84</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/minuet-21.08.0.tar.xz">minuet-21.08.0</a></td>
   <td align="right">27077kB</td>
   <td><tt>de6e2b9f40d939cabd77f73eb970b861a886f7aa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/okular-21.08.0.tar.xz">okular-21.08.0</a></td>
   <td align="right">7893kB</td>
   <td><tt>663392aedade9cc36acdd823735f00ca1314bbe7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/palapeli-21.08.0.tar.xz">palapeli-21.08.0</a></td>
   <td align="right">2028kB</td>
   <td><tt>b84265a9cb1cc7da6765620e1c1fcf5bcfe53b1a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/parley-21.08.0.tar.xz">parley-21.08.0</a></td>
   <td align="right">8676kB</td>
   <td><tt>dd222022a612de40b3da2b329001daef8a6a465d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/partitionmanager-21.08.0.tar.xz">partitionmanager-21.08.0</a></td>
   <td align="right">2048kB</td>
   <td><tt>2d29b43c39fa40e4ac7e7447cf90e3172355efc2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/picmi-21.08.0.tar.xz">picmi-21.08.0</a></td>
   <td align="right">1337kB</td>
   <td><tt>801e273b189e5d2db99aff30e1ca3d4085ee49e7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/pimcommon-21.08.0.tar.xz">pimcommon-21.08.0</a></td>
   <td align="right">359kB</td>
   <td><tt>9797e56ce4f4179646d42512641f22865419491d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/pim-data-exporter-21.08.0.tar.xz">pim-data-exporter-21.08.0</a></td>
   <td align="right">387kB</td>
   <td><tt>21deb0629a480edb9f4577f55214774a17456dcd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/pim-sieve-editor-21.08.0.tar.xz">pim-sieve-editor-21.08.0</a></td>
   <td align="right">446kB</td>
   <td><tt>b73d8e7280669d1cfd0249ee28301cc7fe9fa693</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/poxml-21.08.0.tar.xz">poxml-21.08.0</a></td>
   <td align="right">42kB</td>
   <td><tt>103a932b13751de7b58bc280d6f549ffd1a8a545</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/print-manager-21.08.0.tar.xz">print-manager-21.08.0</a></td>
   <td align="right">263kB</td>
   <td><tt>a273bbbd9ae88a54a22a092d6a44447dfecfac90</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/rocs-21.08.0.tar.xz">rocs-21.08.0</a></td>
   <td align="right">1518kB</td>
   <td><tt>1d90b289ce79d446dcc2f8470271c31672ccaba7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/signon-kwallet-extension-21.08.0.tar.xz">signon-kwallet-extension-21.08.0</a></td>
   <td align="right">10kB</td>
   <td><tt>5db7eabd1046a47c0532258e50193b400313550b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/skanlite-21.08.0.tar.xz">skanlite-21.08.0</a></td>
   <td align="right">2369kB</td>
   <td><tt>83264f68d025f1fb35e186c806bf943b7e0ea11e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/spectacle-21.08.0.tar.xz">spectacle-21.08.0</a></td>
   <td align="right">1184kB</td>
   <td><tt>ea8cfca7145496d85de5af426a6f917cabe3d603</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/step-21.08.0.tar.xz">step-21.08.0</a></td>
   <td align="right">953kB</td>
   <td><tt>68f67b005087e50b294299e3dd368f4acce5d27b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/svgpart-21.08.0.tar.xz">svgpart-21.08.0</a></td>
   <td align="right">23kB</td>
   <td><tt>ab4a4245633a4c5bb5a102e562a716235353976c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/sweeper-21.08.0.tar.xz">sweeper-21.08.0</a></td>
   <td align="right">368kB</td>
   <td><tt>013917fccbf052c4a0b450001d475f1198ddfb53</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/umbrello-21.08.0.tar.xz">umbrello-21.08.0</a></td>
   <td align="right">5517kB</td>
   <td><tt>c4f8d9d9b429e0bf08170aaa99e9c5895fe2b38b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/yakuake-21.08.0.tar.xz">yakuake-21.08.0</a></td>
   <td align="right">383kB</td>
   <td><tt>271d5bf959f3813eed5088f35321f61c65f7f33f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.0/src/zeroconf-ioslave-21.08.0.tar.xz">zeroconf-ioslave-21.08.0</a></td>
   <td align="right">37kB</td>
   <td><tt>101cf9f43ea3c84a2be2a65c1b27c12a59730969</tt></td>
</tr>

</table>
