<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.15.0/bluedevil-5.15.0.tar.xz">bluedevil-5.15.0</a></td>
   <td align="right">153kB</td>
   <td><tt>34a62d22bcb0c5e0dbc7fe65b2d38d5ca3a014508b57cee86db481fea9013182</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.15.0/breeze-5.15.0.tar.xz">breeze-5.15.0</a></td>
   <td align="right">23MB</td>
   <td><tt>960eb8e6b1bd87686bccf6891abd47e0bfcebd1b8d9f48c9a5218338f23a731b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.15.0/breeze-grub-5.15.0.tar.xz">breeze-grub-5.15.0</a></td>
   <td align="right">2.9MB</td>
   <td><tt>627e99c1e955917d836d80c5238c0c5c290ee39a44edb0d25ba3e735e8b148d9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.15.0/breeze-gtk-5.15.0.tar.xz">breeze-gtk-5.15.0</a></td>
   <td align="right">46kB</td>
   <td><tt>b53861a26248a75e3d91d514bb7d9a192c7b3c3d19528985bec9aef2668c753b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.15.0/breeze-plymouth-5.15.0.tar.xz">breeze-plymouth-5.15.0</a></td>
   <td align="right">102kB</td>
   <td><tt>08fa8c0f0e5660ae10e9c3291baa6718f0c8b319805a4b8ffe6a71d9e0c8b255</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.15.0/discover-5.15.0.tar.xz">discover-5.15.0</a></td>
   <td align="right">9.9MB</td>
   <td><tt>897540796fbdca109f96d6b3ed09d58bf921330cea744182a1d3135d63170d11</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.15.0/drkonqi-5.15.0.tar.xz">drkonqi-5.15.0</a></td>
   <td align="right">721kB</td>
   <td><tt>49cf8434c3e3593b95e2f5ae416d261f1374a9b4391d9bebd0d713a27c8834ce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.15.0/kactivitymanagerd-5.15.0.tar.xz">kactivitymanagerd-5.15.0</a></td>
   <td align="right">82kB</td>
   <td><tt>0d0f43a769d73c4c47574ae0fd0c638a73a1d07a4e5572bfb2e51ea78030d8d6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.15.0/kde-cli-tools-5.15.0.tar.xz">kde-cli-tools-5.15.0</a></td>
   <td align="right">571kB</td>
   <td><tt>a0a5c175b9a5908d765bd81fe21c345eeeb8d15473339bb3e4119afca2a5c9a0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.15.0/kde-gtk-config-5.15.0.tar.xz">kde-gtk-config-5.15.0</a></td>
   <td align="right">152kB</td>
   <td><tt>5e8dc0c8ee8f12d12bbdb723b9b7b8e54a822307251b1ad8bc8ceadd1583f294</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.15.0/kdecoration-5.15.0.tar.xz">kdecoration-5.15.0</a></td>
   <td align="right">41kB</td>
   <td><tt>b8b43860f378e3f182ea77e014bc5282c71eaff8b26e67a58807839fb3e19edd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.15.0/kdeplasma-addons-5.15.0.tar.xz">kdeplasma-addons-5.15.0</a></td>
   <td align="right">588kB</td>
   <td><tt>229e1135ec8c1e76b92eb40a6d20a7bedf50385f2a2542a472e6b37afd3f8634</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.15.0/kgamma5-5.15.0.tar.xz">kgamma5-5.15.0</a></td>
   <td align="right">77kB</td>
   <td><tt>bf2087737b90150f3a84663555ad281644d247cc90006c9f719e551bc275d3c2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.15.0/khotkeys-5.15.0.tar.xz">khotkeys-5.15.0</a></td>
   <td align="right">1.7MB</td>
   <td><tt>3ce9b79cbd47af748b129b35f1207549287d1763a4bf367cb89b9dce57adcb02</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.15.0/kinfocenter-5.15.0.tar.xz">kinfocenter-5.15.0</a></td>
   <td align="right">1.2MB</td>
   <td><tt>f321fc9efd7f460d903ded9cebf51b21382298ab0b3df4fd714b1e0b407136c6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.15.0/kmenuedit-5.15.0.tar.xz">kmenuedit-5.15.0</a></td>
   <td align="right">790kB</td>
   <td><tt>9873ef537a02cdaa26ec3d09829821be8a73c1b381d8623631e9afef1687f443</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.15.0/kscreen-5.15.0.tar.xz">kscreen-5.15.0</a></td>
   <td align="right">120kB</td>
   <td><tt>4cfd73fc703b07d547dfc331c176a104758ca3af0b870af5c4adb28ef91bd276</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.15.0/kscreenlocker-5.15.0.tar.xz">kscreenlocker-5.15.0</a></td>
   <td align="right">119kB</td>
   <td><tt>d11bfd7aa0ec11d61a8a8aad81d1c9fffedfcdff55f43ba42816c7b57e15f2c1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.15.0/ksshaskpass-5.15.0.tar.xz">ksshaskpass-5.15.0</a></td>
   <td align="right">20kB</td>
   <td><tt>a43479f2448fa3eba5e2417662fe10008547b0672c8748fe1fe3cc377608da34</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.15.0/ksysguard-5.15.0.tar.xz">ksysguard-5.15.0</a></td>
   <td align="right">488kB</td>
   <td><tt>41de3fad025acdf9d813ac87c3d1edf12053eb0edaf2ea5b52884bfa0f7744a9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.15.0/kwallet-pam-5.15.0.tar.xz">kwallet-pam-5.15.0</a></td>
   <td align="right">18kB</td>
   <td><tt>d3997252a662944a5de59576ffe05b9098300e2026eba3e92f36619dabacda6f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.15.0/kwayland-integration-5.15.0.tar.xz">kwayland-integration-5.15.0</a></td>
   <td align="right">18kB</td>
   <td><tt>12cf11150d97f7068eb44e879749b81a2b40d111273f4909c55b992f3cafef3e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.15.0/kwin-5.15.0.tar.xz">kwin-5.15.0</a></td>
   <td align="right">5.9MB</td>
   <td><tt>3c313eac0d8daa13b6949325edbc447167cb00597d4b0b079deca3ef6d6f1738</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.15.0/kwrited-5.15.0.tar.xz">kwrited-5.15.0</a></td>
   <td align="right">19kB</td>
   <td><tt>ec511139b4745303daeb5e601515ada25d1c4e6a2e9ad34861b02b49e7a9d0fd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.15.0/libkscreen-5.15.0.tar.xz">libkscreen-5.15.0</a></td>
   <td align="right">79kB</td>
   <td><tt>ab0edee04179942f3f88832e452112871fecf6bb5b2ba95d809157674c429cb2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.15.0/libksysguard-5.15.0.tar.xz">libksysguard-5.15.0</a></td>
   <td align="right">562kB</td>
   <td><tt>ad0073c7db05830837a473a8e5914fcb18646d6e2607b16e4e0063f1ecfa13ab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.15.0/milou-5.15.0.tar.xz">milou-5.15.0</a></td>
   <td align="right">55kB</td>
   <td><tt>37f8f6f81916318182fe57a2ed3bfbd03a6505a1b6bbc773b05fbacad076d721</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.15.0/oxygen-5.15.0.tar.xz">oxygen-5.15.0</a></td>
   <td align="right">4.2MB</td>
   <td><tt>2e1f7bb71ea5c8691db5031e9efb2d2a719461027172d206f03aa8cfc61e1271</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.15.0/plasma-browser-integration-5.15.0.tar.xz">plasma-browser-integration-5.15.0</a></td>
   <td align="right">109kB</td>
   <td><tt>674d9c47f2ffccc401c3432adcc37d5595782b7bd974d0c7d17481961166e97e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.15.0/plasma-desktop-5.15.0.tar.xz">plasma-desktop-5.15.0</a></td>
   <td align="right">8.6MB</td>
   <td><tt>109f0d376e7fc2b87e445dcb16edd62407a2941bdbc20fd9c9f0719750efe16e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.15.0/plasma-integration-5.15.0.tar.xz">plasma-integration-5.15.0</a></td>
   <td align="right">53kB</td>
   <td><tt>714c09ab2e4eaaaa0ab6a1b03e3e68039ad65e349fef08b694be82a002be0f51</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.15.0/plasma-nm-5.15.0.tar.xz">plasma-nm-5.15.0</a></td>
   <td align="right">753kB</td>
   <td><tt>d66ad2f4811ae0238cb6c26e48f2495ce4164cca2e1b6c872001c666344601a8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.15.0/plasma-pa-5.15.0.tar.xz">plasma-pa-5.15.0</a></td>
   <td align="right">92kB</td>
   <td><tt>190a8d2d64227070082127cde98a2a3a91e30b7b16c8fd705b1e18d3cf13074f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.15.0/plasma-sdk-5.15.0.tar.xz">plasma-sdk-5.15.0</a></td>
   <td align="right">243kB</td>
   <td><tt>a8a514775ded362b4b15190eb451bc0ef7b2564630f6937daf871a92311eb812</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.15.0/plasma-tests-5.15.0.tar.xz">plasma-tests-5.15.0</a></td>
   <td align="right">1kB</td>
   <td><tt>2b2e112c04c3cf4210da86fe2540d0212b33edf236ea8e1e8d0c255e61635e6d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.15.0/plasma-vault-5.15.0.tar.xz">plasma-vault-5.15.0</a></td>
   <td align="right">118kB</td>
   <td><tt>028f33b44194e67888c3649c2e8503d84a295260e49f5ef67d38db407b024266</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.15.0/plasma-workspace-5.15.0.tar.xz">plasma-workspace-5.15.0</a></td>
   <td align="right">4.4MB</td>
   <td><tt>c9e696b0cb6040c90256709f68ea153da86da97a743c8ca8f96412d744e77b65</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.15.0/plasma-workspace-wallpapers-5.15.0.tar.xz">plasma-workspace-wallpapers-5.15.0</a></td>
   <td align="right">23MB</td>
   <td><tt>1a6dec67e3c2a0f549ffe242353fdf8905c80aa48b1dc7261affd087465468dd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.15.0/plymouth-kcm-5.15.0.tar.xz">plymouth-kcm-5.15.0</a></td>
   <td align="right">38kB</td>
   <td><tt>daee35739b22b68911b19b24f4e4a4c23dbbaf3f8114fcf245c9ca236879adb9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.15.0/polkit-kde-agent-1-5.15.0.tar.xz">polkit-kde-agent-1-5.15.0</a></td>
   <td align="right">41kB</td>
   <td><tt>8bf195dfeeb0308cf23df5748e08e79beb88b379069c481ecc50c5e0103a3aa1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.15.0/powerdevil-5.15.0.tar.xz">powerdevil-5.15.0</a></td>
   <td align="right">585kB</td>
   <td><tt>1de35dc6d8b82874ec75219e3d15f31bf927f9e5c0ff71f625f2088a824ce413</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.15.0/sddm-kcm-5.15.0.tar.xz">sddm-kcm-5.15.0</a></td>
   <td align="right">59kB</td>
   <td><tt>b6500919ac8a112af2b3d500d50a3951e294e49cf41cf23cab2785bd6840d339</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.15.0/systemsettings-5.15.0.tar.xz">systemsettings-5.15.0</a></td>
   <td align="right">175kB</td>
   <td><tt>2874ba8909acf65a21af371d03eeaa234d82826524e586526620f772680792bc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.15.0/user-manager-5.15.0.tar.xz">user-manager-5.15.0</a></td>
   <td align="right">532kB</td>
   <td><tt>ffb4f74f88c7d29266228f9f118d980eb4fd2d5cecb75434cb6af9a37b0c2a27</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.15.0/xdg-desktop-portal-kde-5.15.0.tar.xz">xdg-desktop-portal-kde-5.15.0</a></td>
   <td align="right">58kB</td>
   <td><tt>b3e42e3260c52a6b727a5c676887321a3d900c6b97f08898511af64d9c6992e2</tt></td>
</tr>

</table>
