
<table class="table" border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.81/attica-5.81.0.tar.xz">attica-5.81.0</a></td>
   <td align="right">64kB</td>
   <td><tt>f4649188f8d7f3fe40b7261185cd1b2f6f96e920</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.81/baloo-5.81.0.tar.xz">baloo-5.81.0</a></td>
   <td align="right">280kB</td>
   <td><tt>649c8c85d63afa5241941b9c148af94814070a3c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.81/bluez-qt-5.81.0.tar.xz">bluez-qt-5.81.0</a></td>
   <td align="right">99kB</td>
   <td><tt>936ce0eb1f2fa7ea8db53a91db0de58fdb8557c0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.81/breeze-icons-5.81.0.tar.xz">breeze-icons-5.81.0</a></td>
   <td align="right">1.9MB</td>
   <td><tt>544aa6ecebc00308ebf8d563cfeeafb1362faaee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.81/extra-cmake-modules-5.81.0.tar.xz">extra-cmake-modules-5.81.0</a></td>
   <td align="right">349kB</td>
   <td><tt>b65f62b1412e7b02b8106137ddf57d226f979f24</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.81/frameworkintegration-5.81.0.tar.xz">frameworkintegration-5.81.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>93975dd8103d2fed425ab747d67854ee01c4d75a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.81/kactivities-5.81.0.tar.xz">kactivities-5.81.0</a></td>
   <td align="right">69kB</td>
   <td><tt>5e2ca6e5353734d25b2016f1cba16e8ce1454fe7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.81/kactivities-stats-5.81.0.tar.xz">kactivities-stats-5.81.0</a></td>
   <td align="right">79kB</td>
   <td><tt>e62536b1bb467d3bf659fe79d8d7b4a26b411c6c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.81/kapidox-5.81.0.tar.xz">kapidox-5.81.0</a></td>
   <td align="right">190kB</td>
   <td><tt>f58bbf93538e9ca40a4d65f8a94e1fd88d40875b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.81/karchive-5.81.0.tar.xz">karchive-5.81.0</a></td>
   <td align="right">960kB</td>
   <td><tt>96e3a6087dead049e169607bce3734364b2a4fa1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.81/kauth-5.81.0.tar.xz">kauth-5.81.0</a></td>
   <td align="right">86kB</td>
   <td><tt>d69aacc0e617ffd3a66b3669fada8a5307a59869</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.81/kbookmarks-5.81.0.tar.xz">kbookmarks-5.81.0</a></td>
   <td align="right">123kB</td>
   <td><tt>63ebd329ce9cf1493a9e1cf79f6961733d89bd0e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.81/kcalendarcore-5.81.0.tar.xz">kcalendarcore-5.81.0</a></td>
   <td align="right">251kB</td>
   <td><tt>20a9d8b0fd70d9606b7ec6f30fa9e71a953360a2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.81/kcmutils-5.81.0.tar.xz">kcmutils-5.81.0</a></td>
   <td align="right">253kB</td>
   <td><tt>39164994d9301b15456a0869ed84071f06e81b35</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.81/kcodecs-5.81.0.tar.xz">kcodecs-5.81.0</a></td>
   <td align="right">225kB</td>
   <td><tt>146f52d83a54ec79e64594c42135fb785e3a818f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.81/kcompletion-5.81.0.tar.xz">kcompletion-5.81.0</a></td>
   <td align="right">119kB</td>
   <td><tt>7fe8c76ace963f04a8830f7fa8945ca16ce7d93e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.81/kconfig-5.81.0.tar.xz">kconfig-5.81.0</a></td>
   <td align="right">261kB</td>
   <td><tt>2b319cbace54f0a70bbaddb8a42c0484ef863d4e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.81/kconfigwidgets-5.81.0.tar.xz">kconfigwidgets-5.81.0</a></td>
   <td align="right">391kB</td>
   <td><tt>6ebb5248d7bd19321b4f9590f5458161ce372ea3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.81/kcontacts-5.81.0.tar.xz">kcontacts-5.81.0</a></td>
   <td align="right">531kB</td>
   <td><tt>0decea3da7f27ceb5c5fa57fca2fd370537b03db</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.81/kcoreaddons-5.81.0.tar.xz">kcoreaddons-5.81.0</a></td>
   <td align="right">403kB</td>
   <td><tt>22ac85be1fd555bfae349247cd334ff67a77c205</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.81/kcrash-5.81.0.tar.xz">kcrash-5.81.0</a></td>
   <td align="right">24kB</td>
   <td><tt>4fad6bf63a09eca6dfec047c07e2a1ea8419da0f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.81/kdav-5.81.0.tar.xz">kdav-5.81.0</a></td>
   <td align="right">58kB</td>
   <td><tt>629ec9c7012e929f288f9266f277c4dd070617ec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.81/kdbusaddons-5.81.0.tar.xz">kdbusaddons-5.81.0</a></td>
   <td align="right">41kB</td>
   <td><tt>188b1df0c127cc197fe8794d6705db5a3c20dfbb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.81/kdeclarative-5.81.0.tar.xz">kdeclarative-5.81.0</a></td>
   <td align="right">180kB</td>
   <td><tt>941d34f370d64431ba5340e97a9b24025cff3304</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.81/kded-5.81.0.tar.xz">kded-5.81.0</a></td>
   <td align="right">36kB</td>
   <td><tt>42e943b555cb43dc3ae98ba67f300ffa683caf55</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.81/kdesu-5.81.0.tar.xz">kdesu-5.81.0</a></td>
   <td align="right">51kB</td>
   <td><tt>036407446c4167e1b74310b600a78052df7c2491</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.81/kdnssd-5.81.0.tar.xz">kdnssd-5.81.0</a></td>
   <td align="right">56kB</td>
   <td><tt>627f1a9c96877593ac280f29ccea27451bb6c0f7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.81/kdoctools-5.81.0.tar.xz">kdoctools-5.81.0</a></td>
   <td align="right">426kB</td>
   <td><tt>0879f0db4f46ae7de949aa9d7d8b44c4174631d9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.81/kemoticons-5.81.0.tar.xz">kemoticons-5.81.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>9a3d808e07ce86e9500cb8c1d54c69785c063330</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.81/kfilemetadata-5.81.0.tar.xz">kfilemetadata-5.81.0</a></td>
   <td align="right">415kB</td>
   <td><tt>5f42b80e27e80e7b09b8f2e1b71c739721a5f1bc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.81/kglobalaccel-5.81.0.tar.xz">kglobalaccel-5.81.0</a></td>
   <td align="right">85kB</td>
   <td><tt>7af35b30a3a5777270f9621a832357773f3722d9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.81/kguiaddons-5.81.0.tar.xz">kguiaddons-5.81.0</a></td>
   <td align="right">57kB</td>
   <td><tt>75c9e14fe587f502824d338f79641dc84425f5e1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.81/kholidays-5.81.0.tar.xz">kholidays-5.81.0</a></td>
   <td align="right">221kB</td>
   <td><tt>c234db34005cae9c88379f9cf82a6f150cf8f8ec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.81/ki18n-5.81.0.tar.xz">ki18n-5.81.0</a></td>
   <td align="right">576kB</td>
   <td><tt>ee7ef629bec05225d0e9cb0f484ce61ef643eec4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.81/kiconthemes-5.81.0.tar.xz">kiconthemes-5.81.0</a></td>
   <td align="right">217kB</td>
   <td><tt>a918d997c764a8bb4fe84d09c3bd77f9d919438d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.81/kidletime-5.81.0.tar.xz">kidletime-5.81.0</a></td>
   <td align="right">25kB</td>
   <td><tt>91f7b3275e509fab5c13e8afdde0dc64ae83da7d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.81/kimageformats-5.81.0.tar.xz">kimageformats-5.81.0</a></td>
   <td align="right">576kB</td>
   <td><tt>0e51b50fadfa09aba56e61a5376071a271b9e872</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.81/kinit-5.81.0.tar.xz">kinit-5.81.0</a></td>
   <td align="right">118kB</td>
   <td><tt>17f184482c51bb1dba2dca578f7b417e91fbc464</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.81/kio-5.81.0.tar.xz">kio-5.81.0</a></td>
   <td align="right">3.1MB</td>
   <td><tt>ca7ee38ac7b97f6ab6eebfc842f12a3a475b3849</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.81/kirigami2-5.81.0.tar.xz">kirigami2-5.81.0</a></td>
   <td align="right">307kB</td>
   <td><tt>5d01b73bb8cca2791ef49c37743e4314a80943d7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.81/kitemmodels-5.81.0.tar.xz">kitemmodels-5.81.0</a></td>
   <td align="right">393kB</td>
   <td><tt>6fcf669df6a1379aef3b9826774a1e97cb769fda</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.81/kitemviews-5.81.0.tar.xz">kitemviews-5.81.0</a></td>
   <td align="right">73kB</td>
   <td><tt>ac7abaf57417fb833126b3c8c01e3bb2273f61fe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.81/kjobwidgets-5.81.0.tar.xz">kjobwidgets-5.81.0</a></td>
   <td align="right">93kB</td>
   <td><tt>a0094209b5941f301781b629ba4f1babb808e77c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.81/knewstuff-5.81.0.tar.xz">knewstuff-5.81.0</a></td>
   <td align="right">1.1MB</td>
   <td><tt>93eac39c51d753139f7dc801f4f2fe44297f2c7a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.81/knotifications-5.81.0.tar.xz">knotifications-5.81.0</a></td>
   <td align="right">120kB</td>
   <td><tt>4b1e3f0157cdb96d5e01a79add6d6546789e9d98</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.81/knotifyconfig-5.81.0.tar.xz">knotifyconfig-5.81.0</a></td>
   <td align="right">82kB</td>
   <td><tt>8a28832e6143aa4edb4b0eb5e806cb260a9251e1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.81/kpackage-5.81.0.tar.xz">kpackage-5.81.0</a></td>
   <td align="right">138kB</td>
   <td><tt>546f9e484c7d55269c3d95cdbbae44d87a9c0067</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.81/kparts-5.81.0.tar.xz">kparts-5.81.0</a></td>
   <td align="right">187kB</td>
   <td><tt>a018f09fd59c0bf35aa1e73ebb0ad61c50662c4a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.81/kpeople-5.81.0.tar.xz">kpeople-5.81.0</a></td>
   <td align="right">60kB</td>
   <td><tt>0d2714b3df4130d95857456b0eec2f8b2a36198a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.81/kplotting-5.81.0.tar.xz">kplotting-5.81.0</a></td>
   <td align="right">30kB</td>
   <td><tt>86b744bc2d57683aa59f51f48b65d52bae86ed9f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.81/kpty-5.81.0.tar.xz">kpty-5.81.0</a></td>
   <td align="right">55kB</td>
   <td><tt>34a394093ebc8bb0910e6216b211a4635150285e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.81/kquickcharts-5.81.0.tar.xz">kquickcharts-5.81.0</a></td>
   <td align="right">98kB</td>
   <td><tt>c9eea656709713060cf7a5f37fc412181588da51</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.81/krunner-5.81.0.tar.xz">krunner-5.81.0</a></td>
   <td align="right">73kB</td>
   <td><tt>72585b1cd952ab1ccae0392666eba8ac5629c509</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.81/kservice-5.81.0.tar.xz">kservice-5.81.0</a></td>
   <td align="right">255kB</td>
   <td><tt>6431bc18a4c480b169f77685e0cf1bd6dabc674a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.81/ktexteditor-5.81.0.tar.xz">ktexteditor-5.81.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>12834d0c4a65a77667e0fb5e3f49e032aac73802</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.81/ktextwidgets-5.81.0.tar.xz">ktextwidgets-5.81.0</a></td>
   <td align="right">318kB</td>
   <td><tt>0c419bd3c1f4db816db571dc4fa5266f18755614</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.81/kunitconversion-5.81.0.tar.xz">kunitconversion-5.81.0</a></td>
   <td align="right">848kB</td>
   <td><tt>ad9f653ee02d49044dc104038eca4c0dac51d67f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.81/kwallet-5.81.0.tar.xz">kwallet-5.81.0</a></td>
   <td align="right">293kB</td>
   <td><tt>05a60029ce9369e55cc8f51f579048242cbd9683</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.81/kwayland-5.81.0.tar.xz">kwayland-5.81.0</a></td>
   <td align="right">337kB</td>
   <td><tt>6974a04abbbdfd247a97cbeff1d547eb1c79982d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.81/kwidgetsaddons-5.81.0.tar.xz">kwidgetsaddons-5.81.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>be08b3e7b7ce00c401a7255b90bdc6973ac4b2b1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.81/kwindowsystem-5.81.0.tar.xz">kwindowsystem-5.81.0</a></td>
   <td align="right">173kB</td>
   <td><tt>6f734efe308b4d9f90a98db3698420ac214ce0bb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.81/kxmlgui-5.81.0.tar.xz">kxmlgui-5.81.0</a></td>
   <td align="right">842kB</td>
   <td><tt>2ace110a1f3db8ec843152d115e3b01b65eefe28</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.81/modemmanager-qt-5.81.0.tar.xz">modemmanager-qt-5.81.0</a></td>
   <td align="right">109kB</td>
   <td><tt>2188715ab4679affb3c5b38749ea10070a658b28</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.81/networkmanager-qt-5.81.0.tar.xz">networkmanager-qt-5.81.0</a></td>
   <td align="right">191kB</td>
   <td><tt>9b612f7c7fc4eb835d07545281bf0ee43252b770</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.81/oxygen-icons5-5.81.0.tar.xz">oxygen-icons5-5.81.0</a></td>
   <td align="right">223MB</td>
   <td><tt>5abfaf2af026f47536e888062193239963ad0753</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.81/plasma-framework-5.81.0.tar.xz">plasma-framework-5.81.0</a></td>
   <td align="right">3.0MB</td>
   <td><tt>f2ea611c41feb822ffba2dfdc734ec3a36d1f535</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.81/prison-5.81.0.tar.xz">prison-5.81.0</a></td>
   <td align="right">40kB</td>
   <td><tt>9291695cef15cc370884abd69aadf579186c0fe8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.81/purpose-5.81.0.tar.xz">purpose-5.81.0</a></td>
   <td align="right">155kB</td>
   <td><tt>801390ea32f91d4a8aa5e3f6f6f7731666a0c521</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.81/qqc2-desktop-style-5.81.0.tar.xz">qqc2-desktop-style-5.81.0</a></td>
   <td align="right">58kB</td>
   <td><tt>e6532180697e37c77a607fbdea3075eb9e0887e3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.81/solid-5.81.0.tar.xz">solid-5.81.0</a></td>
   <td align="right">267kB</td>
   <td><tt>f0aad8e6692cd80c6019fb909980a6bd4e420b5c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.81/sonnet-5.81.0.tar.xz">sonnet-5.81.0</a></td>
   <td align="right">287kB</td>
   <td><tt>6540d160ff1829599b263ad65bbd8c141982588a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.81/syndication-5.81.0.tar.xz">syndication-5.81.0</a></td>
   <td align="right">496kB</td>
   <td><tt>33863e69e1dd954e9f416fc2b7f1e96a034f1689</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.81/syntax-highlighting-5.81.0.tar.xz">syntax-highlighting-5.81.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>bd4747048a72ded5e8cd7cc80a8fe069c7f720f2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.81/threadweaver-5.81.0.tar.xz">threadweaver-5.81.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>769b99e267cf0b4a3005a1d6648aa2ef56193560</tt></td>
</tr>

</table>
