<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/amor-4.12.0.tar.xz">amor-4.12.0</a></td>
   <td align="right">170kB</td>
   <td><tt>2cf0e4e8cfe069913c39e17aa59b2a6d013d0ad1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/analitza-4.12.0.tar.xz">analitza-4.12.0</a></td>
   <td align="right">175kB</td>
   <td><tt>a90c58d24c8cba048fc5303ef35e870536603119</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/ark-4.12.0.tar.xz">ark-4.12.0</a></td>
   <td align="right">224kB</td>
   <td><tt>d7b9fbf595b7fc7a67e52a8ad1f0977b07abd274</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/audiocd-kio-4.12.0.tar.xz">audiocd-kio-4.12.0</a></td>
   <td align="right">49kB</td>
   <td><tt>f9218418414099b9ca30adba95f9032aa86dafc6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/blinken-4.12.0.tar.xz">blinken-4.12.0</a></td>
   <td align="right">546kB</td>
   <td><tt>eb081e53375559f67cec380833b1514de635f985</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/bomber-4.12.0.tar.xz">bomber-4.12.0</a></td>
   <td align="right">376kB</td>
   <td><tt>6a52c44a3ac4c80cd5c60e417f13de2103a7c7ed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/bovo-4.12.0.tar.xz">bovo-4.12.0</a></td>
   <td align="right">98kB</td>
   <td><tt>f805eabb8f2a18ae5371bbdcaffb5fce1ac9c5e0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/cantor-4.12.0.tar.xz">cantor-4.12.0</a></td>
   <td align="right">322kB</td>
   <td><tt>9a7a27a375bfbb3ffacf0b9b762eaa9b3d4310f2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/cervisia-4.12.0.tar.xz">cervisia-4.12.0</a></td>
   <td align="right">359kB</td>
   <td><tt>c4609985634c38d1533a68d3f905c785ff780942</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/dolphin-plugins-4.12.0.tar.xz">dolphin-plugins-4.12.0</a></td>
   <td align="right">54kB</td>
   <td><tt>281fcd97e1abbcd54eca76d83b1ce760ff472c2e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/dragon-4.12.0.tar.xz">dragon-4.12.0</a></td>
   <td align="right">381kB</td>
   <td><tt>22370adaedb5d689ccc1e36430936c5c2bad17db</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/ffmpegthumbs-4.12.0.tar.xz">ffmpegthumbs-4.12.0</a></td>
   <td align="right">19kB</td>
   <td><tt>6546cf5cbaf3cb38cc79aa6dbc0f8187499cac55</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/filelight-4.12.0.tar.xz">filelight-4.12.0</a></td>
   <td align="right">280kB</td>
   <td><tt>5cec6ddbb501ee39be62b624c74258f6a8c8718a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/granatier-4.12.0.tar.xz">granatier-4.12.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>73fa16ffbef5915793fef03e25c2a755cb83cead</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/gwenview-4.12.0.tar.xz">gwenview-4.12.0</a></td>
   <td align="right">2.7MB</td>
   <td><tt>f801c71dd94f77caacfc812b7bcadf6023e2a58b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/jovie-4.12.0.tar.xz">jovie-4.12.0</a></td>
   <td align="right">370kB</td>
   <td><tt>c14c3afbc5f1290adc5d421330fd423b470542fe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/juk-4.12.0.tar.xz">juk-4.12.0</a></td>
   <td align="right">418kB</td>
   <td><tt>ea658f5e757baf850f7b3690da77d5754fe386ec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/kaccessible-4.12.0.tar.xz">kaccessible-4.12.0</a></td>
   <td align="right">19kB</td>
   <td><tt>a1e850b14bbf08269557c2f1edea4ac5b0e2773f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/kactivities-4.12.0.tar.xz">kactivities-4.12.0</a></td>
   <td align="right">84kB</td>
   <td><tt>966fa231942b24b510beafb4d3eb16226bde4ec0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/kajongg-4.12.0.tar.xz">kajongg-4.12.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>e0015f83ae9b1c879a860a07b4bf8dc9b1147575</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/kalgebra-4.12.0.tar.xz">kalgebra-4.12.0</a></td>
   <td align="right">264kB</td>
   <td><tt>b4a76e4c06fc68a363727a712b1ca4673d6c816d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/kalzium-4.12.0.tar.xz">kalzium-4.12.0</a></td>
   <td align="right">3.7MB</td>
   <td><tt>8b21468f6149395b9fe0e5f38d7f8c359fa7375e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/kamera-4.12.0.tar.xz">kamera-4.12.0</a></td>
   <td align="right">34kB</td>
   <td><tt>4edc3add701c68a0327dcad772e69f2e23d697cf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/kanagram-4.12.0.tar.xz">kanagram-4.12.0</a></td>
   <td align="right">1.0MB</td>
   <td><tt>13a836b56ea16693a56c320d8082e2153d1d0dcd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/kapman-4.12.0.tar.xz">kapman-4.12.0</a></td>
   <td align="right">1.7MB</td>
   <td><tt>ff8789b6703c6a1ff6bf3187188ca6399c8ede78</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/kapptemplate-4.12.0.tar.xz">kapptemplate-4.12.0</a></td>
   <td align="right">681kB</td>
   <td><tt>4034a10ec3a4f55e1c43a12b1610804d664088e1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/kate-4.12.0.tar.xz">kate-4.12.0</a></td>
   <td align="right">2.5MB</td>
   <td><tt>67b4ae3b3bc6959d29b03eeb43b58be772831e95</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/katomic-4.12.0.tar.xz">katomic-4.12.0</a></td>
   <td align="right">641kB</td>
   <td><tt>5b0644db827b9cb1fd96c2072677758bf1dd1b87</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/kblackbox-4.12.0.tar.xz">kblackbox-4.12.0</a></td>
   <td align="right">251kB</td>
   <td><tt>c70a8460147042abe3dd75109e15e67e960e4e61</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/kblocks-4.12.0.tar.xz">kblocks-4.12.0</a></td>
   <td align="right">1.1MB</td>
   <td><tt>2cf67dce9caac87fe30ad2e8419b0ff15e2f2180</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/kbounce-4.12.0.tar.xz">kbounce-4.12.0</a></td>
   <td align="right">1.5MB</td>
   <td><tt>4386ec1d2c770a8c2225755659245d28b8fc1ff6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/kbreakout-4.12.0.tar.xz">kbreakout-4.12.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>1752d83d4a8ea74bfc2f8f61bf2b93096dfdd24d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/kbruch-4.12.0.tar.xz">kbruch-4.12.0</a></td>
   <td align="right">876kB</td>
   <td><tt>a8611ddfa4b22c8d13128c3e120d2407b9bf3674</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/kcachegrind-4.12.0.tar.xz">kcachegrind-4.12.0</a></td>
   <td align="right">229kB</td>
   <td><tt>8d1cdbceeca886c1a31af9fc3405b1d86917ed82</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/kcalc-4.12.0.tar.xz">kcalc-4.12.0</a></td>
   <td align="right">78kB</td>
   <td><tt>a783b12395016d9cdec87e442a7591e7d61c3c6d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/kcharselect-4.12.0.tar.xz">kcharselect-4.12.0</a></td>
   <td align="right">82kB</td>
   <td><tt>f862a8d0299355146411f3f79943c6690a62c347</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/kcolorchooser-4.12.0.tar.xz">kcolorchooser-4.12.0</a></td>
   <td align="right">4kB</td>
   <td><tt>46121f527af58b08738ce20623c1b25d00bf20e2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/kcron-4.12.0.tar.xz">kcron-4.12.0</a></td>
   <td align="right">170kB</td>
   <td><tt>7f64eb62048360f5d14ce273e7eff2c48c9d0567</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/kdeartwork-4.12.0.tar.xz">kdeartwork-4.12.0</a></td>
   <td align="right">134MB</td>
   <td><tt>a5042ff6768a4857649a526199c9cda9c6976e6a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/kde-baseapps-4.12.0.tar.xz">kde-baseapps-4.12.0</a></td>
   <td align="right">2.4MB</td>
   <td><tt>e85b5445380e44894efcaa21f4c95fad1ed4c4f6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/kde-base-artwork-4.12.0.tar.xz">kde-base-artwork-4.12.0</a></td>
   <td align="right">7.0MB</td>
   <td><tt>11772c35e8177d9e9c3b36a2e648175f91ddbcee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/kde-dev-scripts-4.12.0.tar.xz">kde-dev-scripts-4.12.0</a></td>
   <td align="right">251kB</td>
   <td><tt>e5c677542c7cfa206a2723c7c68a8c71c3e9ea5d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/kde-dev-utils-4.12.0.tar.xz">kde-dev-utils-4.12.0</a></td>
   <td align="right">50kB</td>
   <td><tt>08a45595bae38d7d1833eb035c0a753421e4604c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/kdegraphics-mobipocket-4.12.0.tar.xz">kdegraphics-mobipocket-4.12.0</a></td>
   <td align="right">14kB</td>
   <td><tt>60fc877f9669d50ca77513b1de73b54140f6eddf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/kdegraphics-strigi-analyzer-4.12.0.tar.xz">kdegraphics-strigi-analyzer-4.12.0</a></td>
   <td align="right">39kB</td>
   <td><tt>bb7fbcc4e644baee5fa298cd3b0cc11d267da80d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/kdegraphics-thumbnailers-4.12.0.tar.xz">kdegraphics-thumbnailers-4.12.0</a></td>
   <td align="right">40kB</td>
   <td><tt>2a9f551c2271298ee16f8e12f9d18c84bceb9c09</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/kdelibs-4.12.0.tar.xz">kdelibs-4.12.0</a></td>
   <td align="right">11MB</td>
   <td><tt>a510f9dc2675c5656af00a92f81b747129ff70d1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/kdenetwork-filesharing-4.12.0.tar.xz">kdenetwork-filesharing-4.12.0</a></td>
   <td align="right">26kB</td>
   <td><tt>6ef2be648f6b4f64f9ff0542d9dceb79f4a9881f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/kdenetwork-strigi-analyzers-4.12.0.tar.xz">kdenetwork-strigi-analyzers-4.12.0</a></td>
   <td align="right">14kB</td>
   <td><tt>f3c0b07765236d18a01865986cca134fce68a1d5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/kdepim-4.12.0.tar.xz">kdepim-4.12.0</a></td>
   <td align="right">12MB</td>
   <td><tt>1ca184dc89f8c8395ffe4ec62a3fdcd0a7397ac4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/kdepimlibs-4.12.0.tar.xz">kdepimlibs-4.12.0</a></td>
   <td align="right">2.5MB</td>
   <td><tt>60b7bea192c5914daf0a5258ac61b781aa257a4a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/kdepim-runtime-4.12.0.tar.xz">kdepim-runtime-4.12.0</a></td>
   <td align="right">1.1MB</td>
   <td><tt>fe988ea74cf83f1dae99f81bc02eefaa834c664c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/kdeplasma-addons-4.12.0.tar.xz">kdeplasma-addons-4.12.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>0e0df64b06c77285a0119832cadd548b6b223ff1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/kde-runtime-4.12.0.tar.xz">kde-runtime-4.12.0</a></td>
   <td align="right">7.4MB</td>
   <td><tt>7c077b5ff2839fee1cc55016cd6711da1abb584c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/kdesdk-kioslaves-4.12.0.tar.xz">kdesdk-kioslaves-4.12.0</a></td>
   <td align="right">352kB</td>
   <td><tt>a7c04650a37c28a8ccf316500918f0cef8f6164c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/kdesdk-strigi-analyzers-4.12.0.tar.xz">kdesdk-strigi-analyzers-4.12.0</a></td>
   <td align="right">17kB</td>
   <td><tt>efe05955070149c54c65621327196c94d1c82e41</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/kdesdk-thumbnailers-4.12.0.tar.xz">kdesdk-thumbnailers-4.12.0</a></td>
   <td align="right">11kB</td>
   <td><tt>094dbd49b3565b9bee38f9d4390740b2b8d8df34</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/kde-wallpapers-4.12.0.tar.xz">kde-wallpapers-4.12.0</a></td>
   <td align="right">86MB</td>
   <td><tt>81f3b37b213c5cce120b789dee0240bc01c7f850</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/kdewebdev-4.12.0.tar.xz">kdewebdev-4.12.0</a></td>
   <td align="right">2.4MB</td>
   <td><tt>3ff61d129f428cffd4ddfed6d6007fe5625ca724</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/kdf-4.12.0.tar.xz">kdf-4.12.0</a></td>
   <td align="right">145kB</td>
   <td><tt>2d56949fb0bc889403e3460d097e056bbce6ffd9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/kdiamond-4.12.0.tar.xz">kdiamond-4.12.0</a></td>
   <td align="right">3.9MB</td>
   <td><tt>82c30d782087c41441f2b24dde2eb2c5c722807a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/kdnssd-4.12.0.tar.xz">kdnssd-4.12.0</a></td>
   <td align="right">25kB</td>
   <td><tt>4ebd5320344b02726652552536f28c468f9049ee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/kfloppy-4.12.0.tar.xz">kfloppy-4.12.0</a></td>
   <td align="right">51kB</td>
   <td><tt>642aeb278dca7b769d01f37d67e065ff6003d68d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/kfourinline-4.12.0.tar.xz">kfourinline-4.12.0</a></td>
   <td align="right">275kB</td>
   <td><tt>226f7e8cf6da9517a2beeaa22caf51e35df123d9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/kgamma-4.12.0.tar.xz">kgamma-4.12.0</a></td>
   <td align="right">22kB</td>
   <td><tt>b0ebd6963b4438069b0a016bf122207c00ac7da9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/kgeography-4.12.0.tar.xz">kgeography-4.12.0</a></td>
   <td align="right">6.4MB</td>
   <td><tt>6984a2d88dc488257be8d3471a6241ca0e456788</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/kget-4.12.0.tar.xz">kget-4.12.0</a></td>
   <td align="right">1.0MB</td>
   <td><tt>5d327b26c68f0aaa7a088992de10136b1786aba9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/kgoldrunner-4.12.0.tar.xz">kgoldrunner-4.12.0</a></td>
   <td align="right">1.9MB</td>
   <td><tt>93b4b717fe92c3de68eea7d20cfc26fd6262e1d8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/kgpg-4.12.0.tar.xz">kgpg-4.12.0</a></td>
   <td align="right">784kB</td>
   <td><tt>28d08d701d35ad71eb5772a6aa8580a5205ea618</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/khangman-4.12.0.tar.xz">khangman-4.12.0</a></td>
   <td align="right">3.7MB</td>
   <td><tt>a7e3883fd49843bb3e9addff24ebb748dd42b86a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/kig-4.12.0.tar.xz">kig-4.12.0</a></td>
   <td align="right">1.4MB</td>
   <td><tt>16ed1da7cb7d49a87d009791026590ac9db7b1e2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/kigo-4.12.0.tar.xz">kigo-4.12.0</a></td>
   <td align="right">1.2MB</td>
   <td><tt>d4a7f9fed23710237f18e1879d9128821e4f3f4a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/killbots-4.12.0.tar.xz">killbots-4.12.0</a></td>
   <td align="right">938kB</td>
   <td><tt>2cbf37ae730340a9426c663291679969d4bfa336</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/kimono-4.12.0.tar.xz">kimono-4.12.0</a></td>
   <td align="right">910kB</td>
   <td><tt>f943de3f84ddb0ff6beec922ae9f4d890f83bb5c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/kiriki-4.12.0.tar.xz">kiriki-4.12.0</a></td>
   <td align="right">115kB</td>
   <td><tt>97cc308eb01ded2e39aff57f736e72d24604d37f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/kiten-4.12.0.tar.xz">kiten-4.12.0</a></td>
   <td align="right">11MB</td>
   <td><tt>d5aa061642ff9e32722d4014ad0816d2fb70dbaa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/kjumpingcube-4.12.0.tar.xz">kjumpingcube-4.12.0</a></td>
   <td align="right">159kB</td>
   <td><tt>c54a04bb1bc1769018ca31731190038ba3624ce7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/klettres-4.12.0.tar.xz">klettres-4.12.0</a></td>
   <td align="right">2.5MB</td>
   <td><tt>47a8e13c94111b7cf3fbabf4e84f22e30ac10884</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/klickety-4.12.0.tar.xz">klickety-4.12.0</a></td>
   <td align="right">765kB</td>
   <td><tt>42cd4e8edbbd9bb60551ed7c4b45557ba71e52d2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/klines-4.12.0.tar.xz">klines-4.12.0</a></td>
   <td align="right">926kB</td>
   <td><tt>a07893d319d8d27cc27a87bf8ab7636ba3fbc416</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/kmag-4.12.0.tar.xz">kmag-4.12.0</a></td>
   <td align="right">84kB</td>
   <td><tt>b75992bfe53ab7e22e33d5746ed28ab9583be816</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/kmahjongg-4.12.0.tar.xz">kmahjongg-4.12.0</a></td>
   <td align="right">979kB</td>
   <td><tt>e6ece3ec2fdcd5d454464f7c8677382a6c79359f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/kmines-4.12.0.tar.xz">kmines-4.12.0</a></td>
   <td align="right">613kB</td>
   <td><tt>05de6c7620247d4b221a0cae5905e9c3a553843f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/kmix-4.12.0.tar.xz">kmix-4.12.0</a></td>
   <td align="right">371kB</td>
   <td><tt>839d23f2f76e79eb20bde46472774a8c678221c9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/kmousetool-4.12.0.tar.xz">kmousetool-4.12.0</a></td>
   <td align="right">35kB</td>
   <td><tt>3c61d8a183c9e1fedb6eff6b0dd6937135a429f8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/kmouth-4.12.0.tar.xz">kmouth-4.12.0</a></td>
   <td align="right">300kB</td>
   <td><tt>a934e8b73a5a71293a63b45f038751318c04a1bf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/kmplot-4.12.0.tar.xz">kmplot-4.12.0</a></td>
   <td align="right">639kB</td>
   <td><tt>6f6253c7cf2656777e1599747d36286bd75bf6f5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/knavalbattle-4.12.0.tar.xz">knavalbattle-4.12.0</a></td>
   <td align="right">829kB</td>
   <td><tt>039b6590ae20cecbb24f5f7a17e45e3fef49d98f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/knetwalk-4.12.0.tar.xz">knetwalk-4.12.0</a></td>
   <td align="right">763kB</td>
   <td><tt>2aa6b90be52f74c97531862ae1688f0433bd0f17</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/kolf-4.12.0.tar.xz">kolf-4.12.0</a></td>
   <td align="right">747kB</td>
   <td><tt>e3a03d50676018934affe5a4c1a9b4f82dca79fc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/kollision-4.12.0.tar.xz">kollision-4.12.0</a></td>
   <td align="right">202kB</td>
   <td><tt>434928e8cf6e37e4afcb91cee78201f3f79a243e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/kolourpaint-4.12.0.tar.xz">kolourpaint-4.12.0</a></td>
   <td align="right">1.1MB</td>
   <td><tt>2bb9eb48b8dffe689c17d95ecb7e51d01ffc6cdc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/kompare-4.12.0.tar.xz">kompare-4.12.0</a></td>
   <td align="right">336kB</td>
   <td><tt>957723c68c9206d98d0c6dd3f42b4cf8feb88288</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/konquest-4.12.0.tar.xz">konquest-4.12.0</a></td>
   <td align="right">406kB</td>
   <td><tt>8e4b8f4cd1463c5f10292a945f5d0af2173b0079</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/konsole-4.12.0.tar.xz">konsole-4.12.0</a></td>
   <td align="right">440kB</td>
   <td><tt>3e4d16c6837c1ba83e8e8440124bd870eca1ba1c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/kopete-4.12.0.tar.xz">kopete-4.12.0</a></td>
   <td align="right">6.0MB</td>
   <td><tt>c1ef611b27079388e48e558a65e2de80db93d875</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/korundum-4.12.0.tar.xz">korundum-4.12.0</a></td>
   <td align="right">156kB</td>
   <td><tt>0b2a5f4453116a773ae446268efe697accc0d4c4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/kpat-4.12.0.tar.xz">kpat-4.12.0</a></td>
   <td align="right">2.9MB</td>
   <td><tt>698a82df3cd00949ba7049c6a0806320992a651d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/kppp-4.12.0.tar.xz">kppp-4.12.0</a></td>
   <td align="right">680kB</td>
   <td><tt>6c8059159d38517311a532e97e33b7cdf7d714e5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/krdc-4.12.0.tar.xz">krdc-4.12.0</a></td>
   <td align="right">388kB</td>
   <td><tt>0f26191ada1fcbc2f785cd6f5d95df05dd1d37dd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/kremotecontrol-4.12.0.tar.xz">kremotecontrol-4.12.0</a></td>
   <td align="right">1.0MB</td>
   <td><tt>27b8e567591723d29908c9ac85753c9a66d847ca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/kreversi-4.12.0.tar.xz">kreversi-4.12.0</a></td>
   <td align="right">353kB</td>
   <td><tt>6a02522dda4d501ba4268acd14b24d9174837fb6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/krfb-4.12.0.tar.xz">krfb-4.12.0</a></td>
   <td align="right">456kB</td>
   <td><tt>b58f92ba9f1b98c5623bb4a0bc14ed9838f8280a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/kross-interpreters-4.12.0.tar.xz">kross-interpreters-4.12.0</a></td>
   <td align="right">127kB</td>
   <td><tt>26663d13d13f001eaf359ac3af0aab133b0ed558</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/kruler-4.12.0.tar.xz">kruler-4.12.0</a></td>
   <td align="right">125kB</td>
   <td><tt>1c3de59f559c8621f667351a9b66f4de00e7731c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/ksaneplugin-4.12.0.tar.xz">ksaneplugin-4.12.0</a></td>
   <td align="right">12kB</td>
   <td><tt>e04f67e75a2cd0e98a097674cdc1b93b17f8d77c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/kscd-4.12.0.tar.xz">kscd-4.12.0</a></td>
   <td align="right">90kB</td>
   <td><tt>d43ee9e8fb00f368575c2f0e62f5efaa539b876e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/kshisen-4.12.0.tar.xz">kshisen-4.12.0</a></td>
   <td align="right">132kB</td>
   <td><tt>a027c93ff933ba5928fe539409b09cfcc50c9a6d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/ksirk-4.12.0.tar.xz">ksirk-4.12.0</a></td>
   <td align="right">4.7MB</td>
   <td><tt>39fff63dca23268d83ba006bad733c1046d84beb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/ksnakeduel-4.12.0.tar.xz">ksnakeduel-4.12.0</a></td>
   <td align="right">312kB</td>
   <td><tt>dc0113638ea1eff7df3a8562431bcdc630ab896a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/ksnapshot-4.12.0.tar.xz">ksnapshot-4.12.0</a></td>
   <td align="right">251kB</td>
   <td><tt>20ced4e4fe02f8af84c61b7ff915e8baadce4639</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/kspaceduel-4.12.0.tar.xz">kspaceduel-4.12.0</a></td>
   <td align="right">246kB</td>
   <td><tt>6b633e9e75119385b4aae8527645b6c3579f0af1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/ksquares-4.12.0.tar.xz">ksquares-4.12.0</a></td>
   <td align="right">77kB</td>
   <td><tt>78ae226c767459b36ec69d806b2562e9341b94d4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/kstars-4.12.0.tar.xz">kstars-4.12.0</a></td>
   <td align="right">11MB</td>
   <td><tt>b8e1b95b1b7b1c31ff628fb2b8779293c72a8d8a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/ksudoku-4.12.0.tar.xz">ksudoku-4.12.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>a0e015d8377a450c7e309395c08568d484373fae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/ksystemlog-4.12.0.tar.xz">ksystemlog-4.12.0</a></td>
   <td align="right">373kB</td>
   <td><tt>0e7b62342acf505d384328de2528cb22120ef639</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/kteatime-4.12.0.tar.xz">kteatime-4.12.0</a></td>
   <td align="right">98kB</td>
   <td><tt>fba17a0e97ab31094b714811f74dbccfc3f70841</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/ktimer-4.12.0.tar.xz">ktimer-4.12.0</a></td>
   <td align="right">143kB</td>
   <td><tt>fb8f46dc90f41e62c0a4f4bdff46894659125938</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/ktouch-4.12.0.tar.xz">ktouch-4.12.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>59f37ce92d918d3bce8520bc58c3651213d092e8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/ktuberling-4.12.0.tar.xz">ktuberling-4.12.0</a></td>
   <td align="right">4.0MB</td>
   <td><tt>b3613320dc296bca59caab64d2c92fa1dcbbf589</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/kturtle-4.12.0.tar.xz">kturtle-4.12.0</a></td>
   <td align="right">183kB</td>
   <td><tt>2623bf1647cc26706edcd4e0ed4b4fca0dfb3fb2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/ktux-4.12.0.tar.xz">ktux-4.12.0</a></td>
   <td align="right">106kB</td>
   <td><tt>acf49c182581c342abacedccabfe2daceec914e1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/kubrick-4.12.0.tar.xz">kubrick-4.12.0</a></td>
   <td align="right">104kB</td>
   <td><tt>87d888772bfc7f73cdef5a4b1644de9ba7babd38</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/kuser-4.12.0.tar.xz">kuser-4.12.0</a></td>
   <td align="right">131kB</td>
   <td><tt>36610297b6f41d075fc638fdab6910f3558cdcc2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/kwallet-4.12.0.tar.xz">kwallet-4.12.0</a></td>
   <td align="right">445kB</td>
   <td><tt>44c7e225989b77fd9be7e6804bf3f4702c62efa3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/kwordquiz-4.12.0.tar.xz">kwordquiz-4.12.0</a></td>
   <td align="right">1.1MB</td>
   <td><tt>522e3dd60630be1c97e740d3fc80db231859df86</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/libkcddb-4.12.0.tar.xz">libkcddb-4.12.0</a></td>
   <td align="right">154kB</td>
   <td><tt>e0a195f145719defb1ad52493b41118a3b31c58e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/libkcompactdisc-4.12.0.tar.xz">libkcompactdisc-4.12.0</a></td>
   <td align="right">73kB</td>
   <td><tt>dc8b0bc7839942eb5e22ea6a3faf1d9960a99b98</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/libkdcraw-4.12.0.tar.xz">libkdcraw-4.12.0</a></td>
   <td align="right">97kB</td>
   <td><tt>7f2aae2f91edc4de668dee8138305148242ef34b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/libkdeedu-4.12.0.tar.xz">libkdeedu-4.12.0</a></td>
   <td align="right">204kB</td>
   <td><tt>b974648cc561d02eb999d2a5d197a93125142b39</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/libkdegames-4.12.0.tar.xz">libkdegames-4.12.0</a></td>
   <td align="right">5.5MB</td>
   <td><tt>7c67c6ed68adc09937b20a5d46b7dde330e47400</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/libkexiv2-4.12.0.tar.xz">libkexiv2-4.12.0</a></td>
   <td align="right">132kB</td>
   <td><tt>554839aa4ea94f2ed55aa48c10c41d65c266da37</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/libkipi-4.12.0.tar.xz">libkipi-4.12.0</a></td>
   <td align="right">92kB</td>
   <td><tt>bb0f8708071a07246e0ac553568102c743c3b13f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/libkmahjongg-4.12.0.tar.xz">libkmahjongg-4.12.0</a></td>
   <td align="right">1.5MB</td>
   <td><tt>be38eb549b5502181bad65cfeb45b832d711bc7e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/libkomparediff2-4.12.0.tar.xz">libkomparediff2-4.12.0</a></td>
   <td align="right">54kB</td>
   <td><tt>ba6dcfd8da41d5f441d6f2a8352eb28e3b504e08</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/libksane-4.12.0.tar.xz">libksane-4.12.0</a></td>
   <td align="right">78kB</td>
   <td><tt>c3473dbe3b5e68d85828fbcd585a957781e73cde</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/lokalize-4.12.0.tar.xz">lokalize-4.12.0</a></td>
   <td align="right">826kB</td>
   <td><tt>bfe6363dae420e2b6ce82c201b45a0e337199bc4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/lskat-4.12.0.tar.xz">lskat-4.12.0</a></td>
   <td align="right">907kB</td>
   <td><tt>bd66a6506caa9418b653a6d675a28073d31c41d4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/marble-4.12.0.tar.xz">marble-4.12.0</a></td>
   <td align="right">17MB</td>
   <td><tt>65f4272a015b36b06d7aacf1a4dd6e757557e2b9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/mplayerthumbs-4.12.0.tar.xz">mplayerthumbs-4.12.0</a></td>
   <td align="right">26kB</td>
   <td><tt>1cc91d50e1747a640f951d13c2577d33679efaa2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/nepomuk-core-4.12.0.tar.xz">nepomuk-core-4.12.0</a></td>
   <td align="right">371kB</td>
   <td><tt>2b4ec16c5e664ae7dcd4035229000b8d7712181d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/nepomuk-widgets-4.12.0.tar.xz">nepomuk-widgets-4.12.0</a></td>
   <td align="right">47kB</td>
   <td><tt>2edb8e026f35574167026838e9d5b382a5f8148b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/okteta-4.12.0.tar.xz">okteta-4.12.0</a></td>
   <td align="right">481kB</td>
   <td><tt>230e9715de29b16ff3aa542c5557021702cfe6dc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/okular-4.12.0.tar.xz">okular-4.12.0</a></td>
   <td align="right">1.5MB</td>
   <td><tt>1fde4dd5e271e541f0f4db525c2597c895f407d5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/oxygen-icons-4.12.0.tar.xz">oxygen-icons-4.12.0</a></td>
   <td align="right">219MB</td>
   <td><tt>4bb0de73e52d237c906903c383c2e36cb2d5c143</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/pairs-4.12.0.tar.xz">pairs-4.12.0</a></td>
   <td align="right">2.6MB</td>
   <td><tt>a153626127d757105473a1a0b174e4f67f87aa2e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/palapeli-4.12.0.tar.xz">palapeli-4.12.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>3c8b1eb087116316422a5c95798d1d7ad150254a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/parley-4.12.0.tar.xz">parley-4.12.0</a></td>
   <td align="right">7.6MB</td>
   <td><tt>6b5fac34f4f6c9cd9f43a1137574be0396d10768</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/perlkde-4.12.0.tar.xz">perlkde-4.12.0</a></td>
   <td align="right">39kB</td>
   <td><tt>a69983100fd2b66f478e7b39b6fe0ce49813db6d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/perlqt-4.12.0.tar.xz">perlqt-4.12.0</a></td>
   <td align="right">1.7MB</td>
   <td><tt>0b66d85af437dba188b9d9381dbd50114ff1c925</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/picmi-4.12.0.tar.xz">picmi-4.12.0</a></td>
   <td align="right">712kB</td>
   <td><tt>f7b3fa5e44b117ae44d173c14763896692e589d0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/poxml-4.12.0.tar.xz">poxml-4.12.0</a></td>
   <td align="right">30kB</td>
   <td><tt>30d8d0f06a47965f336fd5428326a1c92fcaa7be</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/print-manager-4.12.0.tar.xz">print-manager-4.12.0</a></td>
   <td align="right">89kB</td>
   <td><tt>9d16dabd15278d0fac6ad3b3aabe58c7bc26ac07</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/pykde4-4.12.0.tar.xz">pykde4-4.12.0</a></td>
   <td align="right">1.9MB</td>
   <td><tt>64661b5fcce6b45cddf1f6ddfc17862c939a18af</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/qtruby-4.12.0.tar.xz">qtruby-4.12.0</a></td>
   <td align="right">517kB</td>
   <td><tt>a1ab8e5607bb8f2a046c06907592738652daf1dd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/qyoto-4.12.0.tar.xz">qyoto-4.12.0</a></td>
   <td align="right">495kB</td>
   <td><tt>581e1bf9eb0d056be21e32851919e9abf60c967e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/rocs-4.12.0.tar.xz">rocs-4.12.0</a></td>
   <td align="right">1.0MB</td>
   <td><tt>bec5211b4c1c384f515bfaa0a98a5c2684bbdab4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/smokegen-4.12.0.tar.xz">smokegen-4.12.0</a></td>
   <td align="right">143kB</td>
   <td><tt>5385b2851d16d186be4cc4bc4d5af901d8f444bf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/smokekde-4.12.0.tar.xz">smokekde-4.12.0</a></td>
   <td align="right">35kB</td>
   <td><tt>9f1d249d3fcedefba49dc26afc1a1c5c0ad730d6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/smokeqt-4.12.0.tar.xz">smokeqt-4.12.0</a></td>
   <td align="right">29kB</td>
   <td><tt>d5b47c8a21f9856a7ea8729c0cb01dad4db2d13e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/step-4.12.0.tar.xz">step-4.12.0</a></td>
   <td align="right">353kB</td>
   <td><tt>0bc4592f7886abe1815de1290aff2efab230120b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/superkaramba-4.12.0.tar.xz">superkaramba-4.12.0</a></td>
   <td align="right">374kB</td>
   <td><tt>d50d682fd1960ab50fdd2ec3c605d0599dc3e6de</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/svgpart-4.12.0.tar.xz">svgpart-4.12.0</a></td>
   <td align="right">8kB</td>
   <td><tt>dd58aade7943c99904e753934986fdd901f960ff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/sweeper-4.12.0.tar.xz">sweeper-4.12.0</a></td>
   <td align="right">80kB</td>
   <td><tt>2b117aa90b46ea0eeba9a07f8f0aa95744014d57</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/umbrello-4.12.0.tar.xz">umbrello-4.12.0</a></td>
   <td align="right">1.4MB</td>
   <td><tt>307f2da8ea0a69e045c1013c20e0ffeb1690ad56</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/kde-l10n/kde-l10n-ar-4.12.0.tar.xz">kde-l10n-ar-4.12.0</a></td>
   <td align="right">3.1MB</td>
   <td><tt>5ea27bd67dee2b4f5ca7adb8b196ccb83d5eb11a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/kde-l10n/kde-l10n-bg-4.12.0.tar.xz">kde-l10n-bg-4.12.0</a></td>
   <td align="right">1.9MB</td>
   <td><tt>9df7422785dcea3ba4daf209372aa88ce6376780</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/kde-l10n/kde-l10n-bs-4.12.0.tar.xz">kde-l10n-bs-4.12.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>12f363b686abd44eaafa11f87ce750c47d96f265</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/kde-l10n/kde-l10n-ca-4.12.0.tar.xz">kde-l10n-ca-4.12.0</a></td>
   <td align="right">11MB</td>
   <td><tt>98beff8e49538c5f2aeac71d075e4cdf67c15ded</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/kde-l10n/kde-l10n-ca@valencia-4.12.0.tar.xz">kde-l10n-ca@valencia-4.12.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>2c21b6b31884fc5ab4535e17c17130853b522ddd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/kde-l10n/kde-l10n-cs-4.12.0.tar.xz">kde-l10n-cs-4.12.0</a></td>
   <td align="right">2.8MB</td>
   <td><tt>cf19a9714cd7ba56cc79c8c6535932cc7b641c4e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/kde-l10n/kde-l10n-da-4.12.0.tar.xz">kde-l10n-da-4.12.0</a></td>
   <td align="right">12MB</td>
   <td><tt>da5d33e013b43892a26114dc55ac4bbcefa6066e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/kde-l10n/kde-l10n-de-4.12.0.tar.xz">kde-l10n-de-4.12.0</a></td>
   <td align="right">34MB</td>
   <td><tt>0fbaecc0c676682205a2555c7868034d8c28f899</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/kde-l10n/kde-l10n-el-4.12.0.tar.xz">kde-l10n-el-4.12.0</a></td>
   <td align="right">4.6MB</td>
   <td><tt>882dcbecfa754c3beec7a8f6940dfb157da98ef2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/kde-l10n/kde-l10n-en_GB-4.12.0.tar.xz">kde-l10n-en_GB-4.12.0</a></td>
   <td align="right">2.9MB</td>
   <td><tt>6bc5772d092f05e8db0bae5b85387cb50b4ab405</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/kde-l10n/kde-l10n-es-4.12.0.tar.xz">kde-l10n-es-4.12.0</a></td>
   <td align="right">20MB</td>
   <td><tt>05cbdc1692eb1de995edd4ce195cc50ff4711fd0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/kde-l10n/kde-l10n-et-4.12.0.tar.xz">kde-l10n-et-4.12.0</a></td>
   <td align="right">5.2MB</td>
   <td><tt>414887c79fefee180dd086d6782ff396190cf907</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/kde-l10n/kde-l10n-eu-4.12.0.tar.xz">kde-l10n-eu-4.12.0</a></td>
   <td align="right">2.0MB</td>
   <td><tt>a1dd1eb12e9ca93b891ae5fb6225d2cbdf843783</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/kde-l10n/kde-l10n-fi-4.12.0.tar.xz">kde-l10n-fi-4.12.0</a></td>
   <td align="right">2.6MB</td>
   <td><tt>d59e13670244cda9090a0a1c9c12db96a07cf05a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/kde-l10n/kde-l10n-fr-4.12.0.tar.xz">kde-l10n-fr-4.12.0</a></td>
   <td align="right">43MB</td>
   <td><tt>70e515067cfd2fd511ce59bfd5f8d5c8145ac53a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/kde-l10n/kde-l10n-ga-4.12.0.tar.xz">kde-l10n-ga-4.12.0</a></td>
   <td align="right">2.7MB</td>
   <td><tt>80f04851df9281268b92df9bf2181eb370723ffe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/kde-l10n/kde-l10n-gl-4.12.0.tar.xz">kde-l10n-gl-4.12.0</a></td>
   <td align="right">3.4MB</td>
   <td><tt>3dc0c05225bae3b1731696b51dda27eda163b6ce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/kde-l10n/kde-l10n-he-4.12.0.tar.xz">kde-l10n-he-4.12.0</a></td>
   <td align="right">2.0MB</td>
   <td><tt>55c748d3bda143c44ab3924c4096b2d5ec4fc5a8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/kde-l10n/kde-l10n-hi-4.12.0.tar.xz">kde-l10n-hi-4.12.0</a></td>
   <td align="right">1.7MB</td>
   <td><tt>f7db2e05d7678838992238766d7fcb0b443d3d7f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/kde-l10n/kde-l10n-hr-4.12.0.tar.xz">kde-l10n-hr-4.12.0</a></td>
   <td align="right">1.9MB</td>
   <td><tt>501e0e28acf8e9ebfbbbe353d9850a9005cc16a5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/kde-l10n/kde-l10n-hu-4.12.0.tar.xz">kde-l10n-hu-4.12.0</a></td>
   <td align="right">4.0MB</td>
   <td><tt>905b7098d927be7ef26b58cdadfa5aa9c873dc13</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/kde-l10n/kde-l10n-ia-4.12.0.tar.xz">kde-l10n-ia-4.12.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>3c3814096416dc8e6e59015e615102ee06076645</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/kde-l10n/kde-l10n-is-4.12.0.tar.xz">kde-l10n-is-4.12.0</a></td>
   <td align="right">1.8MB</td>
   <td><tt>bc4cadbf19358f26779e8524f69cb1de319042f0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/kde-l10n/kde-l10n-it-4.12.0.tar.xz">kde-l10n-it-4.12.0</a></td>
   <td align="right">8.4MB</td>
   <td><tt>c86e465b959b1a008c4ddd2f012a944ac3f5bbf3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/kde-l10n/kde-l10n-ja-4.12.0.tar.xz">kde-l10n-ja-4.12.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>3001ecb71959e7a1b273b385783ff6cff8d19ed5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/kde-l10n/kde-l10n-kk-4.12.0.tar.xz">kde-l10n-kk-4.12.0</a></td>
   <td align="right">2.5MB</td>
   <td><tt>5370f54cc3acd406ac244647647c96db15c176f6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/kde-l10n/kde-l10n-km-4.12.0.tar.xz">kde-l10n-km-4.12.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>ee5e78999009417279065043adff5588aeeb8029</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/kde-l10n/kde-l10n-ko-4.12.0.tar.xz">kde-l10n-ko-4.12.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>d0ae0119e9aaebc0e4bc9720c03822bfad97effc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/kde-l10n/kde-l10n-lt-4.12.0.tar.xz">kde-l10n-lt-4.12.0</a></td>
   <td align="right">12MB</td>
   <td><tt>a33a62322c7e5432707523d599a844a85e3eee76</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/kde-l10n/kde-l10n-lv-4.12.0.tar.xz">kde-l10n-lv-4.12.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>3661fb325ca3dd07fe8dcff822626023ca4aa1df</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/kde-l10n/kde-l10n-mr-4.12.0.tar.xz">kde-l10n-mr-4.12.0</a></td>
   <td align="right">1.7MB</td>
   <td><tt>6014b942f161b1d35904b9d8dc8d3e0d54126b87</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/kde-l10n/kde-l10n-nb-4.12.0.tar.xz">kde-l10n-nb-4.12.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>3016725983c099df9545581231395f438e6872cd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/kde-l10n/kde-l10n-nds-4.12.0.tar.xz">kde-l10n-nds-4.12.0</a></td>
   <td align="right">3.0MB</td>
   <td><tt>55fff920d847f14dfe559ac8585aa5bf12f5c9ab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/kde-l10n/kde-l10n-nl-4.12.0.tar.xz">kde-l10n-nl-4.12.0</a></td>
   <td align="right">13MB</td>
   <td><tt>c83d9ce5edba6cd87b5d658b0b2b6760853c0d28</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/kde-l10n/kde-l10n-nn-4.12.0.tar.xz">kde-l10n-nn-4.12.0</a></td>
   <td align="right">1.8MB</td>
   <td><tt>557bb97b4053b894624a7d3fab7d5ea39323ad19</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/kde-l10n/kde-l10n-pa-4.12.0.tar.xz">kde-l10n-pa-4.12.0</a></td>
   <td align="right">1.8MB</td>
   <td><tt>5c8058220ab59c59a3559b4b7d55fb5e66cba856</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/kde-l10n/kde-l10n-pl-4.12.0.tar.xz">kde-l10n-pl-4.12.0</a></td>
   <td align="right">16MB</td>
   <td><tt>e1efdec559643fcd5bc2cd6154b8189f01f70efd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/kde-l10n/kde-l10n-pt-4.12.0.tar.xz">kde-l10n-pt-4.12.0</a></td>
   <td align="right">3.5MB</td>
   <td><tt>bcd95f4005bb41fb714b8e8713016f2fc66274ea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/kde-l10n/kde-l10n-pt_BR-4.12.0.tar.xz">kde-l10n-pt_BR-4.12.0</a></td>
   <td align="right">23MB</td>
   <td><tt>84926c47109a577ecdf91b8f1e03097c2b6a1ba1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/kde-l10n/kde-l10n-ro-4.12.0.tar.xz">kde-l10n-ro-4.12.0</a></td>
   <td align="right">2.8MB</td>
   <td><tt>be54bdaf45c3a59f48c255566cc62151a5936006</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/kde-l10n/kde-l10n-ru-4.12.0.tar.xz">kde-l10n-ru-4.12.0</a></td>
   <td align="right">21MB</td>
   <td><tt>cebb4296ccfbcb0640979cf264c1515ca19d70ad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/kde-l10n/kde-l10n-sk-4.12.0.tar.xz">kde-l10n-sk-4.12.0</a></td>
   <td align="right">4.2MB</td>
   <td><tt>d9e9d00aef1a9454940c13dc935f973e3a7656c7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/kde-l10n/kde-l10n-sl-4.12.0.tar.xz">kde-l10n-sl-4.12.0</a></td>
   <td align="right">2.9MB</td>
   <td><tt>b69ae698f08589389f4c1a9b797dac8424e81791</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/kde-l10n/kde-l10n-sr-4.12.0.tar.xz">kde-l10n-sr-4.12.0</a></td>
   <td align="right">4.4MB</td>
   <td><tt>47111448a88c7a70d698995667884260bd3ed9c1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/kde-l10n/kde-l10n-sv-4.12.0.tar.xz">kde-l10n-sv-4.12.0</a></td>
   <td align="right">13MB</td>
   <td><tt>d571a39b0c21f66ca8586a14f7b7e85691d68756</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/kde-l10n/kde-l10n-tr-4.12.0.tar.xz">kde-l10n-tr-4.12.0</a></td>
   <td align="right">3.8MB</td>
   <td><tt>c0257c902ced02f74572506af3aa55acf539e104</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/kde-l10n/kde-l10n-ug-4.12.0.tar.xz">kde-l10n-ug-4.12.0</a></td>
   <td align="right">1.7MB</td>
   <td><tt>b9948830792db7a5d3959824d20a20fc41083adc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/kde-l10n/kde-l10n-uk-4.12.0.tar.xz">kde-l10n-uk-4.12.0</a></td>
   <td align="right">24MB</td>
   <td><tt>3024d1b2d7065b2f33beca0b35a47577cbdafd72</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/kde-l10n/kde-l10n-vi-4.12.0.tar.xz">kde-l10n-vi-4.12.0</a></td>
   <td align="right">922kB</td>
   <td><tt>fe0d53971f2a09d965d70dba1d5c8fafb1bdf5f1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/kde-l10n/kde-l10n-wa-4.12.0.tar.xz">kde-l10n-wa-4.12.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>2a86d7ab5943a943355ba62175bccaa04d43037c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/kde-l10n/kde-l10n-zh_CN-4.12.0.tar.xz">kde-l10n-zh_CN-4.12.0</a></td>
   <td align="right">3.4MB</td>
   <td><tt>aa6117a5505273fbda25a4c7c370ef310dabb360</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.0/src/kde-l10n/kde-l10n-zh_TW-4.12.0.tar.xz">kde-l10n-zh_TW-4.12.0</a></td>
   <td align="right">2.5MB</td>
   <td><tt>1671194ff2cd0786096969c2e0625d7359f92e42</tt></td>
</tr>

</table>
